html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  margin: 0;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  overflow-y: scroll;
}

html {
  background: url("../assets/img/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

canvas {
  position: absolute;
  image-rendering: optimizeSpeed;
  top: 0;
  cursor: none;
}

#wrapper header {
  text-align: center;
}

#wrapper header img {
  margin-top: -75px;
  max-width: 50%;
}

#wrapper footer {
  height: 55px;
  width: 100%;
  color: #ffc58e;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal {
  margin: auto;
  top: 100px;
  position: relative;
  background-image: url("../assets/img/common/hud-modal.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 100;

  input {
    width: calc(100% - 19px);
    text-align: right;
    background-color: #322838;
    padding: 10px;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
  }
}

#createCharacter,
#death,
#message,
#loader {
  display: none;
}

.form-field {
  display: block;
}

.form-field img {
  height: inherit;
  width: 50px;
  vertical-align: middle;
  margin-right: -55px;
  position: relative;
  z-index: 3;
}

#content {
  margin: auto;
  color: #c3bbb9;
}

#content h1 {
  text-align: center;
  margin-top: -20px;
}

.check {
  background: url("../assets/img/common/hud-checkbox-empty.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.check.active {
  background: url("../assets/img/common/hud-checkbox-checked.png");
  background-size: cover;
}

#rememberMe {
  display: inline-block;
  vertical-align: middle;
  padding-top: 3px;
}

#rememberMe .check {
  margin-right: 10px;
}

#rememberMeWrapper {
  padding-top: 3px;
}

.loader {
  width: 100%;
  height: 100%;
  z-index: 101;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 100%;
  background-color: #594858;
  align-items: center;
  justify-content: center;
  display: flex;
}

#join_guest {
  margin-top: 18px;
}

.button {
  padding: 5px 10px 10px 10px;
  cursor: pointer;
  text-align: center;
  max-width: 160px;
}

.button.green {
  background: url("../assets/img/common/hud-button-green.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button.red {
  background: url("../assets/img/common/hud-button-red.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button.purple {
  background: url("../assets/img/common/hud-button-purple.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.padding-top {
  padding-top: 10px;
}

/****************/

#container {
  z-index: 98;
  background: rgba(0, 0, 0, 0.8);
  top: 48%;
  left: 50%;
  opacity: 0;
}

#border {
  z-index: 99;
}

#chat-bar,
#world-bar {
  margin-top: 23%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  color: white;
  cursor: none;
}

#chat-bar {
  right: -8px;
  max-width: 25%;
}

#world-bar {
  left: 5px;
  max-width: 25%;
}

#hud-chat,
#hud-inventory,
#hud-world,
#hud-achievements {
  cursor: pointer;
}

#hud-chat {
  margin-bottom: 30px;
  width: 30%;
}

#hud-inventory {
  margin-top: 10px;
  width: 60%;
}

#hud-chat-input {
  margin-top: 25px;
  margin-left: -3px;
  padding: 10px;
  width: 97%;
  border: none;
  height: 100%;
  color: white;
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px 10px 0px 0px;
}

#hud-world {
  margin-top: 14px;
  width: 60%;
}

#hud-achievements {
  margin-bottom: 13px;
  width: 30%;
}

#hud {
  margin-top: 42%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
}

#hud-bar {
  background: url("../assets/img/hud-bar-2.png");
  background-size: 100% 100%;
  height: 90px;
  color: #fff;
}

#hud-bar-right {
  float: right;
  width: 25%;
  height: 100%;
  z-index: 96;
  position: relative;
  overflow: hidden;
  padding: 10px 10px 0 10px;
}

#hud-bar-left {
  float: left;
  width: 25%;
  height: 100%;
  z-index: 96;
  position: absolute;
  overflow: hidden;
  padding: 10px 10px 0 10px;
  margin-top: -90px;
}

#hud-bar-center {
  margin: auto;
  width: 100%;
  text-align: center;
  height: inherit;
  z-index: 95;
  /* overflow: hidden; */
  padding-right: 245px;
  padding-left: 245px;
}

.align-center {
  margin: auto;
}

/* Large Desktop */
@media only screen and (min-width: 1501px) {
  #modal {
    top: 48%;
  }

  #border {
    position: absolute;
    width: 1470px;
    height: 780px;
    left: 50%;
    top: 0;
    margin-left: -735px;
    border: 0;
    padding: 15px;
    background: url("../assets/img/3/border.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  #hud {
    width: 1450px;
  }

  #container {
    width: 1470px;
    height: 798px;
    margin: -378px auto auto -735px;
    position: absolute;
  }
}

/* Desktop View */
@media only screen and (max-width: 1500px),
  only screen and (max-height: 870px) {
  #border {
    position: absolute;
    width: 980px;
    height: 520px;
    left: 50%;
    top: 0;
    margin-left: -490px;
    border: 0;
    padding: 10px;
    background: url("../assets/img/2/border.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  #hud {
    width: 960px;
  }

  #container {
    width: 980px;
    height: 520px;
    margin: -252px auto auto -490px;
    position: absolute;
  }
}

/* Tablet View */
@media only screen and (max-width: 1000px) {
  .col-md-12 .hud-img {
    max-height: 40px;
    max-width: 40px;
  }

  #modal {
    top: 20%;
  }

  #border {
    position: absolute;
    width: 490px;
    height: 260px;
    left: 50%;
    top: 0;
    margin-left: -245px;
    border: 0;
    padding: 5px;
    background: url("../assets/img/1/border.png") no-repeat 0 0;
    background-size: 100% 100%;
  }

  #hud {
    width: 482px;
  }

  #hud-bar {
    height: 45px;
    font-size: 10px;
  }

  #hud-bar-right {
    padding: 2px 2px 0 2px;
  }

  #hud-bar-left {
    padding: 2px 2px 0 2px;
  }

  #hud-bar-center {
    padding-right: 120px;
    padding-left: 120px;
  }

  #container {
    width: 490px;
    height: 266px;
    margin: -126px auto auto -245px;
    position: absolute;
  }
}
