html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

canvas {
  position: absolute;
  image-rendering: optimizeSpeed;
}

// #background,
// #textCanvas,
// #foreground,
// #cursor {
//   margin: 0;
//   padding: 0;
// }

#wrapper,
#createCharacter,
#loadCharacter,
#error {
  width: 90%;
  height: 40%;
}

#container {
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
}

footer {
  font-family: sans-serif;
  position: absolute;
  bottom: 5%;
  left: 0;
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
}

.sub-forum-link {
  color: #ffffff;
}

.link:hover {
  cursor: pointer;
  color: #d83939;
}

#about-link span:hover,
#credits-link span:hover,
#git-link span:hover,
#forums-link span:hover,
.sub-forum-link:hover {
  color: #ffffff;
  cursor: pointer;
}

.game footer {
  color: #fcda5c;
}

.game footer {
  opacity: 0;
}

footer div {
  display: inline-block;
}

#canvas,
#foreground,
#background,
#textCanvas,
#container,
#border,
#footer,
#cursor {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#foreground,
#background,
#entities,
#cursor {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

#death p {
  margin-top: 10%;
}

#respawn {
  margin-top: 5%;
}

#wrapper,
#wrapper input,
#wrapper select {
  font-family: sans-serif;
}

#wrapper input {
  width: 50%;
  background: rgba(54, 42, 59, 0.9);
  text-align: center;
  color: #000;
}

#wrapper input:focus {
  border-color: #000;
  background: rgba(54, 42, 59, 0.7);
  color: #fff;
}

#wrapper input.field-error {
  background: rgba(255, 0, 0, 0.1);
  border-color: #f84444;
}

#wrapper select {
  width: 25%;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  color: black;
}

#alert {
  height: 50px;
  width: 100%;
  background: #d83939;
  color: #eee;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #000;
}

#wrapper p {
  font-family: sans-serif;
  line-height: 1.2em;
}

#credits,
#git,
#about,
#loadCharacter,
#createCharacter,
#death,
#welcome,
#error {
  opacity: 0;
  pointer-events: none;
}

#credits,
#about,
#git,
#death,
#welcome,
#error,
#loadCharacter,
#createCharacter {
  position: absolute;
  left: 50%;
  text-align: center;
  font-family: sans-serif;
  z-index: 1000;
}

.credits #credits,
.about #about,
.git #git,
.death #death,
.welcomeMessage #welcome,
.error #error,
.createCharacter #createCharacter,
.loadCharacter #loadCharacter {
  opacity: 1;
  pointer-events: auto;
}

#credits,
#about,
#death,
#welcome,
#git {
  top: 50%;
}

#wtf {
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  margin-top: -12%;
  z-index: 100;
  position: relative;
  display: block;
}

#adventure {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  margin-top: -1%;
  z-index: 1;
  position: relative;
}

#createCharacter form {
  position: relative;
}

.loader {
  position: relative;
  margin-top: 25%;
}

#container {
  top: 48%;
  left: 50%;
}

#wrapper,
#respawn {
  background-image: url("../assets/img/common/hud-modal.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper-footer {
  height: 160px;
  width: 100%;
  color: #fff;
  background-image: url("../assets/img/common/hud-modal.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  top: 100%;
  position: relative;
}

@media only screen and (min-width: 1501px) {
  #credits,
  #about,
  #death,
  #welcome,
  #git {
    width: 1266px;
    height: 546px;
    margin-left: -633px;
    margin-top: -273px;
    font-size: 30px;
  }

  #border {
    position: absolute;
    width: 1470px;
    height: 780px;
    left: 50%;
    top: 0;
    margin-left: -735px;
    border: 0;
    padding: 15px;
    background: url("../assets/img/3/border.png") no-repeat 0 0;
  }

  #container {
    width: 1470px;
    height: 798px;
    margin: -378px auto auto -735px;
    position: absolute;
  }

  #loginButton,
  #createCharacter,
  #loadCharacter,
  #error {
    position: absolute;
    top: 48%;
    left: 50%;
    margin-left: -633px;
    margin-top: -273px;
    font-size: 20px;
    text-align: center;
    z-index: 1000;
  }

  #wrapper input,
  #wrapper select {
    padding: 0 15px;
    border: 3px solid #000;
    font-size: 30px;
    border-radius: 9px;
  }

  #wrapper input {
    margin-top: 10px;
    height: 60px;
  }

  #wrapper select {
    margin-top: 24px;
    height: 48px;
    width: 23%;
  }

  #wrapper.createCharacter input {
    margin-top: 24px;
    height: 45px;
  }

  #respawn {
    background-size: 1266px auto;
  }

  .game.death {
    width: 1038px;
    margin-left: -519px;
    background-position: -114px -882px;
  }

  #respawn {
    width: 375px;
    height: 153px;
    margin: 63px auto 0 auto;
    background-position: 0 -1428px;
  }

  #respawn:active {
    background-position: -375px -1428px;
  }

  .loader {
    margin-top: 27%;
    font-size: 26px;
  }
}

@media only screen and (max-width: 1500px),
  only screen and (max-height: 870px) {
  #wrapper-footer {
    height: 100px;
  }

  #credits,
  #about,
  #death,
  #git {
    width: 844px;
    height: 364px;
    margin-left: -422px;
    margin-top: -182px;
    font-size: 20px;
  }

  #welcome {
    width: 644px;
    height: 364px;
    margin-left: -322px;
    margin-top: -152px;
    font-size: 18px;
  }

  #border {
    position: absolute;
    width: 980px;
    height: 520px;
    left: 50%;
    top: 0;
    margin-left: -490px;
    border: 0;
    padding: 10px;
    background: url("../assets/img/2/border.png") no-repeat 0 0;
  }

  #container {
    width: 980px;
    height: 532px;
    margin: -252px auto auto -490px;
    position: absolute;
  }

  #wrapper,
  #createCharacter,
  #loadCharacter,
  #error {
    position: absolute;
    top: 48%;
    left: 50%;
    margin-left: -422px;
    margin-top: -182px;
    font-size: 20px;
    text-align: center;
    z-index: 2;
  }

  #wrapper input,
  #wrapper select {
    padding: 0 10px;
    border: 2px solid #000;
    font-size: 20px;
    border-radius: 6px;
  }

  #wrapper input {
    margin-top: 20px;
    height: 41px;
  }

  #wrapper select {
    margin-top: 16px;
    height: 32px;
    width: 23%;
  }

  #wrapper.createCharacter input {
    margin-top: 15px;
    height: 30px;
  }

  #respawn {
    background-size: 844px auto;
  }

  #respawn {
    width: 250px;
    height: 102px;
    margin: 42px auto 0 auto;
    background-position: 0 -952px;
  }

  #respawn:active {
    background-position: -250px -952px;
  }
}

@media only screen and (max-width: 1000px) {
  #wrapper-footer {
    height: 60px;
  }

  #credits,
  #about,
  #death,
  #git {
    width: 422px;
    height: 182px;
    margin-left: -211px;
    margin-top: -91px;
    font-size: 10px;
  }

  #welcome {
    width: 322px;
    height: 182px;
    margin-left: -161px;
    margin-top: -76px;
    font-size: 10px;
  }

  #border {
    position: absolute;
    width: 490px;
    height: 260px;
    left: 50%;
    top: 0;
    margin-left: -245px;
    border: 0;
    padding: 5px;
    background: url("../assets/img/1/border.png") no-repeat 0 0;
  }

  #container {
    width: 490px;
    height: 266px;
    margin: -126px auto auto -245px;
    position: absolute;
  }

  #wrapper,
  #createCharacter,
  #loadCharacter,
  #error {
    position: absolute;
    top: 48%;
    left: 50%;
    margin-left: -211px;
    margin-top: -91px;
    font-size: 10px;
    text-align: center;
    z-index: 2;
  }

  #wrapper input,
  #wrapper select {
    padding: 0 5px;
    border: 1px solid #000;
    font-size: 10px;
    border-radius: 3px;
  }

  #wrapper input {
    margin-top: 10px;
    height: 20px;
  }

  #wrapper select {
    margin-top: 8px;
    height: 16px;
    width: 23%;
  }

  #wrapper.createCharacter input {
    margin-top: 8px;
    height: 15px;
  }

  #respawn {
    background-size: 422px auto;
  }

  #respawn {
    width: 125px;
    height: 51px;
    margin: 21px auto 0 auto;
    background-position: 0 -476px;
  }

  #respawn:active {
    background-position: -125px -476px;
  }
}

.align-center {
  margin: auto;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

.gp {
  font-family: sans-serif;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: #111;
  overflow: hidden;
  image-rendering: -moz-crisp-edges;
  border-top: 2px solid #707070;
}

#resizeCheck {
  top: 0;
  height: 0;
  left: 0;
  position: absolute;
  -moz-transition: 0.001s height ease-in-out;
  -webkit-transition: 0.001s height ease-in-out;
  -o-transition: 0.001s height ease-in-out;
  transition: 0.001s height ease-in-out;
}

body {
  background: url("../assets/img/background.png") no-repeat center center;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.link:hover {
  cursor: pointer;
  color: #d83939;
}

#resizeCheck {
  position: absolute;
  height: 0;
  top: 0;
  left: 0;
  -moz-transition: 0.001s height ease-in-out;
  -webkit-transition: 0.001s height ease-in-out;
  -o-transition: 0.001s height ease-in-out;
  transition: 0.001s height ease-in-out;
}

.validation-summary {
  margin: 0.5em;
  min-height: 1em;
  position: absolute;
  left: 33%;
}

.validation-error {
  color: #880000;
  text-shadow: 2px 2px 2px #ff6666;
  font-size: 15px;
}

.status {
  color: #0033cc;
  text-shadow: 2px 2px 2px #3399ff;
  font-size: 15px;
}

#bubbles {
  z-index: 99999;
  background-color: #fff;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  font-family: sans-serif;
}

#bubbles a {
  pointer-events: auto;
  text-decoration: none;
  color: #fcda5c;
}

#bubbles p {
  margin-top: 6px;
}

.pointer {
  display: inline-block;
  position: absolute;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.bubble {
  background: rgba(45, 45, 45, 0.7);
  padding: 3px 10px 0 10px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  text-align: center;
  position: absolute;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.bubbleTip {
  width: 11px;
  height: 10px;
  top: 10px;
  background: url("../assets/img/thingy.png");
  margin: 0 auto;
  position: relative;
}

#abilityShortcut {
  left: 38%;
  position: absolute;
}

#chat {
  display: none;
  position: absolute;
  pointer-events: none;
}

#chat p {
  font-family: sans-serif;
  line-height: 20px;
}

#chatLog {
  width: 100%;
  max-height: 200px;
  margin-top: -90%;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  line-height: 15px;
}

#talk {
  width: 100%;
}

#talk .input {
  color: #eee;
  background: none;
  width: 90%;
  margin-left: 2%;
  border: 0;
}

#yes,
#no {
  position: absolute;
  width: 200px;
}

#yes,
#no {
  top: 70%;
}

#yes {
  left: 10%;
}

#continue,
#cancelButton {
  top: 70%;
}

#cancelButton {
  left: 10%;
}

#no {
  left: 60%;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(1, #4d4d4d),
    color-stop(1, #c5c5c5)
  );
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #707070;
  border: 1px solid #000000;
}

input[type="range"]::-webkit-slider-thumb:active {
  background-color: #fcda5c;
}

audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

#about p {
  width: 50%;
  margin-left: 10%;
  margin-top: 5%;
}

#close-about {
  margin-top: 20%;
}

@media only screen and (min-width: 1501px) {
  #resizeCheck {
    height: 3px;
  }

  .validation-error,
  .status {
    font-size: 22px;
  }

  #bubbles {
    width: 1443px;
    height: 768px;
    margin-bottom: -768px;
    top: 15px;
    left: 12px;
  }

  #chat {
    width: 750px;
    height: 300px;
    top: 405px;
    left: 375px;
  }

  #chatLog {
    font-size: 15px;
  }

  #talk {
    margin-top: 300px;
    height: 30px;
  }

  #talk .input {
    font-size: 15px;
    padding: 6px 0;
  }

  #continue {
    background-position: -1242px 0;
  }

  #continue:hover {
    background-position: -1242px -87px;
  }

  #continue:active {
    background-position: -1242px -174px;
  }

  #continue.disabled {
    background-position: -1242px -261px;
  }

  #cancelButton {
    background-position: -933px 0;
  }

  #cancelButton:hover {
    background-position: -933px -87px;
  }

  #cancelButton:active {
    background-position: -933px -174px;
  }

  #cancelButton.disabled {
    background-position: -933px -261px;
  }

  .validation-summary {
    width: 366px;
  }

  input[type="range"] {
    border-radius: 9px;
    height: 9px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 24px;
    width: 15px;
  }
}

@media only screen and (max-width: 1500px),
  only screen and (max-height: 870px) {
  #resizeCheck {
    height: 2px;
  }

  .validation-error,
  .status {
    font-size: 16px;
  }

  #bubbles {
    width: 962px;
    height: 512px;
    margin-bottom: -512px;
    top: 10px;
    left: 8px;
  }

  #chat {
    width: 500px;
    height: 200px;
    top: 250px;
    left: 250px;
  }

  #chatLog {
    font-size: 15px;
  }

  #talk {
    margin-top: 200px;
    height: 20px;
  }

  #talk .input {
    font-size: 10px;
    padding: 4px 0;
  }

  #continue {
    background-position: -828px 0;
  }

  #continue:hover {
    background-position: -828px -58px;
  }

  #continue:active {
    background-position: -828px -116px;
  }

  #continue.disabled {
    background-position: -828px -174px;
  }

  #cancelButton {
    background-position: -622px 0;
  }

  #cancelButton:hover {
    background-position: -622px -58px;
  }

  #cancelButton:active {
    background-position: -622px -116px;
  }

  #cancelButton.disabled {
    background-position: -622px -174px;
  }

  .validation-summary {
    width: 256px;
  }

  input[type="range"] {
    border-radius: 6px;
    height: 6px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 15px;
    width: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  #resizeCheck {
    height: 1px;
  }

  .validation-error,
  .status {
    font-size: 8px;
  }

  #bubbles {
    width: 481px;
    height: 256px;
    margin-bottom: -256px;
    top: 5px;
    left: 4px;
  }

  #chat {
    width: 250px;
    height: 100px;
    top: 135px;
    left: 125px;
  }

  p {
    font-size: 10px;
  }

  #talk {
    margin-top: 100px;
    height: 10px;
  }

  #talk .input {
    font-size: 5px;
    padding: 2px 0;
  }

  #continue {
    background-position: -414px 0;
  }

  #continue:hover {
    background-position: -414px -29px;
  }

  #continue:active {
    background-position: -414px -58px;
  }

  #continue.disabled {
    background-position: -414px -87px;
  }

  #cancelButton {
    background-position: -311px 0;
  }

  #cancelButton:hover {
    background-position: -311px -29px;
  }

  #cancelButton:active {
    background-position: -311px -58px;
  }

  #cancelButton.disabled {
    background-position: -311px -87px;
  }

  .validation-summary {
    width: 128px;
  }

  input[type="range"] {
    border-radius: 3px;
    height: 3px;
  }

  #yes {
    left: 0;
  }

  #no {
    left: 40%;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 8px;
    width: 5px;
  }
}
