body.game {
}

.game #loadCharacter,
.game #createCharacter,
.game #error,
.game #modal {
  display: none;
}

.game #wrapper {
  z-index: 0;
  -moz-transition: 0.5s opacity linear 0.5s, z-index 0s linear 1s;
  -o-transition: 0.5s opacity linear 0.5s, z-index 0s linear 1s;
  -webkit-transition: 0.5s opacity linear 0.5s, z-index 0s linear 1s;
  transition: 0.5s opacity linear 0.5s, z-index 0s linear 1s;
  top: 50%;
}

.game #credits,
.game #death,
.game #welcome,
.game #about,
.game #git {
  opacity: 0;
  -moz-transition: 0s opacity linear 0s;
  -o-transition: 0s opacity linear 0s;
  -webkit-transition: 0s opacity linear 0s;
  transition: 0s opacity linear 0s;
  z-index: 1000;
}

.game.credits #credits,
.game.death #death,
.game.welcomeMessage #welcome,
.game.about #about,
.game.git #git {
  opacity: 1;
  -moz-transition: 0.5s opacity linear 0.5s;
  -o-transition: 0.5s opacity linear 0.5s;
  -webkit-transition: 0.5s opacity linear 0.5s;
  transition: 0.5s opacity linear 0.5s;
  z-index: 1000;
}

.game.credits #wrapper,
.game.death #wrapper,
.game.welcomeMessage #wrapper,
.game.about #wrapper,
.game.git #wrapper {
  opacity: 1;
  -moz-transition: 0.5s opacity linear 0s;
  -o-transition: 0.5s opacity linear 0s;
  -webkit-transition: 0.5s opacity linear 0s;
  transition: 0.5s opacity linear 0s;
  z-index: 1000;
}

.game #container {
  opacity: 1;
  /* background: #000; */
}