/nbproject/private/
/iOSClient/nbproject/private/
/server/nbproject/private/
/shared/nbproject/private/
/tools/nbproject/private/
/client/nbproject/private/
/Learning/nbproject/private/
*.js
!/server/js/variations.js
!/client/js/dialog.js