
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

@font-face {
    font-family: 'GraphicPixel';
    src: url('../fonts/graphicpixel-webfont.eot');
    src: url('../fonts/graphicpixel-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/graphicpixel-webfont.woff') format('woff'),
    url('../fonts/graphicpixel-webfont.ttf') format('truetype'),
    url('../fonts/graphicpixel-webfont.svg#GraphicPixelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdvoCut';
    src: url('../fonts/advocut-webfont.eot');
    src: url('../fonts/advocut-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/advocut-webfont.woff') format('woff'),
    url('../fonts/advocut-webfont.ttf') format('truetype'),
    url('../fonts/advocut-webfont.svg#AndinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#mana {
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
}

#mana.white {
    -moz-animation:flash 0.5s linear 1;
    -webkit-animation:flash 0.5s linear 1;
    -o-animation:flash 0.5s linear 1;
    -ms-animation:flash 0.5s linear 1;
    animation:flash 0.5s linear 1;
}

#health {
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #FF8888, #FF0000);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #FF8888, #FF0000);
}

#health.white {
    -moz-animation:flash 0.5s linear 1;
    -webkit-animation:flash 0.5s linear 1;
    -o-animation:flash 0.5s linear 1;
    -ms-animation:flash 0.5s linear 1;
    animation:flash 0.5s linear 1;
}


#health.invincible {
    -moz-animation: invincible 0.3s steps(3, end) alternate infinite;
    -webkit-animation: invincible 0.3s steps(3, end) alternate infinite;
    -o-animation:invincible 0.3s steps(3, end) alternate infinite;
    -ms-animation:invincible 0.3s steps(3, end) alternate infinite;
}

@media screen and (min-width: 1501px) {

    #basebarcontainer {
        position: absolute;
        width: 970px;
        height: 66px;
        top: 672px;
        left: calc(50% - 444px);
        border: 0px;
        text-align: center;
        font-size: 21px;
        background-image: url('../img/3/main.png' );
        background-position: -370px -768px;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    #hpcontainer, #mpcontainer{
	font-family:'GraphicPixel';
	color:#e3e3e3;
	position:absolute;
        top: 9px;
        width: 264px;
        height: -18px;
        border: 0px;
        margin-left: 0px;
        text-align: center;
        cursor: default;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    #hpcontainer {
        left: 6px;
    }
    #mpcontainer {
        left: 288px;
    }
    #expcontainer {
        position: absolute;
        left: 0px;
        top: 48px;
        width: 572px;
        height: 15px;
        border: 0px;
        margin-left: 0px;
        text-align: center;
        cursor: default;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    #health, #mana {
        position: absolute;
        top: 4.5px;
        left: 30px;
        width: 230px;
        height: 26px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        text-align: center;
        -moz-transition:.5s width ease;
        -webkit-transition:.5s width ease;
        -o-transition:.5s width ease;
        -ms-transition:.5s width ease;
        transition:.5s width ease;
    }

    #mana {
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
    }
    #exp {
        position: absolute;
        top: 1.5px;
        left: 0px;
        width: 564px;
        height: 15px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, #44FF44, #008800);
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, #44FF44, #008800);
    }
    #healthbar, #manabar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 264px;
        height: 39px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: white;
    }
    #healthbar, #manabar p{
        font-size: 6px;
        line-height: 0%;
    }
    #healthbar {
        background-image: url('../img/3/main.png' );
        background-position: 0px -834px;
    }
    #manabar {
        background-image: url('../img/3/main.png' );
        background-position: -264px -834px;
    }

    #expbar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 560px;
        height: 15px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        background-image: url('../img/3/main.png' );
        background-position: 0px -873px;
        color: rgba(255, 255, 255, 1);
        font-size: 0px;
        text-align: center;
    }
    #healthtext, #manatext {
        position: absolute;
        top: 9px;
        left: 0px;
        width: 264px;
        height: 39px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        line-height: 39px;
        text-align: center;
        color: white;
        font-family: 'GraphicPixel', sans-serif;
    }
    #hpguide{
        background: rgb(128,64,64);
        position: absolute;
        display: none;
        height: 33px;
        width: 3px;
        top: 3px;
        left: 0px;
    }

    #inventoryButton {
        position: absolute;
        width: 42px;
        height: 45px;
        top: 3px;
        left: 565.5px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/3/main.png') no-repeat -588px -942px;
    }

    #inventoryButton:hover {
        background: url('../img/3/main.png') no-repeat -630px -942px;
    }

    #inventoryButton.active {
        background: url('../img/3/main.png') no-repeat -672px -942px;
    }

    #characterButton {
        position: absolute;
        width: 42px;
        height: 45px;
        top: 3px;
        left: 609px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/3/main.png') no-repeat -714px -942px;
    }

    #characterButton:hover {
        background: url('../img/3/main.png') no-repeat -756px -942px;
    }

    #characterButton.active {
        background: url('../img/3/main.png') no-repeat -798px -942px;
    }


    #helpbutton {
        position: absolute;
        width: 42px;
        height: 45px;
        top: 3px;
        left: 654px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/3/main.png' ) no-repeat -840px -942px;
    }

    #helpbutton:hover {
        background: url('../img/3/main.png' ) no-repeat -882px -942px;
    }

    #helpbutton.active {
        background: url('../img/3/main.png' ) no-repeat -924px -942px;
    }

    #soundbutton {
        position: absolute;
        width: 42px;
        height: 45px;
        top: 3px;
        left: 744px;
        margin: 0px;
        border: 0px;
        background: url('../img/3/main.png' ) no-repeat -378px -942px;
    }

    #soundbutton:hover {
        background: url('../img/3/main.png' ) no-repeat -336px -942px;
    }

    #soundbutton.active {
        background: url('../img/3/main.png' ) no-repeat -294px -942px;
    }

    #warpbutton {
        position: absolute;
        width: 42px;
        height: 45px;
        top: 3px;
        left: 699px;
        margin: 0px;
        border: 0px;
        background: url('../img/3/main.png' ) no-repeat -966px -942px;
    }

    #warpbutton:hover {
        background: url('../img/3/main.png' ) no-repeat -1008px -942px;
    }

    #warpbutton.active {
        background: url('../img/3/main.png' ) no-repeat -1050px -942px;
    }

    #chatbutton {
        position: absolute;
        width: 42px;
        height: 45px;
        top: 3px;
        left: 789px;
        margin: 0px;
        border: 0px;
        background: url('../img/3/main.png' ) no-repeat -1134px -942px;
    }

    #chatbutton:hover {
        background: url('../img/3/main.png' ) no-repeat -1092px -942px;
    }

    #chatbutton.active {
        background: url('../img/3/main.png' ) no-repeat -1176px -942px;
    }

    #users {
	font-family:'GraphicPixel';
	color:#e3e3e3;
	position:absolute;
        width: 80px;
        height: 60px;
        top: 18px;
        left: 878px;
        margin: 0px;
        border: 0px;
        color: white;
        font-family: 'GraphicPixel', sans-serif;
        font-size: 18px;
    }

    #fps {
	font-family:'GraphicPixel';
	color:#e3e3e3;
	position:absolute;
        width: 150px;
        height: 12px;
        left: 624px;
        top: 46px;
        border: 0px;
        color: rgba(255, 255, 255, 1);
        font-size: 13.5px;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }

}

@media screen and (max-width: 1500px), screen and (max-height: 870px) {
    #basebarcontainer {
        position: absolute;
        width: 650px;
        height: 44px;
        top: 447px;
        left: calc(50% - 296px);
        border: 0px;
        text-align: center;
        font-size: 14px;
        background-image: url('../img/2/main.png' );
        background-position: -244px -510px;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    #hpcontainer, #mpcontainer{
        font-family:'GraphicPixel';
	    color:#e3e3e3;
	    position:absolute;
        top: 4px;
        width: 176px;
        height: 26px;
        border: 0px;
        margin-left: 0px;
        text-align: center;
        cursor: default;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    #hpcontainer {
        left: 4px;
    }
    #mpcontainer {
        left: 196px;
    }
    #expcontainer {
        position: absolute;
        left: 0px;
        top: 34px;
        width: 372px;
        height: 10px;
        border: 0px;
        margin-left: 0px;
        text-align: center;
        cursor: default;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    #health, #mana {
        position: absolute;
        top: 3px;
        left: 20px;
        width: 154px;
        height: 20px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        text-align: center;
        -moz-transition:.5s width ease;
        -webkit-transition:.5s width ease;
        -o-transition:.5s width ease;
        -ms-transition:.5s width ease;
        transition:.5s width ease;
    }

    #mana {
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
    }
    #exp {
        position: absolute;
        top: 1px;
        left: 0px;
        width: 372px;
        height: 9px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, #44FF44, #008800);
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, #44FF44, #008800);
    }
    #healthbar, #manabar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 176px;
        height: 26px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: white;
    }
    #healthbar, #manabar p{
        font-size: 12px;
        line-height: 0%;
    }
    #healthbar {
        background-image: url('../img/2/main.png' );
        background-position: 0px -556px;
    }
    #manabar {
        background-image: url('../img/2/main.png' );
        background-position: -176px -556px;
    }

    #expbar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 376px;
        height: 9px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        background-image: url('../img/2/main.png' );
        background-position: 0px -582px;
        color: rgba(255, 255, 255, 1);
        font-size: 0px;
        text-align: center;

    }
    #healthtext, #manatext {
        position: absolute;
        top: 6px;
        left: 0px;
        width: 176px;
        height: 26px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        line-height: 26px;
        text-align: center;
        color: white;
    }
    #hpguide{
        background: rgb(128,64,64);
        position: absolute;
        display: none;
        height: 22px;
        width: 2px;
        top: 2px;
        left: 0px;
    }

    #inventoryButton {
        position: absolute;
        width: 28px;
        height: 30px;
        top: 2px;
        left: 377px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/2/main.png') no-repeat -392px -628px;
    }

    #inventoryButton:hover {
        background: url('../img/2/main.png') no-repeat -420px -628px;
    }

    #inventoryButton.active {
        background: url('../img/2/main.png') no-repeat -448px -628px;
    }

    #characterButton {
        position: absolute;
        width: 28px;
        height: 30px;
        top: 2px;
        left: 406px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/2/main.png') no-repeat -476px -628px;
    }

    #characterButton:hover {
        background: url('../img/2/main.png') no-repeat -504px -628px;
    }

    #characterButton.active {
        background: url('../img/2/main.png') no-repeat -532px -628px;
    }


    #helpbutton {
        position: absolute;
        width: 28px;
        height: 30px;
        top: 2px;
        left: 436px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/2/main.png' ) no-repeat -560px -628px;
    }

    #helpbutton:hover {
        background: url('../img/2/main.png' ) no-repeat -588px -628px;
    }

    #helpbutton.active {
        background: url('../img/2/main.png' ) no-repeat -616px -628px;
    }

    #soundbutton {
        position: absolute;
        width: 28px;
        height: 30px;
        top: 2px;
        left: 496px;
        margin: 0px;
        border: 0px;
        background: url('../img/2/main.png' ) no-repeat -252px -628px;
    }

    #soundbutton:hover {
        background: url('../img/2/main.png' ) no-repeat -224px -628px;
    }

    #soundbutton.active {
        background: url('../img/2/main.png' ) no-repeat -196px -628px;
    }

    #warpbutton {
        position: absolute;
        width: 28px;
        height: 30px;
        top: 0px;
        left: 466px;
        margin: 0px;
        border: 0px;
        background: url('../img/2/main.png' ) no-repeat -644px -628px;
    }

    #warpbutton:hover {
        background: url('../img/2/main.png' ) no-repeat -672px -628px;
    }

    #warpbutton.active {
        background: url('../img/2/main.png' ) no-repeat -700px -628px;
    }

    #chatbutton {
        position: absolute;
        width: 28px;
        height: 30px;
        top: 0px;
        left: 526px;
        margin: 0px;
        border: 0px;
        background: url('../img/2/main.png' ) no-repeat -756px -628px;
    }

    #chatbutton:hover {
        background: url('../img/2/main.png' ) no-repeat -728px -628px;
    }

    #chatbutton.active {
        background: url('../img/2/main.png' ) no-repeat -784px -628px;
    }

    #users {
        font-family:'GraphicPixel';
        color:#e3e3e3;
        position:absolute;
        width: 60px;
        height: 40px;
        top: 12px;
        left: 585px;
        margin: 0px;
        border: 0px;
        font-size: 12px;
        color: white;
    }
    #fps {
	font-family:'GraphicPixel';
	color:#e3e3e3;
	position:absolute;
        width: 100px;
        height: 8px;
        left: 416px;
        top: 33px;
        border: 0px;
        color: rgba(255, 255, 255, 1);
        font-size: 9px;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }


}

@media screen and (max-width: 1000px) {

    #basebarcontainer {
        position: absolute;
        width: 326px;
        height: 22px;
        top: 223px;
        left: calc(50% - 146px);
        margin-left: 0px;
        border: 0px;
        text-align: center;
        font-size: 7px;
        background-image: url('../img/1/main.png' );
        background-position: -122px -256px;
        -moz-user-select: none;
        -webkit-user-select: none;
        margin-right:100px;
    }

    #hpcontainer, #mpcontainer{
	font-family:'GraphicPixel';
	color:#e3e3e3;
	position:absolute;
        top: 3px;
        width: 88px;
        height: 0px;
        border: 0px;
        margin-left: 0px;
        text-align: center;
        cursor: default;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    #hpcontainer {
        left: 2px;
    }
    #mpcontainer {
        left: 99px;
    }
    #expcontainer {
        position: absolute;
        left: 0px;
        top: 16px;
        width: 188px;
        height: 5px;
        border: 0px;
        margin-left: 0px;
        text-align: center;
        cursor: default;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    #health, #mana {
        position: absolute;
        top: 1.5px;
        left: 10px;
        width: 77px;
        height: 9px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        text-align: center;
        -moz-transition:.5s width ease;
        -webkit-transition:.5s width ease;
        -o-transition:.5s width ease;
        -ms-transition:.5s width ease;
        transition:.5s width ease;
    }

    #mana {
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
    }
    #exp {
        position: absolute;
        top: 0.5px;
        left: 0px;
        width: 188px;
        height: 5px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, #44FF44, #008800);
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, #44FF44, #008800);
    }
    #healthbar, #manabar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 88px;
        height: 13px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: white;
    }
    #healthbar, #manabar p{
        font-size: 6px;
        line-height: 0%;
    }
    #healthbar {
        background-image: url('../img/1/main.png' );
        background-position: 0px -278px;
    }
    #manabar {
        background-image: url('../img/1/main.png' );
        background-position: -88px -278px;
    }
    #expbar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 188px;
        height: 5px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        background-image: url('../img/1/main.png' );
        background-position: 0px -291px;
        color: rgba(255, 255, 255, 1);
        font-size: 0px;
        text-align: center;         
    }
    #healthtext, #manatext {
        position: absolute;
        top: 3px;
        left: 0px;
        width: 88px;
        height: 13px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        line-height: 13px;
        text-align: center;
        color: white;

    }
    #healthtext p {
        font-size: 7px;
    }
    #manatext p {
        font-size: 7px;
    }
    #hpguide{
        background: rgb(128,64,64);
        position: absolute;
        display: none;
        height: 11px;
        width: 1px;
        top: 1px;
        left: 0px;
    }


    #inventoryButton {
        position: absolute;
        width: 14px;
        height: 15px;
        top: 1px;
        left: 188.5px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/1/main.png') no-repeat -196px -314px;
    }

    #inventoryButton:hover {
        background: url('../img/1/main.png') no-repeat -210px -314px;
    }

    #inventoryButton.active {
        background: url('../img/1/main.png') no-repeat -224px -314px;
    }

    #characterButton {
        position: absolute;
        width: 14px;
        height: 15px;
        top: 1px;
        left: 203px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/1/main.png') no-repeat -238px -314px;
    }

    #characterButton:hover {
        background: url('../img/1/main.png') no-repeat -252px -314px;
    }

    #characterButton.active {
        background: url('../img/1/main.png') no-repeat -266px -314px;
    }


    #helpbutton {
        position: absolute;
        width: 14px;
        height: 15px;
        top: 1px;
        left: 218px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/1/main.png' ) no-repeat -280px -314px;
    }

    #helpbutton:hover {
        background: url('../img/1/main.png' ) no-repeat -294px -314px;
    }

    #helpbutton.active {
        background: url('../img/1/main.png' ) no-repeat -308px -314px;
    }

    #soundbutton {
        position: absolute;
        width: 14px;
        height: 15px;
        top: 1px;
        left: 248px;
        margin: 0px;
        border: 0px;
        background: url('../img/1/main.png' ) no-repeat -126px -314px;
    }

    #soundbutton:hover {
        background: url('../img/1/main.png' ) no-repeat -112px -314px;
    }

    #soundbutton.active {
        background: url('../img/1/main.png' ) no-repeat -98px -314px;
    }

    #warpbutton {
        position: absolute;
        width: 14px;
        height: 15px;
        top: 0px;
        left: 233px;
        margin: 0px;
        border: 0px;
        background: url('../img/1/main.png' ) no-repeat -322px -314px;
    }

    #warpbutton:hover {
        background: url('../img/1/main.png' ) no-repeat -336px -314px;
    }

    #warpbutton.active {
        background: url('../img/1/main.png' ) no-repeat -350px -314px;
    }

    #chatbutton {
        position: absolute;
        width: 14px;
        height: 15px;
        top: 0px;
        left: 263px;
        margin: 0px;
        border: 0px;
        background: url('../img/1/main.png' ) no-repeat -378px -314px;
    }

    #chatbutton:hover {
        background: url('../img/1/main.png' ) no-repeat -364px -314px;
    }

    #chatbutton.active {
        background: url('../img/1/main.png' ) no-repeat -392px -314px;
    }



    #users {
	font-family:'GraphicPixel';
	color:#e3e3e3;
	position:absolute;
        width: 30px;
        height: 20px;
        top: 6px;
        left: 293px;
        margin: 0px;
        border: 0px;
        color: white;
        font-family: 'GraphicPixel', sans-serif;
        font-size: 6px;
    }
    
    
    #fps {
	font-family:'GraphicPixel';
	color:#e3e3e3;
	position:absolute;
        width: 50px;
        height: 4px;
        left: 208px;
        top: 16.5px;
        border: 0px;
        color: rgba(255, 255, 255, 1);
        font-size: 4.5px;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
}


.clickable {

}