@media only screen and (min-width: 1501px) {
  #basebarcontainer {
    font-size: 21px;
    background-image: url("../img/3/maintwo.png");
    background-position: 0 -768px;
    position: absolute;
    left: 15px;
    top: 669px;
    width: 1440px;
    height: 66px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  #expcontainer {
    position: absolute;
    left: 0;
    top: 48px;
    width: 564px;
    height: 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  #hpcontainer,
  #mpcontainer {
    font-family: "GraphicPixel";
    position: absolute;
    left: initial;
    top: 9px;
    width: 264px;
    height: 18px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  #hpcontainer {
    left: 3px;
  }
  #mpcontainer {
    left: 279px;
  }
  #health,
  #mana {
    transition: .5s width ease;
    position: absolute;
    left: 30px;
    top: 3px;
    width: 231px;
    height: 30px;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #health {
    background: linear-gradient(top, #ff8888, #ff0000);
    background: -webkit-linear-gradient(top, #ff8888, #ff0000);
    background: -moz-linear-gradient(top, #ff8888, #ff0000);
    background: -o-linear-gradient(top, #ff8888, #ff0000);
    background: -ms-linear-gradient(top, #ff8888, #ff0000);
  }
  #health.white {
    animation: flash 0.5s linear 1;
  }
  #health.invincible {
    animation: invincible 0.3s steps(3, end) alternate infinite;
  }
  #mana {
    background: linear-gradient(top, #5e91dd, #375480);
    background: -webkit-linear-gradient(top, #5e91dd, #375480);
    background: -moz-linear-gradient(top, #5e91dd, #375480);
    background: -o-linear-gradient(top, #5e91dd, #375480);
    background: -ms-linear-gradient(top, #5e91dd, #375480);
  }
  #exp {
    transition: 0.5s width ease;
    background: linear-gradient(top, #44FF44, #008800);
    background: -webkit-linear-gradient(top, #44FF44, #008800);
    background: -moz-linear-gradient(top, #44FF44, #008800);
    background: -o-linear-gradient(top, #44FF44, #008800);
    background: -ms-linear-gradient(top, #44FF44, #008800);
    position: absolute;
    left: 0;
    top: 0;
    width: 564px;
    height: 15px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #healthbar,
  #manabar {
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 264px;
    height: 39px;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #healthtext p,
  #manatext p {
    font-size: 21px;
    line-height: 21px;
  }
  #healthbar {
    background-image: url("../img/3/maintwo.png");
    background-position: 0 -834px;
  }
  #manabar {
    background-image: url("../img/3/maintwo.png");
    background-position: -264px -834px;
  }
  #expbar {
    background-image: url("../img/3/maintwo.png");
    background-position: 0 -873px;
    position: absolute;
    left: 0;
    top: 0;
    width: 564px;
    height: 15px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #healthtext,
  #manatext {
    top: -13.5px;
    line-height: 13px;
    color: white;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 6px;
    width: 264px;
    height: 39px;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #hpguide {
    background: #804040;
    position: absolute;
    left: 0;
    top: 3px;
    width: 3px;
    height: 33px;
    display: none;
  }
  #inventorybackground0,
  #inventorybackground1,
  #inventorybackground2,
  #inventorybackground3,
  #inventorybackground4,
  #inventorybackground5 {
    background-image: url("../img/3/maintwo.png");
    position: absolute;
    left: 549px;
    top: 6px;
    width: 48px;
    height: 60px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #inventorybackground5 {
    margin-left: 255px;
    background-position: -837px -834px;
  }
  #inventorybackground5.empty {
    background-position: -549px -834px;
  }
  #inventorybackground4 {
    margin-left: 204px;
    background-position: -789px -834px;
  }
  #inventorybackground4.empty {
    background-position: -549px -834px;
  }
  #inventorybackground3 {
    margin-left: 153px;
    background-position: -741px -834px;
  }
  #inventorybackground3.empty {
    background-position: -549px -834px;
  }
  #inventorybackground2 {
    margin-left: 102px;
    background-position: -693px -834px;
  }
  #inventorybackground2.empty {
    background-position: -549px -834px;
  }
  #inventorybackground1 {
    margin-left: 51px;
    background-position: -645px -834px;
  }
  #inventorybackground1.empty {
    background-position: -549px -834px;
  }
  #inventorybackground0 {
    margin-left: 0px;
    background-position: -597px -834px;
  }
  #inventorybackground0.empty {
    background-position: -549px -834px;
  }
  /*WTF
        #inventorybackground0 { margin-left: 0; }
        #inventorybackground1 { margin-left: 17px; }
        #inventorybackground2 { margin-left: 33px; }
        #inventorybackground3 { margin-left: 51px; display: none; }
        #inventorybackground4 { margin-left: 68px; display: none; }
        #inventorybackground5 { margin-left: 85px; display: none; }
        */
  #inventory0,
  #inventory1,
  #inventory2,
  #inventory3,
  #inventory4,
  #inventory5 {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: -7.5px;
    width: 48px;
    height: 48px;
  }
  #inventorynumber0,
  #inventorynumber1,
  #inventorynumber2,
  #inventorynumber3,
  #inventorynumber4,
  #inventorynumber5 {
    color: #ffffff;
    font-size: 13.5px;
    position: absolute;
    left: 0;
    top: 45px;
    width: 48px;
    height: 12px;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #moreinventorybutton {
    background: url("../img/3/maintwo.png") no-repeat -591px -556px;
    padding: 0;
    border: 0;
    margin: 0;
    display: none;
    position: absolute;
    left: 856.5px;
    top: 0;
    width: 48px;
    height: 51px;
  }
  #inventoryButton {
    background-color: rgba(0, 0, 0, 0);
    background: url("../img/3/main.png") no-repeat -588px -942px;
    position: absolute;
    left: 856.5px;
    top: 3px;
    width: 42px;
    height: 45px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #inventoryButton.active {
    background: url("../img/3/main.png") no-repeat -630px -942px;
  }
  #inventoryButton:hover {
    background: url("../img/3/main.png") no-repeat -672px -942px;
  }
  #characterButton {
    background: url("../img/3/main.png") no-repeat -714px -942px;
    position: absolute;
    left: 1305px;
    top: 3px;
    width: 42px;
    height: 45px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #characterButton:hover {
    background: url("../img/3/main.png") no-repeat -756px -942px;
  }
  #characterButton.active {
    background: url("../img/3/main.png") no-repeat -798px -942px;
  }
  #helpbutton {
    background: url("../img/3/main.png") no-repeat -126px -942px;
    position: absolute;
    left: 1350px;
    top: 3px;
    width: 42px;
    height: 45px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #helpbutton:hover,
  #helpbutton.blink:hover {
    background: url("../img/3/main.png") no-repeat -168px -942px;
  }
  #helpbutton.active {
    background: url("../img/3/main.png") no-repeat -210px -942px;
  }
  #helpbutton.blink {
    background: url("../img/3/main.png") no-repeat -252px -942px;
  }
  #soundbutton {
    background: url("../img/3/main.png") no-repeat -378px -942px;
    position: absolute;
    left: 1395px;
    top: 3px;
    width: 42px;
    height: 45px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #soundbutton:hover {
    background: url("../img/3/main.png") no-repeat -336px -942px;
  }
  #soundbutton.active {
    background: url("../img/3/main.png") no-repeat -294px -942px;
  }
  #warpbutton {
    background: url("../img/3/main.png") no-repeat -966px -942px;
    position: absolute;
    left: 699px;
    top: 3px;
    width: 42px;
    height: 45px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #warpbutton:hover {
    background: url("../img/3/main.png") no-repeat -1008px -942px;
  }
  #warpbutton.active {
    background: url("../img/3/main.png") no-repeat -1050px -942px;
  }
  #chatbutton {
    background: url("../img/3/maintwo.png") no-repeat -588px -942px;
    position: absolute;
    left: 1263px;
    top: 3px;
    width: 42px;
    height: 45px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #chatbutton:hover {
    background: url("../img/3/maintwo.png") no-repeat -630px -942px;
  }
  #chatbutton.active {
    background: url("../img/3/maintwo.png") no-repeat -672px -942px;
  }
  #users {
    font-family: "GraphicPixel";
    color: white;
    position: absolute;
    left: 1203px;
    top: 18px;
    width: 52.5px;
    height: 18px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #fps {
    font-family: 'GraphicPixel';
    color: #ffffff;
    font-size: 13.5px;
    position: absolute;
    left: 1287px;
    top: 51.9px;
    width: 132px;
    height: 12px;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 1500px), only screen and (max-height: 870px) {
  #basebarcontainer {
    font-size: 14px;
    background-image: url("../img/2/maintwo.png");
    background-position: 0 -512px;
    position: absolute;
    left: 10px;
    top: 446px;
    width: 960px;
    height: 44px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  #expcontainer {
    position: absolute;
    left: 0;
    top: 32px;
    width: 376px;
    height: 10px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  #hpcontainer,
  #mpcontainer {
    font-family: "GraphicPixel";
    position: absolute;
    left: initial;
    top: 6px;
    width: 176px;
    height: 12px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  #hpcontainer {
    left: 2px;
  }
  #mpcontainer {
    left: 186px;
  }
  #health,
  #mana {
    transition: .5s width ease;
    position: absolute;
    left: 20px;
    top: 2px;
    width: 154px;
    height: 20px;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #health {
    background: linear-gradient(top, #ff8888, #ff0000);
    background: -webkit-linear-gradient(top, #ff8888, #ff0000);
    background: -moz-linear-gradient(top, #ff8888, #ff0000);
    background: -o-linear-gradient(top, #ff8888, #ff0000);
    background: -ms-linear-gradient(top, #ff8888, #ff0000);
  }
  #health.white {
    animation: flash 0.5s linear 1;
  }
  #health.invincible {
    animation: invincible 0.3s steps(3, end) alternate infinite;
  }
  #mana {
    background: linear-gradient(top, #5e91dd, #375480);
    background: -webkit-linear-gradient(top, #5e91dd, #375480);
    background: -moz-linear-gradient(top, #5e91dd, #375480);
    background: -o-linear-gradient(top, #5e91dd, #375480);
    background: -ms-linear-gradient(top, #5e91dd, #375480);
  }
  #exp {
    transition: 0.5s width ease;
    background: linear-gradient(top, #44FF44, #008800);
    background: -webkit-linear-gradient(top, #44FF44, #008800);
    background: -moz-linear-gradient(top, #44FF44, #008800);
    background: -o-linear-gradient(top, #44FF44, #008800);
    background: -ms-linear-gradient(top, #44FF44, #008800);
    position: absolute;
    left: 0;
    top: 0;
    width: 376px;
    height: 10px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #healthbar,
  #manabar {
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 176px;
    height: 26px;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #healthtext p,
  #manatext p {
    font-size: 14px;
    line-height: 14px;
  }
  #healthbar {
    background-image: url("../img/2/maintwo.png");
    background-position: 0 -556px;
  }
  #manabar {
    background-image: url("../img/2/maintwo.png");
    background-position: -176px -556px;
  }
  #expbar {
    background-image: url("../img/2/maintwo.png");
    background-position: 0 -582px;
    position: absolute;
    left: 0;
    top: 0;
    width: 376px;
    height: 10px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #healthtext,
  #manatext {
    top: -9px;
    line-height: 13px;
    color: white;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 4px;
    width: 176px;
    height: 26px;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #hpguide {
    background: #804040;
    position: absolute;
    left: 0;
    top: 2px;
    width: 2px;
    height: 22px;
    display: none;
  }
  #inventorybackground0,
  #inventorybackground1,
  #inventorybackground2,
  #inventorybackground3,
  #inventorybackground4,
  #inventorybackground5 {
    background-image: url("../img/2/maintwo.png");
    position: absolute;
    left: 366px;
    top: 4px;
    width: 32px;
    height: 40px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #inventorybackground5 {
    margin-left: 170px;
    background-position: -558px -556px;
  }
  #inventorybackground5.empty {
    background-position: -366px -556px;
  }
  #inventorybackground4 {
    margin-left: 136px;
    background-position: -526px -556px;
  }
  #inventorybackground4.empty {
    background-position: -366px -556px;
  }
  #inventorybackground3 {
    margin-left: 102px;
    background-position: -494px -556px;
  }
  #inventorybackground3.empty {
    background-position: -366px -556px;
  }
  #inventorybackground2 {
    margin-left: 68px;
    background-position: -462px -556px;
  }
  #inventorybackground2.empty {
    background-position: -366px -556px;
  }
  #inventorybackground1 {
    margin-left: 34px;
    background-position: -430px -556px;
  }
  #inventorybackground1.empty {
    background-position: -366px -556px;
  }
  #inventorybackground0 {
    margin-left: 0px;
    background-position: -398px -556px;
  }
  #inventorybackground0.empty {
    background-position: -366px -556px;
  }
  /*WTF
        #inventorybackground0 { margin-left: 0; }
        #inventorybackground1 { margin-left: 17px; }
        #inventorybackground2 { margin-left: 33px; }
        #inventorybackground3 { margin-left: 51px; display: none; }
        #inventorybackground4 { margin-left: 68px; display: none; }
        #inventorybackground5 { margin-left: 85px; display: none; }
        */
  #inventory0,
  #inventory1,
  #inventory2,
  #inventory3,
  #inventory4,
  #inventory5 {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: -5px;
    width: 32px;
    height: 32px;
  }
  #inventorynumber0,
  #inventorynumber1,
  #inventorynumber2,
  #inventorynumber3,
  #inventorynumber4,
  #inventorynumber5 {
    color: #ffffff;
    font-size: 9px;
    position: absolute;
    left: 0;
    top: 30px;
    width: 32px;
    height: 8px;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #moreinventorybutton {
    background: url("../img/2/maintwo.png") no-repeat -591px -556px;
    padding: 0;
    border: 0;
    margin: 0;
    display: none;
    position: absolute;
    left: 571px;
    top: 0;
    width: 32px;
    height: 34px;
  }
  #inventoryButton {
    background-color: rgba(0, 0, 0, 0);
    background: url("../img/2/main.png") no-repeat -392px -628px;
    position: absolute;
    left: 571px;
    top: 2px;
    width: 28px;
    height: 30px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #inventoryButton.active {
    background: url("../img/2/main.png") no-repeat -420px -628px;
  }
  #inventoryButton:hover {
    background: url("../img/2/main.png") no-repeat -448px -628px;
  }
  #characterButton {
    background: url("../img/2/main.png") no-repeat -476px -628px;
    position: absolute;
    left: 870px;
    top: 2px;
    width: 28px;
    height: 30px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #characterButton:hover {
    background: url("../img/2/main.png") no-repeat -504px -628px;
  }
  #characterButton.active {
    background: url("../img/2/main.png") no-repeat -532px -628px;
  }
  #helpbutton {
    background: url("../img/2/main.png") no-repeat -84px -628px;
    position: absolute;
    left: 900px;
    top: 2px;
    width: 28px;
    height: 30px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #helpbutton:hover,
  #helpbutton.blink:hover {
    background: url("../img/2/main.png") no-repeat -112px -628px;
  }
  #helpbutton.active {
    background: url("../img/2/main.png") no-repeat -140px -628px;
  }
  #helpbutton.blink {
    background: url("../img/2/main.png") no-repeat -168px -628px;
  }
  #soundbutton {
    background: url("../img/2/main.png") no-repeat -252px -628px;
    position: absolute;
    left: 930px;
    top: 2px;
    width: 28px;
    height: 30px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #soundbutton:hover {
    background: url("../img/2/main.png") no-repeat -224px -628px;
  }
  #soundbutton.active {
    background: url("../img/2/main.png") no-repeat -196px -628px;
  }
  #warpbutton {
    background: url("../img/2/main.png") no-repeat -644px -628px;
    position: absolute;
    left: 466px;
    top: 2px;
    width: 28px;
    height: 30px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #warpbutton:hover {
    background: url("../img/2/main.png") no-repeat -672px -628px;
  }
  #warpbutton.active {
    background: url("../img/2/main.png") no-repeat -700px -628px;
  }
  #chatbutton {
    background: url("../img/2/maintwo.png") no-repeat -392px -628px;
    position: absolute;
    left: 842px;
    top: 2px;
    width: 28px;
    height: 30px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #chatbutton:hover {
    background: url("../img/2/maintwo.png") no-repeat -420px -628px;
  }
  #chatbutton.active {
    background: url("../img/2/maintwo.png") no-repeat -448px -628px;
  }
  #users {
    font-family: "GraphicPixel";
    color: white;
    position: absolute;
    left: 802px;
    top: 12px;
    width: 35px;
    height: 12px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #fps {
    font-family: 'GraphicPixel';
    color: #ffffff;
    font-size: 9px;
    position: absolute;
    left: 858px;
    top: 34.6px;
    width: 88px;
    height: 8px;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 1000px) {
  #basebarcontainer {
    font-size: 7px;
    background-image: url("../img/1/maintwo.png");
    background-position: 0 -256px;
    position: absolute;
    left: 5px;
    top: 223px;
    width: 480px;
    height: 22px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  #expcontainer {
    position: absolute;
    left: 0;
    top: 16px;
    width: 188px;
    height: 5px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  #hpcontainer,
  #mpcontainer {
    font-family: "GraphicPixel";
    position: absolute;
    left: initial;
    top: 3px;
    width: 88px;
    height: 6px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  #hpcontainer {
    left: 1px;
  }
  #mpcontainer {
    left: 93px;
  }
  #health,
  #mana {
    transition: .5s width ease;
    position: absolute;
    left: 10px;
    top: 1px;
    width: 77px;
    height: 10px;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #health {
    background: linear-gradient(top, #ff8888, #ff0000);
    background: -webkit-linear-gradient(top, #ff8888, #ff0000);
    background: -moz-linear-gradient(top, #ff8888, #ff0000);
    background: -o-linear-gradient(top, #ff8888, #ff0000);
    background: -ms-linear-gradient(top, #ff8888, #ff0000);
  }
  #health.white {
    animation: flash 0.5s linear 1;
  }
  #health.invincible {
    animation: invincible 0.3s steps(3, end) alternate infinite;
  }
  #mana {
    background: linear-gradient(top, #5e91dd, #375480);
    background: -webkit-linear-gradient(top, #5e91dd, #375480);
    background: -moz-linear-gradient(top, #5e91dd, #375480);
    background: -o-linear-gradient(top, #5e91dd, #375480);
    background: -ms-linear-gradient(top, #5e91dd, #375480);
  }
  #exp {
    transition: 0.5s width ease;
    background: linear-gradient(top, #44FF44, #008800);
    background: -webkit-linear-gradient(top, #44FF44, #008800);
    background: -moz-linear-gradient(top, #44FF44, #008800);
    background: -o-linear-gradient(top, #44FF44, #008800);
    background: -ms-linear-gradient(top, #44FF44, #008800);
    position: absolute;
    left: 0;
    top: 0;
    width: 188px;
    height: 5px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #healthbar,
  #manabar {
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 88px;
    height: 13px;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #healthtext p,
  #manatext p {
    font-size: 7px;
    line-height: 7px;
  }
  #healthbar {
    background-image: url("../img/1/maintwo.png");
    background-position: 0 -278px;
  }
  #manabar {
    background-image: url("../img/1/maintwo.png");
    background-position: -88px -278px;
  }
  #expbar {
    background-image: url("../img/1/maintwo.png");
    background-position: 0 -291px;
    position: absolute;
    left: 0;
    top: 0;
    width: 188px;
    height: 5px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #healthtext,
  #manatext {
    top: -4.5px;
    line-height: 13px;
    color: white;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 2px;
    width: 88px;
    height: 13px;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #hpguide {
    background: #804040;
    position: absolute;
    left: 0;
    top: 1px;
    width: 1px;
    height: 11px;
    display: none;
  }
  #inventorybackground0,
  #inventorybackground1,
  #inventorybackground2,
  #inventorybackground3,
  #inventorybackground4,
  #inventorybackground5 {
    background-image: url("../img/1/maintwo.png");
    position: absolute;
    left: 183px;
    top: 2px;
    width: 16px;
    height: 20px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #inventorybackground5 {
    margin-left: 85px;
    background-position: -279px -278px;
  }
  #inventorybackground5.empty {
    background-position: -183px -278px;
  }
  #inventorybackground4 {
    margin-left: 68px;
    background-position: -263px -278px;
  }
  #inventorybackground4.empty {
    background-position: -183px -278px;
  }
  #inventorybackground3 {
    margin-left: 51px;
    background-position: -247px -278px;
  }
  #inventorybackground3.empty {
    background-position: -183px -278px;
  }
  #inventorybackground2 {
    margin-left: 34px;
    background-position: -231px -278px;
  }
  #inventorybackground2.empty {
    background-position: -183px -278px;
  }
  #inventorybackground1 {
    margin-left: 17px;
    background-position: -215px -278px;
  }
  #inventorybackground1.empty {
    background-position: -183px -278px;
  }
  #inventorybackground0 {
    margin-left: 0px;
    background-position: -199px -278px;
  }
  #inventorybackground0.empty {
    background-position: -183px -278px;
  }
  /*WTF
        #inventorybackground0 { margin-left: 0; }
        #inventorybackground1 { margin-left: 17px; }
        #inventorybackground2 { margin-left: 33px; }
        #inventorybackground3 { margin-left: 51px; display: none; }
        #inventorybackground4 { margin-left: 68px; display: none; }
        #inventorybackground5 { margin-left: 85px; display: none; }
        */
  #inventory0,
  #inventory1,
  #inventory2,
  #inventory3,
  #inventory4,
  #inventory5 {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: -2.5px;
    width: 16px;
    height: 16px;
  }
  #inventorynumber0,
  #inventorynumber1,
  #inventorynumber2,
  #inventorynumber3,
  #inventorynumber4,
  #inventorynumber5 {
    color: #ffffff;
    font-size: 4.5px;
    position: absolute;
    left: 0;
    top: 15px;
    width: 16px;
    height: 4px;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #moreinventorybutton {
    background: url("../img/1/maintwo.png") no-repeat -591px -556px;
    padding: 0;
    border: 0;
    margin: 0;
    display: none;
    position: absolute;
    left: 285.5px;
    top: 0;
    width: 16px;
    height: 17px;
  }
  #inventoryButton {
    background-color: rgba(0, 0, 0, 0);
    background: url("../img/1/main.png") no-repeat -196px -314px;
    position: absolute;
    left: 285.5px;
    top: 1px;
    width: 14px;
    height: 15px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #inventoryButton.active {
    background: url("../img/1/main.png") no-repeat -210px -314px;
  }
  #inventoryButton:hover {
    background: url("../img/1/main.png") no-repeat -224px -314px;
  }
  #characterButton {
    background: url("../img/1/main.png") no-repeat -238px -314px;
    position: absolute;
    left: 435px;
    top: 1px;
    width: 14px;
    height: 15px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #characterButton:hover {
    background: url("../img/1/main.png") no-repeat -252px -314px;
  }
  #characterButton.active {
    background: url("../img/1/main.png") no-repeat -266px -314px;
  }
  #helpbutton {
    background: url("../img/1/main.png") no-repeat -42px -314px;
    position: absolute;
    left: 450px;
    top: 1px;
    width: 14px;
    height: 15px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #helpbutton:hover,
  #helpbutton.blink:hover {
    background: url("../img/1/main.png") no-repeat -56px -314px;
  }
  #helpbutton.active {
    background: url("../img/1/main.png") no-repeat -70px -314px;
  }
  #helpbutton.blink {
    background: url("../img/1/main.png") no-repeat -84px -314px;
  }
  #soundbutton {
    background: url("../img/1/main.png") no-repeat -126px -314px;
    position: absolute;
    left: 465px;
    top: 1px;
    width: 14px;
    height: 15px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #soundbutton:hover {
    background: url("../img/1/main.png") no-repeat -112px -314px;
  }
  #soundbutton.active {
    background: url("../img/1/main.png") no-repeat -98px -314px;
  }
  #warpbutton {
    background: url("../img/1/main.png") no-repeat -322px -314px;
    position: absolute;
    left: 233px;
    top: 1px;
    width: 14px;
    height: 15px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #warpbutton:hover {
    background: url("../img/1/main.png") no-repeat -336px -314px;
  }
  #warpbutton.active {
    background: url("../img/1/main.png") no-repeat -350px -314px;
  }
  #chatbutton {
    background: url("../img/1/maintwo.png") no-repeat -196px -314px;
    position: absolute;
    left: 421px;
    top: 1px;
    width: 14px;
    height: 15px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #chatbutton:hover {
    background: url("../img/1/maintwo.png") no-repeat -210px -314px;
  }
  #chatbutton.active {
    background: url("../img/1/maintwo.png") no-repeat -224px -314px;
  }
  #users {
    font-family: "GraphicPixel";
    color: white;
    position: absolute;
    left: 401px;
    top: 6px;
    width: 17.5px;
    height: 6px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #fps {
    font-family: 'GraphicPixel';
    color: #ffffff;
    font-size: 4.5px;
    position: absolute;
    left: 429px;
    top: 17.3px;
    width: 44px;
    height: 4px;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
  }
}
