html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face {
        font-family: 'GraphicPixel';
        src: url('../fonts/graphicpixel-webfont.eot');
        src: url('../fonts/graphicpixel-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/graphicpixel-webfont.woff') format('woff'),
             url('../fonts/graphicpixel-webfont.ttf') format('truetype'),
             url('../fonts/graphicpixel-webfont.svg#GraphicPixelRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
@font-face {
        font-family: 'AdvoCut';
        src: url('../fonts/advocut-webfont.eot');
        src: url('../fonts/advocut-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/advocut-webfont.woff') format('woff'),
             url('../fonts/advocut-webfont.ttf') format('truetype'),
             url('../fonts/advocut-webfont.svg#AndinaRegular') format('svg');
        font-weight: normal;
        font-style: normal;
}

@media screen and (min-width: 1501px) {
 
     #basebarcontainer {
      position: absolute;
      width: 1440px;
      height: 66px;
      top: 684px;
      left: 15px;
      margin-left: 0px;
      border: 0px;
      text-align: center;
      font-size: 21px;
      background-image: url('../img/3/main.png' );
      background-position: 0px -768px;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
    
    #hpcontainer, #mpcontainer{
      position: absolute;
      top: 9px;
      width: 264px;
      height: -18px;
      border: 0px;
      margin-left: 0px;
      text-align: center;
      cursor: default;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
    #hpcontainer {
      left: 3px;
    }
    #mpcontainer {
      left: 279px;
    }
    #expcontainer {
      position: absolute;
      left: 0px;
      top: 51px;
      width: 564px;
      height: 15px;
      border: 0px;
      margin-left: 0px;
      text-align: center;
      cursor: default;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
    #health, #mana {
      position: absolute;
      top: 3px;
      left: 30px;
      width: 230px;
      height: 30px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      text-align: center;
    }
    #health {
      /* Safari 5.1, Chrome 10+ */
      background: -webkit-linear-gradient(top, #FF8888, #FF0000);
      /* Firefox 3.6+ */
      background: -moz-linear-gradient(top, #FF8888, #FF0000);
    }
    #mana {
      /* Safari 5.1, Chrome 10+ */
      background: -webkit-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
      /* Firefox 3.6+ */
      background: -moz-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
    }
    #exp {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 564px;
      height: 15px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      /* Safari 5.1, Chrome 10+ */
      background: -webkit-linear-gradient(top, #44FF44, #008800);
      /* Firefox 3.6+ */
      background: -moz-linear-gradient(top, #44FF44, #008800);
    }
    #healthbar, #manabar {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 264px;
      height: 39px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      text-align: center;
      color: white;
    }
    #healthbar, #manabar p{
      font-size: 6px;
      line-height: 0%;
    }
    #healthbar {
      background-image: url('../img/3/main.png' );
      background-position: 0px -834px;
    }
    #manabar {
      background-image: url('../img/3/main.png' );
      background-position: -264px -834px;
    }
    
    #expbar {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 564px;
      height: 15px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      background-image: url('../img/3/main.png' );
      background-position: 0px -873px;
    }
    #healthtext, #manatext {
      position: absolute;
      top: -0.25px;
      left: 0px;
      width: 264px;
      height: 39px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      line-height: 39px;
      text-align: center;
      color: white;
    }
    #hpguide{
      background: rgb(128,64,64);
      position: absolute;
      display: none;
      height: 33px;
      width: 3px;
      top: 3px;
      left: 0px;
    }
    #inventorybackground0, #inventorybackground1, #inventorybackground2, #inventorybackground3, #inventorybackground4, #inventorybackground5 {
      position: absolute;
      width: 48px;
      height: 60px;
      top: 6px;
      left: 549px;
      margin: 0px;
      border: 0px;
      background-image: url('../img/3/main.png' );
    }
    #inventorybackground0 {
      margin-left: 0px;
      background-position: -597px -834px;
    }
    #inventorybackground0.empty {
      background-position: -549px -834px;
    }
    #inventorybackground1 {
      margin-left: 34px;
      background-position: -645px -834px;
    }
    #inventorybackground1.empty {
      background-position: -549px -834px;
    }
    #inventorybackground2 {
      margin-left: 68px;
      background-position: -693px -834px;
    }
    #inventorybackground2.empty {
      background-position: -549px -834px;
    }
    #inventorybackground3 {
      margin-left: 102px;
      background-position: -741px -834px;
    }
    #inventorybackground3.empty {
      background-position: -549px -834px;
    }
    #inventorybackground4 {
      margin-left: 136px;
      background-position: -789px -834px;
    }
    #inventorybackground4.empty {
      background-position: -549px -834px;
    }
    #inventorybackground5 {
      margin-left: 170px;
      background-position: -837px -834px;
      display: none;
    }
    #inventorybackground5.empty {
      background-position: -549px -834px;
    }
    #inventorybackground0 { margin-left: 0px; }
    #inventorybackground1 { margin-left: 51px; }
    #inventorybackground2 { margin-left: 99px; }
    #inventorybackground3 { margin-left: 153px; display: none; }
    #inventorybackground4 { margin-left: 204px; display: none; }
    #inventorybackground5 { margin-left: 255px; display: none; }
    #inventory0, #inventory1, #inventory2, #inventory3, #inventory4, #inventory5 {
      position: absolute;
      top: -7.5px;
      left: 0px;
      width: 48px;
      height: 48px;
      background-color: rgba(0, 0, 0, 0);
    }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5{
      position: absolute;
      width: 48px;
      height: 12px;
      left: 0px;
      top: 87px;
      border: 0px;
      color: rgba(255, 255, 255, 1);
      font-size: 13.5px;
      text-align: center;
      padding: 0px;
      margin: 0px;
    }
    #moreinventorybutton{
      position: absolute;
      display: none;
      width: 48px;
      height: 51px;
      top: 0px;
      left: 852px;
      margin: 0px;
      border: 0px;
      background: url('../img/3/main.png') no-repeat -591px -556px;
    }

      #characterButton {
      position: absolute;
      width: 42px;
      height: 45px;
      top: 3px;
      left: 1305px;
      margin: 0px;
      border: 0px;
      background-color: rgba(0, 0, 0, 0);
      background: url('../img/3/main.png') no-repeat -0px -945px;
    }
    #helpbutton {
      position: absolute;
      width: 42px;
      height: 45px;
      top: 3px;
      left: 1350px;
      margin: 0px;
      border: 0px;
      background-color: rgba(0, 0, 0, 0);
      background: url('../img/3/main.png' ) no-repeat -421px -945px;
    }
    #soundbutton {
      position: absolute;
      width: 42px;
      height: 45px;
      top: 3px;
      left: 1395px;
      margin: 0px;
      border: 0px;
      background: url('../img/3/main.png' ) no-repeat -379px -945px;
    }
    
    #users {
      position: absolute;
      width: 96px;
      height: 60px;
      top: 18px;
      left: 1203px;
      margin: 0px;
      border: 0px;
      color: white;
    }
    #fps {
      position: absolute;
      width: 132px;
      height: 12px;
      left: 1305px;
      top: 49.5px;
      border: 0px;
      color: rgba(255, 255, 255, 1);
      font-size: 13.5px;
      text-align: center;
      padding: 0px;
      margin: 0px;
    }
    
}

@media screen and (max-width: 1500px), screen and (max-height: 870px) {
    #basebarcontainer {
      position: absolute;
      width: 960px;
      height: 44px;
      top: 456px;
      left: 10px;
      margin-left: 0px;
      border: 0px;
      text-align: center;
      font-size: 14px;
      background-image: url('../img/2/main.png' );
      background-position: 0px -512px;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
    
    #hpcontainer, #mpcontainer{
      position: absolute;
      top: 6px;
      width: 176px;
      height: 26px;
      border: 0px;
      margin-left: 0px;
      text-align: center;
      cursor: default;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
    #hpcontainer {
      left: 2px;
    }
    #mpcontainer {
      left: 186px;
    }
    #expcontainer {
      position: absolute;
      left: 0px;
      top: 34px;
      width: 376px;
      height: 10px;
      border: 0px;
      margin-left: 0px;
      text-align: center;
      cursor: default;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
    #health, #mana {
      position: absolute;
      top: 2px;
      left: 20px;
      width: 154px;
      height: 22px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      text-align: center;
    }
    #health {
      /* Safari 5.1, Chrome 10+ */
      background: -webkit-linear-gradient(top, #FF8888, #FF0000);
      /* Firefox 3.6+ */
      background: -moz-linear-gradient(top, #FF8888, #FF0000);
    }
    #mana {
      /* Safari 5.1, Chrome 10+ */
      background: -webkit-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
      /* Firefox 3.6+ */
      background: -moz-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
    }
    #exp {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 376px;
      height: 10px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      /* Safari 5.1, Chrome 10+ */
      background: -webkit-linear-gradient(top, #44FF44, #008800);
      /* Firefox 3.6+ */
      background: -moz-linear-gradient(top, #44FF44, #008800);
    }
    #healthbar, #manabar {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 176px;
      height: 26px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      text-align: center;
      color: white;
    }
    #healthbar, #manabar p{
      font-size: 12px;
      line-height: 0%;
    }
    #healthbar {
      background-image: url('../img/2/main.png' );
      background-position: 0px -556px;
    }
    #manabar {
      background-image: url('../img/2/main.png' );
      background-position: -176px -556px;
    }
    
    #expbar {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 376px;
      height: 10px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      background-image: url('../img/2/main.png' );
      background-position: 0px -582px;
    }
    #healthtext, #manatext {
      position: absolute;
      top: 6.5px;
      left: 0px;
      width: 176px;
      height: 26px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      line-height: 26px;
      text-align: center;
      color: white;
    }
    #hpguide{
      background: rgb(128,64,64);
      position: absolute;
      display: none;
      height: 22px;
      width: 2px;
      top: 2px;
      left: 0px;
    }
    #inventorybackground0, #inventorybackground1, #inventorybackground2, #inventorybackground3, #inventorybackground4, #inventorybackground5 {
      position: absolute;
      width: 32px;
      height: 40px;
      top: 4px;
      left: 366px;
      margin: 0px;
      border: 0px;
      background-image: url('../img/2/main.png' );
    }
    #inventorybackground0 {
      margin-left: 0px;
      background-position: -398px -556px;
    }
    #inventorybackground0.empty {
      background-position: -366px -556px;
    }
    #inventorybackground1 {
      margin-left: 34px;
      background-position: -430px -556px;
    }
    #inventorybackground1.empty {
      background-position: -366px -556px;
    }
    #inventorybackground2 {
      margin-left: 68px;
      background-position: -462px -556px;
    }
    #inventorybackground2.empty {
      background-position: -366px -556px;
    }
    #inventorybackground3 {
      margin-left: 102px;
      background-position: -494px -556px;
    }
    #inventorybackground3.empty {
      background-position: -366px -556px;
    }
    #inventorybackground4 {
      margin-left: 136px;
      background-position: -526px -556px;
    }
    #inventorybackground4.empty {
      background-position: -366px -556px;
    }
    #inventorybackground5 {
      margin-left: 170px;
      background-position: -558px -556px;
      display: none;
    }
    #inventorybackground5.empty {
      background-position: -366px -556px;
    }
    #inventorybackground0 { margin-left: 0px; }
    #inventorybackground1 { margin-left: 34px; }
    #inventorybackground2 { margin-left: 68px; }
    #inventorybackground3 { margin-left: 102px; display: none; }
    #inventorybackground4 { margin-left: 136px; display: none; }
    #inventorybackground5 { margin-left: 170px; display: none; }
    #inventory0, #inventory1, #inventory2, #inventory3, #inventory4, #inventory5 {
      position: absolute;
      top: -5px;
      left: 0px;
      width: 32px;
      height: 32px;
      background-color: rgba(0, 0, 0, 0);
    }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5{
      position: absolute;
      width: 32px;
      height: 8px;
      left: 0px;
      top: 29px;
      border: 0px;
      color: rgba(255, 255, 255, 1);
      font-size: 9px;
      text-align: center;
      padding: 0px;
      margin: 0px;
    }
    #moreinventorybutton{
      position: absolute;
      display: none;
      width: 32px;
      height: 34px;
      top: 0px;
      left: 568px;
      margin: 0px;
      border: 0px;
      background: url('../img/2/main.png') no-repeat -591px -556px;
    }

    #characterButton {
      position: absolute;
      width: 28px;
      height: 30px;
      top: 2px;
      left: 870px;
      margin: 0px;
      border: 0px;
      background-color: rgba(0, 0, 0, 0);
      background: url('../img/2/main.png') no-repeat -0px -628px;
    }
    #helpbutton {
      position: absolute;
      width: 28px;
      height: 30px;
      top: 2px;
      left: 900px;
      margin: 0px;
      border: 0px;
      background-color: rgba(0, 0, 0, 0);
      background: url('../img/2/main.png' ) no-repeat -280px -628px;
    }
    #soundbutton {
      position: absolute;
      width: 28px;
      height: 30px;
      top: 2px;
      left: 930px;
      margin: 0px;
      border: 0px;
      background: url('../img/2/main.png' ) no-repeat -252px -628px;
    }
    #users {
      position: absolute;
      width: 64px;
      height: 40px;
      top: 12px;
      left: 802px;
      margin: 0px;
      border: 0px;
      color: white;
    }
    #fps {
      position: absolute;
      width: 88px;
      height: 8px;
      left: 870px;
      top: 33px;
      border: 0px;
      color: rgba(255, 255, 255, 1);
      font-size: 9px;
      text-align: center;
      padding: 0px;
      margin: 0px;
    }
    
    
}

@media screen and (max-width: 1000px) {
 
     #basebarcontainer {
      position: absolute;
      width: 480px;
      height: 22px;
      top: 228px;
      left: 5px;
      margin-left: 0px;
      border: 0px;
      text-align: center;
      font-size: 7px;
      background-image: url('../img/1/main.png' );
      background-position: 0px -256px;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
    
    #hpcontainer, #mpcontainer{
      position: absolute;
      top: 3px;
      width: 88px;
      height: -6px;
      border: 0px;
      margin-left: 0px;
      text-align: center;
      cursor: default;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
    #hpcontainer {
      left: 1px;
    }
    #mpcontainer {
      left: 93px;
    }
    #expcontainer {
      position: absolute;
      left: 0px;
      top: 17px;
      width: 188px;
      height: 5px;
      border: 0px;
      margin-left: 0px;
      text-align: center;
      cursor: default;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
    #health, #mana {
      position: absolute;
      top: 1px;
      left: 10px;
      width: 77px;
      height: 11px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      text-align: center;
    }
    #health {
      /* Safari 5.1, Chrome 10+ */
      background: -webkit-linear-gradient(top, #FF8888, #FF0000);
      /* Firefox 3.6+ */
      background: -moz-linear-gradient(top, #FF8888, #FF0000);
    }
    #mana {
      /* Safari 5.1, Chrome 10+ */
      background: -webkit-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
      /* Firefox 3.6+ */
      background: -moz-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
    }
    #exp {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 188px;
      height: 5px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      /* Safari 5.1, Chrome 10+ */
      background: -webkit-linear-gradient(top, #44FF44, #008800);
      /* Firefox 3.6+ */
      background: -moz-linear-gradient(top, #44FF44, #008800);
    }
    #healthbar, #manabar {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 88px;
      height: 13px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      text-align: center;
      color: white;
    }
    #healthbar, #manabar p{
      font-size: 6px;
      line-height: 0%;
    }
    #healthbar {
      background-image: url('../img/1/main.png' );
      background-position: 0px -278px;
    }
    #manabar {
      background-image: url('../img/1/main.png' );
      background-position: -88px -278px;
    }
    #expbar {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 188px;
      height: 5px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      background-image: url('../img/1/main.png' );
      background-position: 0px -291px;
    }
    #healthtext, #manatext {
      position: absolute;
      top: 3.25px;
      left: 0px;
      width: 88px;
      height: 13px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      line-height: 13px;
      text-align: center;
      color: white;
    }
    #hpguide{
      background: rgb(128,64,64);
      position: absolute;
      display: none;
      height: 11px;
      width: 1px;
      top: 1px;
      left: 0px;
    }
    #inventorybackground0, #inventorybackground1, #inventorybackground2, #inventorybackground3, #inventorybackground4, #inventorybackground5 {
      position: absolute;
      width: 16px;
      height: 20px;
      top: 2px;
      left: 183px;
      margin: 0px;
      border: 0px;
      background-image: url('../img/1/main.png' );
    }
    #inventorybackground0 {
      margin-left: 0px;
      background-position: -199px -278px;
    }
    #inventorybackground0.empty {
      background-position: -183px -278px;
    }
    #inventorybackground1 {
      margin-left: 34px;
      background-position: -215px -278px;
    }
    #inventorybackground1.empty {
      background-position: -183px -278px;
    }
    #inventorybackground2 {
      margin-left: 68px;
      background-position: -231px -278px;
    }
    #inventorybackground2.empty {
      background-position: -183px -278px;
    }
    #inventorybackground3 {
      margin-left: 102px;
      background-position: -247px -278px;
    }
    #inventorybackground3.empty {
      background-position: -183px -278px;
    }
    #inventorybackground4 {
      margin-left: 136px;
      background-position: -263px -278px;
    }
    #inventorybackground4.empty {
      background-position: -183px -278px;
    }
    #inventorybackground5 {
      margin-left: 170px;
      background-position: -279px -278px;
      display: none;
    }
    #inventorybackground5.empty {
      background-position: -183px -278px;
    }
    #inventorybackground0 { margin-left: 0px; }
    #inventorybackground1 { margin-left: 17px; }
    #inventorybackground2 { margin-left: 33px; }
    #inventorybackground3 { margin-left: 51px; display: none; }
    #inventorybackground4 { margin-left: 68px; display: none; }
    #inventorybackground5 { margin-left: 85px; display: none; }
    #inventory0, #inventory1, #inventory2, #inventory3, #inventory4, #inventory5 {
      position: absolute;
      top: -2.5px;
      left: 0px;
      width: 16px;
      height: 16px;
      background-color: rgba(0, 0, 0, 0);
    }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5{
      position: absolute;
      width: 16px;
      height: 4px;
      left: 0px;
      top: 29px;
      border: 0px;
      color: rgba(255, 255, 255, 1);
      font-size: 4.5px;
      text-align: center;
      padding: 0px;
      margin: 0px;
    }
    #moreinventorybutton{
      position: absolute;
      display: none;
      width: 16px;
      height: 17px;
      top: 0px;
      left: 284px;
      margin: 0px;
      border: 0px;
      background: url('../img/1/main.png') no-repeat -591px -556px;
    }

    #characterButton {
      position: absolute;
      width: 14px;
      height: 15px;
      top: 1px;
      left: 435px;
      margin: 0px;
      border: 0px;
      background-color: rgba(0, 0, 0, 0);
      background: url('../img/1/main.png') no-repeat -0px -314px;
      background: url('../img/1/main.png') no-repeat -0px -628px;
      background: url('../img/1/main.png') no-repeat -0px -628px;
    }
    #helpbutton {
      position: absolute;
      width: 14px;
      height: 15px;
      top: 1px;
      left: 450px;
      margin: 0px;
      border: 0px;
      background-color: rgba(0, 0, 0, 0);
      background: url('../img/1/main.png' ) no-repeat -140px -314px;
      background: url('../img/1/main.png' ) no-repeat -280px -628px;
      background: url('../img/1/main.png' ) no-repeat -280px -628px;
    }
    #soundbutton {
      position: absolute;
      width: 14px;
      height: 15px;
      top: 1px;
      left: 465px;
      margin: 0px;
      border: 0px;
      background: url('../img/1/main.png' ) no-repeat -126px -314px;
      background: url('../img/1/main.png' ) no-repeat -252px -628px;
      background: url('../img/1/main.png' ) no-repeat -252px -628px;
    }
    #users {
      position: absolute;
      width: 32px;
      height: 20px;
      top: 6px;
      left: 401px;
      margin: 0px;
      border: 0px;
      color: white;
    }
    #fps {
      position: absolute;
      width: 44px;
      height: 4px;
      left: 435px;
      top: 16.5px;
      border: 0px;
      color: rgba(255, 255, 255, 1);
      font-size: 4.5px;
      text-align: center;
      padding: 0px;
      margin: 0px;
    }
}


.clickable {

}
