@media only screen and (min-width: 1501px) {
  #characterDialog {
    position: absolute;
    left: 126.75%;
    top: 100%;
    margin-left: -816px;
    margin-top: -733.5px;
    width: 372px;
    height: 651px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: none;
  }
  #charcaterDialogFrame {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  #characterDialogFrameStatePage,
  #characterDialogFrameSkillPage,
  #characterDialogFrameSettingsPage {
    width: 100%;
    height: 100%;
    background-image: url("../img/3/characterdialogsheet.png");
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  #characterDialogFrameStatePage {
    background-position: 0 0;
  }
  #characterName,
  #characterLevel,
  #characterExp {
    width: 276px;
    height: 37.5px;
    line-height: 37.5px;
    font-family: "GraphicPixel";
    font-size: 12pt;
    font-weight: bold;
    text-shadow: 3px 3px #808080;
  }
  #characterName {
    position: absolute;
    left: 67.5px;
    top: 24px;
  }
  #characterLevel {
    position: absolute;
    left: 67.5px;
    top: 87px;
  }
  #characterExp {
    position: absolute;
    left: 67.5px;
    top: 150px;
  }
  #characterItemPendant,
  #characterItemWeapon,
  #characterItemArmor,
  #characterItemRing,
  #characterItemBoots {
    width: 48px;
    height: 45px;
    background-position: 0 0;
  }
  #characterItemPendant {
    position: absolute;
    left: 162px;
    top: 234px;
  }
  #characterItemPendant.empty {
    background-image: url("../img/3/characterdialogsheet.png");
    background-position: 0 -651px;
  }
  #characterItemWeapon {
    position: absolute;
    left: 12px;
    top: 360px;
    background-position: 0 -2px;
  }
  #characterItemWeapon.empty {
    background-image: url("../img/3/characterdialogsheet.png");
    background-position: -144px -651px;
  }
  #characterItemArmor {
    position: absolute;
    left: 312px;
    top: 360px;
  }
  #characterItemArmor.empty {
    background-image: url("../img/3/characterdialogsheet.png");
    background-position: -48px -651px;
  }
  #characterItemRing {
    position: absolute;
    left: 81px;
    top: 516px;
  }
  #characterItemRing.empty {
    background-image: url("../img/3/characterdialogsheet.png");
    background-position: -192px -651px;
  }
  #characterItemRing {
    position: absolute;
    left: 246px;
    top: 519px;
  }
  #characterItemRing.empty {
    background-image: url("../img/3/characterdialogsheet.png");
    background-position: -96px -651px;
  }
  #characterLook {
    position: absolute;
    left: 47px;
    top: 125px;
    width: 32px;
    height: 32px;
  }
  #characterLookArmor,
  #characterLookWeapon {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 480px;
    background-position: 0, -768px;
  }
  #characterLookShadow {
    background-size: 48px;
    background-image: url("../img/3/shadow16.png");
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
  }
  #characterDialogFrameSkillPage {
    background-position: -372px 0;
  }
  #characterDialogFrameSettingsPage {
    background-position: -744px 0;
  }
  #characterDialogFramePageNavigator {
    position: absolute;
    left: 240px;
    top: 583.5px;
    width: 126px;
    height: 51px;
  }
  #characterDialogFramePageNavigatorMovePreviousButton,
  #characterDialogFramePageNavigatorMoveNextButton {
    background-image: url("../img/3/characterdialogsheet.png");
    position: absolute;
    left: initial;
    top: 0;
    width: 63px;
    height: 51px;
  }
  #characterDialogFramePageNavigatorMovePreviousButton {
    left: 0;
    background-position: -240px -651px;
  }
  #characterDialogFramePageNavigatorMovePreviousButton.enabled {
    background-position: -240px -702px;
    cursor: pointer;
  }
  #characterDialogFramePageNavigatorMoveNextButton {
    left: 63px;
    background-position: -303px -702px;
  }
  #characterDialogFramePageNavigatorMoveNextButton.enabled {
    background-position: -303px -651px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 1500px), only screen and (max-height: 870px) {
  #characterDialog {
    position: absolute;
    left: 126.75%;
    top: 100%;
    margin-left: -544px;
    margin-top: -489px;
    width: 248px;
    height: 434px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: none;
  }
  #charcaterDialogFrame {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  #characterDialogFrameStatePage,
  #characterDialogFrameSkillPage,
  #characterDialogFrameSettingsPage {
    width: 100%;
    height: 100%;
    background-image: url("../img/2/characterdialogsheet.png");
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  #characterDialogFrameStatePage {
    background-position: 0 0;
  }
  #characterName,
  #characterLevel,
  #characterExp {
    width: 184px;
    height: 25px;
    line-height: 25px;
    font-family: "GraphicPixel";
    font-size: 8pt;
    font-weight: bold;
    text-shadow: 2px 2px #808080;
  }
  #characterName {
    position: absolute;
    left: 45px;
    top: 16px;
  }
  #characterLevel {
    position: absolute;
    left: 45px;
    top: 58px;
  }
  #characterExp {
    position: absolute;
    left: 45px;
    top: 100px;
  }
  #characterItemPendant,
  #characterItemWeapon,
  #characterItemArmor,
  #characterItemRing,
  #characterItemBoots {
    width: 32px;
    height: 30px;
    background-position: 0 0;
  }
  #characterItemPendant {
    position: absolute;
    left: 108px;
    top: 156px;
  }
  #characterItemPendant.empty {
    background-image: url("../img/2/characterdialogsheet.png");
    background-position: 0 -434px;
  }
  #characterItemWeapon {
    position: absolute;
    left: 8px;
    top: 240px;
    background-position: 0 -2px;
  }
  #characterItemWeapon.empty {
    background-image: url("../img/2/characterdialogsheet.png");
    background-position: -96px -434px;
  }
  #characterItemArmor {
    position: absolute;
    left: 208px;
    top: 240px;
  }
  #characterItemArmor.empty {
    background-image: url("../img/2/characterdialogsheet.png");
    background-position: -32px -434px;
  }
  #characterItemRing {
    position: absolute;
    left: 54px;
    top: 344px;
  }
  #characterItemRing.empty {
    background-image: url("../img/2/characterdialogsheet.png");
    background-position: -128px -434px;
  }
  #characterItemRing {
    position: absolute;
    left: 164px;
    top: 346px;
  }
  #characterItemRing.empty {
    background-image: url("../img/2/characterdialogsheet.png");
    background-position: -64px -434px;
  }
  #characterLook {
    position: absolute;
    left: 47px;
    top: 125px;
    width: 32px;
    height: 32px;
  }
  #characterLookArmor,
  #characterLookWeapon {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 320px;
    background-position: 0, -512px;
  }
  #characterLookShadow {
    background-size: 32px;
    background-image: url("../img/2/shadow16.png");
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
  }
  #characterDialogFrameSkillPage {
    background-position: -248px 0;
  }
  #characterDialogFrameSettingsPage {
    background-position: -496px 0;
  }
  #characterDialogFramePageNavigator {
    position: absolute;
    left: 160px;
    top: 389px;
    width: 84px;
    height: 34px;
  }
  #characterDialogFramePageNavigatorMovePreviousButton,
  #characterDialogFramePageNavigatorMoveNextButton {
    background-image: url("../img/2/characterdialogsheet.png");
    position: absolute;
    left: initial;
    top: 0;
    width: 42px;
    height: 34px;
  }
  #characterDialogFramePageNavigatorMovePreviousButton {
    left: 0;
    background-position: -160px -434px;
  }
  #characterDialogFramePageNavigatorMovePreviousButton.enabled {
    background-position: -160px -468px;
    cursor: pointer;
  }
  #characterDialogFramePageNavigatorMoveNextButton {
    left: 42px;
    background-position: -202px -468px;
  }
  #characterDialogFramePageNavigatorMoveNextButton.enabled {
    background-position: -202px -434px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 1000px) {
  #characterDialog {
    position: absolute;
    left: 126.75%;
    top: 100%;
    margin-left: -272px;
    margin-top: -244.5px;
    width: 124px;
    height: 217px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: none;
  }
  #charcaterDialogFrame {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  #characterDialogFrameStatePage,
  #characterDialogFrameSkillPage,
  #characterDialogFrameSettingsPage {
    width: 100%;
    height: 100%;
    background-image: url("../img/1/characterdialogsheet.png");
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  #characterDialogFrameStatePage {
    background-position: 0 0;
  }
  #characterName,
  #characterLevel,
  #characterExp {
    width: 92px;
    height: 12.5px;
    line-height: 12.5px;
    font-family: "GraphicPixel";
    font-size: 4pt;
    font-weight: bold;
    text-shadow: 1px 1px #808080;
  }
  #characterName {
    position: absolute;
    left: 22.5px;
    top: 8px;
  }
  #characterLevel {
    position: absolute;
    left: 22.5px;
    top: 29px;
  }
  #characterExp {
    position: absolute;
    left: 22.5px;
    top: 50px;
  }
  #characterItemPendant,
  #characterItemWeapon,
  #characterItemArmor,
  #characterItemRing,
  #characterItemBoots {
    width: 16px;
    height: 15px;
    background-position: 0 0;
  }
  #characterItemPendant {
    position: absolute;
    left: 54px;
    top: 78px;
  }
  #characterItemPendant.empty {
    background-image: url("../img/1/characterdialogsheet.png");
    background-position: 0 -217px;
  }
  #characterItemWeapon {
    position: absolute;
    left: 4px;
    top: 120px;
    background-position: 0 -2px;
  }
  #characterItemWeapon.empty {
    background-image: url("../img/1/characterdialogsheet.png");
    background-position: -48px -217px;
  }
  #characterItemArmor {
    position: absolute;
    left: 104px;
    top: 120px;
  }
  #characterItemArmor.empty {
    background-image: url("../img/1/characterdialogsheet.png");
    background-position: -16px -217px;
  }
  #characterItemRing {
    position: absolute;
    left: 27px;
    top: 172px;
  }
  #characterItemRing.empty {
    background-image: url("../img/1/characterdialogsheet.png");
    background-position: -64px -217px;
  }
  #characterItemRing {
    position: absolute;
    left: 82px;
    top: 173px;
  }
  #characterItemRing.empty {
    background-image: url("../img/1/characterdialogsheet.png");
    background-position: -32px -217px;
  }
  #characterLook {
    position: absolute;
    left: 47px;
    top: 125px;
    width: 32px;
    height: 32px;
  }
  #characterLookArmor,
  #characterLookWeapon {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 160px;
    background-position: 0, -256px;
  }
  #characterLookShadow {
    background-size: 16px;
    background-image: url("../img/1/shadow16.png");
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
  }
  #characterDialogFrameSkillPage {
    background-position: -124px 0;
  }
  #characterDialogFrameSettingsPage {
    background-position: -248px 0;
  }
  #characterDialogFramePageNavigator {
    position: absolute;
    left: 80px;
    top: 194.5px;
    width: 42px;
    height: 17px;
  }
  #characterDialogFramePageNavigatorMovePreviousButton,
  #characterDialogFramePageNavigatorMoveNextButton {
    background-image: url("../img/1/characterdialogsheet.png");
    position: absolute;
    left: initial;
    top: 0;
    width: 21px;
    height: 17px;
  }
  #characterDialogFramePageNavigatorMovePreviousButton {
    left: 0;
    background-position: -80px -217px;
  }
  #characterDialogFramePageNavigatorMovePreviousButton.enabled {
    background-position: -80px -234px;
    cursor: pointer;
  }
  #characterDialogFramePageNavigatorMoveNextButton {
    left: 21px;
    background-position: -101px -234px;
  }
  #characterDialogFramePageNavigatorMoveNextButton.enabled {
    background-position: -101px -217px;
    cursor: pointer;
  }
}
