
@media screen and (min-width: 1501px) {

    #characterDialog {
        position: absolute;
        left: 126.75%;
        top: 100%;
        width: 372px;
        height: 651px;
        margin-left: -818px;
        margin-top: -733.5px;
        cursor: default;
        -moz-user-select: none;
        -webkit-user-select: none;
        display: none;
    }
    #characterDialogFrame {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }
    #characterDialogFrameStatePage, #characterDialogFrameSkillPage, #characterDialogFrameSettingsPage {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-image: url('../img/3/characterdialogsheet.png');
        display: none;
    }

    #characterDialogFrameStatePage {
        background-position: 0px 0px;
    }
    #characterName, #characterLevel, #characterExp {
        position: absolute;
        width: 276px;
        height: 37.5px;
        line-height: 37.5px;
        font-family: 'GraphicPixel';
        font-size: 12pt;
        font-weight: bold;
        text-shadow: 3px 3px #808080;
    }
    #characterName {
        left: 67.5px;
        top: 24px
    }
    #characterLevel {
        left: 67.5px;
        top: 87px;
    }
    #characterExp {
        left: 67.5px;
        top: 150px;
    }
    #characterItemPendant, #characterItemWeapon, #characterItemArmor, #characterItemRing, #characterItemBoots {
        position: absolute;
        width: 48px;
        height: 45px;
        background-position: 0px 0px;
    }
    #characterItemPendant {
        left: 162px;
        top: 234px;
    }
    #characterItemPendant.empty {
        background-image: url('../img/3/characterdialogsheet.png');
        background-position: 0px -651px;
    }
    #characterItemWeapon {
        left: 12px;
        top: 360px;
        background-position: 0px -6px;
    }
    #characterItemWeapon.empty {
        background-image: url('../img/3/characterdialogsheet.png');
        background-position: -144px -651px;
    }
    #characterItemArmor {
        left: 312px;
        top: 360px;
    }
    #characterItemArmor.empty {
        background-image: url('../img/3/characterdialogsheet.png');
        background-position: -48px -651px;
    }
    #characterItemRing {
        left: 81px;
        top: 516px;
    }
    #characterItemRing.empty {
        background-image: url('../img/3/characterdialogsheet.png');
        background-position: -192px -651px;
    }
    #characterItemBoots {
        left: 246px;
        top: 519px;
    }
    #characterItemBoots.empty {
        background-image: url('../img/3/characterdialogsheet.png');
        background-position: -96px -651px;
    }
    #characterLook {
        position: absolute;
        left: 141px;
        top: 375px;
        width: 96px;
        height: 96px;
    }
    #characterLookArmor, #characterLookWeapon {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 480px;
        background-position: 0px -512px;
    }
    #characterLookShadow {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 48px;
        height: 48px;
        background-size: 48px;
        background-image: url('../img/3/shadow16.png');
    }

    #characterDialogFrameSkillPage {
        background-position: -372px 0px;
    }

    #characterDialogFrameSettingsPage {
        background-position: -744px 0px;
    }

    #characterDialogFramePageNavigator {
        position: absolute;
        left: 240px;
        top: 583.5px;
        width: 126px;
        height: 51px;
    }
    #characterDialogFramePageNavigatorMovePreviousButton, #characterDialogFramePageNavigatorMoveNextButton {
        position: absolute;
        top: 0px;
        width: 63px;
        height: 51px;
        background-image: url('../img/3/characterdialogsheet.png');
    }
    #characterDialogFramePageNavigatorMovePreviousButton {
        left: 0px;
        background-position: -240px -651px;
    }
    #characterDialogFramePageNavigatorMovePreviousButton.enabled {
        background-position: -240px -702px;
        cursor: pointer;
    }
    #characterDialogFramePageNavigatorMoveNextButton {
        left: 63px;
        background-position: -303px -702px;
    }
    #characterDialogFramePageNavigatorMoveNextButton.enabled {
        background-position: -303px -651px;
        cursor: pointer;
    }

}

@media screen and (max-width: 1500px), screen and (max-height: 870px) {


    #characterDialog {
        position: absolute;
        left: 126.75%;%;
        top: 100%;
        width: 248px;
        height: 434px;
        margin-left: -548px;
        margin-top: -489px;
        cursor: default;
        -moz-user-select: none;
        -webkit-user-select: none;
        display: none;
    }
    #characterDialogFrame {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }
    #characterDialogFrameStatePage, #characterDialogFrameSkillPage, #characterDialogFrameSettingsPage {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-image: url('../img/2/characterdialogsheet.png');
        display: none;
    }

    #characterDialogFrameStatePage {
        background-position: 0px 0px;
    }
    #characterName, #characterLevel, #characterExp {
        position: absolute;
        width: 184px;
        height: 25px;
        line-height: 25px;
        font-family: 'GraphicPixel';
        font-size: 9pt;
        font-weight: bold;
        text-shadow: 1px 1px #808080;
    }
    #characterName {
        left: 45px;
        top: 16px;
    }
    #characterLevel {
        left: 45px;
        top: 58px;
    }
    #characterExp {
        left: 45px;
        top: 100px;
    }
    #characterItemPendant, #characterItemWeapon, #characterItemArmor, #characterItemRing, #characterItemBoots {
        position: absolute;
        width: 32px;
        height: 30px;
        background-position: 0px 0px;
    }
    #characterItemPendant {
        left: 108px;
        top: 156px;
    }
    #characterItemPendant.empty {
        background-image: url('../img/2/characterdialogsheet.png');
        background-position: 0px -434px;
    }
    #characterItemWeapon {
        left: 8px;
        top: 240px;
        background-position: 0px -4px;
    }
    #characterItemWeapon.empty {
        background-image: url('../img/2/characterdialogsheet.png');
        background-position: -96px -434px;
    }
    #characterItemArmor {
        left: 208px;
        top: 240px;
    }
    #characterItemArmor.empty {
        background-image: url('../img/2/characterdialogsheet.png');
        background-position: -32px -434px;
    }
    #characterItemRing {
        left: 54px;
        top: 344px;
    }
    #characterItemRing.empty {
        background-image: url('../img/2/characterdialogsheet.png');
        background-position: -128px -434px;
    }
    #characterItemBoots {
        left: 164px;
        top: 346px;
    }
    #characterItemBoots.empty {
        background-image: url('../img/2/characterdialogsheet.png');
        background-position: -64px -434px;
    }
    #characterLook {
        position: absolute;
        left: 94px;
        top: 250px;
        width: 64px;
        height: 64px;
    }
    #characterLookArmor, #characterLookWeapon {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 320px;
        background-position: 0px -512px;
    }
    #characterLookShadow {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 32px;
        height: 32px;
        background-size: 32px;
        background-image: url('../img/2/shadow16.png');
    }

    #characterDialogFrameSkillPage {
        background-position: -248px 0px;
    }

    #characterDialogFrameSettingsPage {
        background-position: -496px 0px;
    }

    #characterDialogFramePageNavigator {
        position: absolute;
        left: 160px;
        top: 389px;
        width: 84px;
        height: 34px;
    }
    #characterDialogFramePageNavigatorMovePreviousButton, #characterDialogFramePageNavigatorMoveNextButton {
        position: absolute;
        top: 0px;
        width: 42px;
        height: 34px;
        background-image: url('../img/2/characterdialogsheet.png');
    }
    #characterDialogFramePageNavigatorMovePreviousButton {
        left: 0px;
        background-position: -160px -434px;
    }
    #characterDialogFramePageNavigatorMovePreviousButton.enabled {
        background-position: -160px -468px;
        cursor: pointer;
    }
    #characterDialogFramePageNavigatorMoveNextButton {
        left: 42px;
        background-position: -202px -468px;
    }
    #characterDialogFramePageNavigatorMoveNextButton.enabled {
        background-position: -202px -434px;
        cursor: pointer;
    }


}

@media screen and (max-width: 1000px) {

    #characterDialog {
        position: absolute;
        left: 126.75%;%;
        top: 100%;
        width: 124px;
        height: 217px;
        margin-left: -272px;
        margin-top: -244.5px;
        cursor: default;
        -moz-user-select: none;
        -webkit-user-select: none;
        display: none;
    }
    #characterDialogFrame {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }
    #characterDialogFrameStatePage, #characterDialogFrameSkillPage, #characterDialogFrameSettingsPage {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-image: url('../img/1/characterdialogsheet.png');
        display: none;
    }

    #characterDialogFrameStatePage {
        background-position: 0px 0px;
    }
    #characterName, #characterLevel, #characterExp {
        position: absolute;
        width: 92px;
        height: 12.5px;
        line-height: 12.5px;
        font-family: 'GraphicPixel';
        font-size: 4pt;
        font-weight: bold;
        text-shadow: 1px 1px #808080;
    }
    #characterName {
        left: 22.5px;
        top: 8px;
    }
    #characterLevel {
        left: 22.5px;
        top: 29px;
    }
    #characterExp {
        left: 22.5px;
        top: 50px;
    }
    #characterItemPendant, #characterItemWeapon, #characterItemArmor, #characterItemRing, #characterItemBoots {
        position: absolute;
        width: 16px;
        height: 15px;
        background-position: 0px 0px;
    }
    #characterItemPendant {
        left: 54px;
        top: 78px;
    }
    #characterItemPendant.empty {
        background-image: url('../img/1/characterdialogsheet.png');
        background-position: 0px -217px;
    }
    #characterItemWeapon {
        left: 4px;
        top: 120px;
        background-position: 0px -2px;
    }
    #characterItemWeapon.empty {
        background-image: url('../img/1/characterdialogsheet.png');
        background-position: -48px -217px;
    }
    #characterItemArmor {
        left: 104px;
        top: 120px;
    }
    #characterItemArmor.empty {
        background-image: url('../img/1/characterdialogsheet.png');
        background-position: -16px -217px;
    }
    #characterItemRing {
        left: 27px;
        top: 172px;
    }
    #characterItemRing.empty {
        background-image: url('../img/1/characterdialogsheet.png');
        background-position: -64px -217px;
    }
    #characterItemBoots {
        left: 82px;
        top: 173px;
    }
    #characterItemBoots.empty {
        background-image: url('../img/1/characterdialogsheet.png');
        background-position: -32px -217px;
    }
    #characterLook {
        position: absolute;
        left: 47px;
        top: 125px;
        width: 32px;
        height: 32px;
    }
    #characterLookArmor, #characterLookWeapon {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 160px;
        background-position: 0px -256px;
    }
    #characterLookShadow {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 16px;
        height: 16px;
        background-size: 16px;
        background-image: url('../img/1/shadow16.png');
    }

    #characterDialogFrameSkillPage {
        background-position: -124px 0px;
    }

   #characterDialogFrameSettingsPage {
       background-position: -248px 0px;
   }

    #characterDialogFramePageNavigator {
        position: absolute;
        left: 80px;
        top: 194.5px;
        width: 42px;
        height: 17px;
    }
    #characterDialogFramePageNavigatorMovePreviousButton, #characterDialogFramePageNavigatorMoveNextButton {
        position: absolute;
        top: 0px;
        width: 21px;
        height: 17px;
        background-image: url('../img/1/characterdialogsheet.png');
    }
    #characterDialogFramePageNavigatorMovePreviousButton {
        left: 0px;
        background-position: -80px -217px;
    }
    #characterDialogFramePageNavigatorMovePreviousButton.enabled {
        background-position: -80px -234px;
        cursor: pointer;
    }
    #characterDialogFramePageNavigatorMoveNextButton {
        left: 21px;
        background-position: -101px -234px;
    }
    #characterDialogFramePageNavigatorMoveNextButton.enabled {
        background-position: -101px -217px;
        cursor: pointer;
    }


}



