/**
 * Created by Flavius on 15-07-19.
 */


@media screen and (min-width: 1501px) {
    #enchantDialog {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -459px;
        margin-top: -319.5px;
        font-family: 'GraphicPixel';
        font-size: 13.5pt;
        font-weight: bold;
        -moz-user-select: none;
        -webkit-user-select: none;
        display: none;
    }

    #enchantDialogInventory {
        position: absolute;
        left: 0px;
        top: 66px;
        width: 387px;
        height: 465px;
        background-image: url('../img/3/storedialogsheet.png');
        background-position: 0px 0px;
    }

    #enchantDialogStore {
        position: absolute;
        left: 387px;
        top: 0px;
        width: 513px;
        height: 570px;
        background-image: url('../img/3/storedialogsheet.png');
        background-position: -387px 0px;
    }

    #enchantDialogModal {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        font-family: 'GraphicPixel';
        font-size: 13.5pt;
        font-weight: bold;
        background-color: rgba(100, 100, 100, 0.3);
        -moz-user-select: none;
        -webkit-user-select: none;
        display: none;
    }
    #enchantDialogModalNotify {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 501px;
        height: 141px;
        margin-left: -250.5px;
        margin-top: -70.5px;
        background-image: url('../img/3/storedialogsheet.png');
        background-position: -900px -141px;
        display: none;
    }
    #enchantDialogModalNotifyMessage {
        position: absolute;
        left: 100.5px;
        top: 42px;
        width: 370.5px;
        height: 48.5px;
        line-height: 48.5px;
    }
    #enchantDialogModalNotifyButton1 {
        position: absolute;
        left: 329px;
        top: 102px;
        width: 42px;
        height: 21px;
        text-align: center;
        cursor: pointer;
    }
    #enchantDialogModalConfirm {
        position: absolute;
        left: 690px;
        top: 300px;
        width: 501px;
        height: 141px;
        margin-left: -250.5px;
        margin-top: -70.5px;
        background-image: url('../img/3/storedialogsheet.png');
        background-position: -900px 0px;
        display: none;
    }
    #enchantDialogModalConfirmMessage {
        position: absolute;
        left: 100.5px;
        top: 42px;
        width: 370.5px;
        height: 49.5px;
        line-height: 49.5px;
    }
    #enchantDialogModalConfirmButton1 {
        position: absolute;
        left: 371px;
        top: 102px;
        width: 42px;
        height: 21px;
        text-align: center;
        cursor: pointer;
    }
    #enchantDialogModalConfirmButton2 {
        position: absolute;
        left: 429px;
        top: 102px;
        width: 42px;
        height: 21px;
        text-align: center;
        cursor: pointer;
    } 
}

@media screen and (max-width: 1500px), screen and (max-height: 870px) {
    #enchantDialog {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -306px;
        margin-top: -213px;
        font-family: 'GraphicPixel';
        font-size: 9pt;
        font-weight: bold;
        -moz-user-select: none;
        -webkit-user-select: none;
        display: none;
    }

    #enchantDialogInventory {
        position: absolute;
        left: 0px;
        top: 44px;
        width: 258px;
        height: 310px;
        background-image: url('../img/2/storedialogsheet.png');
        background-position: 0px 0px;
    }

    #enchantDialogModal {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        font-family: 'GraphicPixel';
        font-size: 9pt;
        font-weight: bold;
        background-color: rgba(100, 100, 100, 0.3);
        -moz-user-select: none;
        -webkit-user-select: none;
        display: none;
    }
    #enchantDialogModalNotify {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 334px;
        height: 94px;
        margin-left: -167px;
        margin-top: -47px;
        background-image: url('../img/2/storedialogsheet.png');
        background-position: -600px -94px;
        display: none;
    }
    #enchantDialogModalNotifyMessage {
        position: absolute;
        left: 67px;
        top: 28px;
        width: 247px;
        height: 33px;
        line-height: 33px;
    }
    #enchantDialogModalNotifyButton1 {
        position: absolute;
        left: 286px;
        top: 68px;
        width: 28px;
        height: 14px;
        text-align: center;
        cursor: pointer;
    }
    #enchantDialogModalConfirm {
        position: absolute;
        left: 460px;
        top: 200px;
        width: 334px;
        height: 94px;
        margin-left: -167px;
        margin-top: -47px;
        background-image: url('../img/2/storedialogsheet.png');
        background-position: -600px 0px;
        display: none;
    }
    #enchantDialogModalConfirmMessage {
        position: absolute;
        left: 67px;
        top: 28px;
        width: 247px;
        height: 33px;
        line-height: 33px;
    }
    #enchantDialogModalConfirmButton1 {
        position: absolute;
        left: 254px;
        top: 68px;
        width: 28px;
        height: 14px;
        text-align: center;
        cursor: pointer;
    }
    #enchantDialogModalConfirmButton2 {
        position: absolute;
        left: 286px;
        top: 68px;
        width: 28px;
        height: 14px;
        text-align: center;
        cursor: pointer;
    }

}

@media screen and (max-width: 1000px) {

    #enchantDialog {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -153px;
        margin-top: -106.5px;
        font-family: 'GraphicPixel';
        font-size: 4.5pt;
        font-weight: bold;
        -moz-user-select: none;
        -webkit-user-select: none;
        display: none;
    }

    #enchantDialogInventory {
        position: absolute;
        left: 0px;
        top: 22px;
        width: 129px;
        height: 155px;
        background-image: url('../img/1/storedialogsheet.png');
        background-position: 0px 0px;
    }

    #enchantDialogModal {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        font-family: 'GraphicPixel';
        font-size: 4.5pt;
        font-weight: bold;
        background-color: rgba(100, 100, 100, 0.3);
        -moz-user-select: none;
        -webkit-user-select: none;
        display: none;
    }
    #enchantDialogModalNotify {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 167px;
        height: 47px;
        margin-left: -83.5px;
        margin-top: -23.5px;
        background-image: url('../img/1/storedialogsheet.png');
        background-position: -300px -47px;
        display: none;
    }
    #enchantDialogModalNotifyMessage {
        position: absolute;
        left: 33.5px;
        top: 14px;
        width: 123.5px;
        height: 16.5px;
        line-height: 16.5px;
    }
    #enchantDialogModalNotifyButton1 {
        position: absolute;
        left: 143px;
        top: 34px;
        width: 14px;
        height: 7px;
        text-align: center;
        cursor: pointer;
    }
    #enchantDialogModalConfirm {
        position: absolute;
        left: 230px;
        top: 100px;
        width: 167px;
        height: 47px;
        margin-left: -83.5px;
        margin-top: -23.5px;
        background-image: url('../img/1/storedialogsheet.png');
        background-position: -300px 0px;
        display: none;
    }
    #enchantDialogModalConfirmMessage {
        position: absolute;
        left: 33.5px;
        top: 14px;
        width: 123.5px;
        height: 16.5px;
        line-height: 16.5px;
    }
    #enchantDialogModalConfirmButton1 {
        position: absolute;
        left: 127px;
        top: 34px;
        width: 14px;
        height: 7px;
        text-align: center;
        cursor: pointer;
    }
    #enchantDialogModalConfirmButton2 {
        position: absolute;
        left: 143px;
        top: 34px;
        width: 14px;
        height: 7px;
        text-align: center;
        cursor: pointer;
    }
}
