@media only screen and (min-width: 1501px) {
  #enchantDialog {
    font-family: "GraphicPixel";
    font-size: 12pt;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -459px;
    margin-top: -319.5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: none;
  }
  #enchantDialogInventory {
    background-image: url("../img/3/storedialogsheet.png");
    background-position: 0px 0px;
    position: absolute;
    left: 0;
    top: 66px;
    width: 387px;
    height: 465px;
  }
  #enchantDialogModal {
    font-family: "GraphicPixel";
    font-size: 13.5pt;
    font-weight: bold;
    background-color: rgba(100, 100, 100, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: none;
  }
  #enchantDialogModalNotify {
    background-image: url("../img/3/storedialogsheet.png");
    background-position: -900px -141px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 501px;
    height: 141px;
    margin-left: -250.5px;
    margin-top: -70.5px;
    display: none;
  }
  #enchantDialogModalNotifyMessage {
    line-height: 16.5px;
    position: absolute;
    left: 33.5px;
    top: 14px;
    width: 123.5px;
    height: 16.5px;
  }
  #enchantDialogModalNotifyButton1 {
    position: absolute;
    left: 143px;
    top: 34px;
    width: 14px;
    height: 7px;
    text-align: center;
    cursor: pointer;
  }
  #enchantDialogModalConfirm {
    background-image: url("../img/3/storedialogsheet.png");
    background-position: -900px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 501px;
    height: 141px;
    margin-left: -250.5px;
    margin-top: -70.5px;
    display: none;
  }
  #enchantDialogModalConfirmMessage {
    line-height: 16.5px;
    position: absolute;
    left: 33.5px;
    top: 14px;
    width: 123.5px;
    height: 16.5px;
  }
  #enchantDialogModalConfirmButton1 {
    position: absolute;
    left: 127px;
    top: 34px;
    width: 14px;
    height: 7px;
    text-align: center;
    cursor: pointer;
  }
  #enchantDialogModalConfirmButton2 {
    position: absolute;
    left: 143px;
    top: 34px;
    width: 14px;
    height: 7px;
    text-align: center;
    cursor: pointer;
  }
}
@media only screen and (max-width: 1500px), only screen and (max-height: 870px) {
  #enchantDialog {
    font-family: "GraphicPixel";
    font-size: 8pt;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -306px;
    margin-top: -213px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: none;
  }
  #enchantDialogInventory {
    background-image: url("../img/2/storedialogsheet.png");
    background-position: 0px 0px;
    position: absolute;
    left: 0;
    top: 44px;
    width: 258px;
    height: 310px;
  }
  #enchantDialogModal {
    font-family: "GraphicPixel";
    font-size: 9pt;
    font-weight: bold;
    background-color: rgba(100, 100, 100, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: none;
  }
  #enchantDialogModalNotify {
    background-image: url("../img/2/storedialogsheet.png");
    background-position: -600px -94px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 334px;
    height: 94px;
    margin-left: -167px;
    margin-top: -47px;
    display: none;
  }
  #enchantDialogModalNotifyMessage {
    line-height: 16.5px;
    position: absolute;
    left: 33.5px;
    top: 14px;
    width: 123.5px;
    height: 16.5px;
  }
  #enchantDialogModalNotifyButton1 {
    position: absolute;
    left: 143px;
    top: 34px;
    width: 14px;
    height: 7px;
    text-align: center;
    cursor: pointer;
  }
  #enchantDialogModalConfirm {
    background-image: url("../img/2/storedialogsheet.png");
    background-position: -600px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 334px;
    height: 94px;
    margin-left: -167px;
    margin-top: -47px;
    display: none;
  }
  #enchantDialogModalConfirmMessage {
    line-height: 16.5px;
    position: absolute;
    left: 33.5px;
    top: 14px;
    width: 123.5px;
    height: 16.5px;
  }
  #enchantDialogModalConfirmButton1 {
    position: absolute;
    left: 127px;
    top: 34px;
    width: 14px;
    height: 7px;
    text-align: center;
    cursor: pointer;
  }
  #enchantDialogModalConfirmButton2 {
    position: absolute;
    left: 143px;
    top: 34px;
    width: 14px;
    height: 7px;
    text-align: center;
    cursor: pointer;
  }
}
@media only screen and (max-width: 1000px) {
  #enchantDialog {
    font-family: "GraphicPixel";
    font-size: 4pt;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -153px;
    margin-top: -106.5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: none;
  }
  #enchantDialogInventory {
    background-image: url("../img/1/storedialogsheet.png");
    background-position: 0px 0px;
    position: absolute;
    left: 0;
    top: 22px;
    width: 129px;
    height: 155px;
  }
  #enchantDialogModal {
    font-family: "GraphicPixel";
    font-size: 4.5pt;
    font-weight: bold;
    background-color: rgba(100, 100, 100, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: none;
  }
  #enchantDialogModalNotify {
    background-image: url("../img/1/storedialogsheet.png");
    background-position: -300px -47px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 167px;
    height: 47px;
    margin-left: -83.5px;
    margin-top: -23.5px;
    display: none;
  }
  #enchantDialogModalNotifyMessage {
    line-height: 16.5px;
    position: absolute;
    left: 33.5px;
    top: 14px;
    width: 123.5px;
    height: 16.5px;
  }
  #enchantDialogModalNotifyButton1 {
    position: absolute;
    left: 143px;
    top: 34px;
    width: 14px;
    height: 7px;
    text-align: center;
    cursor: pointer;
  }
  #enchantDialogModalConfirm {
    background-image: url("../img/1/storedialogsheet.png");
    background-position: -300px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 167px;
    height: 47px;
    margin-left: -83.5px;
    margin-top: -23.5px;
    display: none;
  }
  #enchantDialogModalConfirmMessage {
    line-height: 16.5px;
    position: absolute;
    left: 33.5px;
    top: 14px;
    width: 123.5px;
    height: 16.5px;
  }
  #enchantDialogModalConfirmButton1 {
    position: absolute;
    left: 127px;
    top: 34px;
    width: 14px;
    height: 7px;
    text-align: center;
    cursor: pointer;
  }
  #enchantDialogModalConfirmButton2 {
    position: absolute;
    left: 143px;
    top: 34px;
    width: 14px;
    height: 7px;
    text-align: center;
    cursor: pointer;
  }
}
