@media screen and (min-width: 1501px), screen and (min-height: 801px) {
  #inventorycontainer.vertical {
    position: absolute;
    width: 60px;
    height: 440px;
    top: 191px;
    left: 12px;
    margin: 0px;
    border: 0px;
    background-image: url('../img/3/main.png');
    background-position: 0px -988px;
    z-index: 5;
  }
  .vertical #inventorycontainermove {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 18px;
    left: 33px;
    background-color: #0f0;
  }
  .vertical #inventorycontainerswitch {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 18px;
    left: 9px;
    background-color: #f00;
  }
  .vertical #inventorybackground0,
  .vertical #inventorybackground1,
  .vertical #inventorybackground2,
  .vertical #inventorybackground3,
  .vertical #inventorybackground4,
  .vertical #inventorybackground5 {
    position: absolute;
    width: 48px;
    height: 60px;
    top: 52px;
    left: 8px;
    margin: 0px;
    border: 0px;
  }
  .vertical #inventorybackground0 {
    margin-top: 0px;
  }
  .vertical #inventorybackground1 {
    margin-top: 64px;
  }
  .vertical #inventorybackground2 {
    margin-top: 128px;
  }
  .vertical #inventorybackground3 {
    margin-top: 192px;
  }
  .vertical #inventorybackground4 {
    margin-top: 256px;
  }
  .vertical #inventorybackground5 {
    margin-top: 320px;
  }
  .vertical #inventory0,
  .vertical #inventory1,
  .vertical #inventory2,
  .vertical #inventory3,
  .vertical #inventory4,
  .vertical #inventory5 {
    position: absolute;
    top: -7.5px;
    left: 00px;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0);
  }
  .vertical #inventorynumber0,
  .vertical #inventorynumber1,
  .vertical #inventorynumber2,
  .vertical #inventorynumber3,
  .vertical #inventorynumber4,
  .vertical #inventorynumber5 {
    font-family: 'GraphicPixel';
    position: absolute;
    width: 48px;
    height: 12px;
    left: 1px;
    top: 42px;
    border: 0px;
    color: #ffffff;
    font-size: 13.5px;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .vertical #inventory0Cooltime,
  .vertical #inventory1Cooltime,
  .vertical #inventory2Cooltime,
  .vertical #inventory3Cooltime,
  .vertical #inventory4Cooltime,
  .vertical #inventory5Cooltime {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 45px;
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    font-size: 21px;
    padding-top: 12px;
    color: white;
    cursor: default;
    display: none;
  }
  #inventorycontainer.horizontal {
    position: absolute;
    width: 364px;
    height: 84px;
    top: 369px;
    left: 20px;
    margin: 0px;
    border: 0px;
    background-image: url('../img/3/main.png');
    background-position: -123px -1071px;
    z-index: 5;
  }
  .horizontal #inventorycontainermove {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 48px;
    left: 18px;
    background-color: #0f0;
  }
  .horizontal #inventorycontainerswitch {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 18px;
    background-color: #f00;
  }
  .horizontal #inventorybackground0,
  .horizontal #inventorybackground1,
  .horizontal #inventorybackground2,
  .horizontal #inventorybackground3,
  .horizontal #inventorybackground4,
  .horizontal #inventorybackground5 {
    position: absolute;
    width: 48px;
    height: 60px;
    top: 14px;
    left: 56px;
    margin: 0px;
    border: 0px;
  }
  .horizontal #inventorybackground0 {
    margin-left: 0px;
  }
  .horizontal #inventorybackground1 {
    margin-left: 50px;
  }
  .horizontal #inventorybackground2 {
    margin-left: 100px;
  }
  .horizontal #inventorybackground3 {
    margin-left: 150px;
  }
  .horizontal #inventorybackground4 {
    margin-left: 200px;
  }
  .horizontal #inventorybackground5 {
    margin-left: 250px;
  }
  .horizontal #inventory0,
  .horizontal #inventory1,
  .horizontal #inventory2,
  .horizontal #inventory3,
  .horizontal #inventory4,
  .horizontal #inventory5 {
    position: absolute;
    top: -7.5px;
    left: 00px;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0);
  }
  .horizontal #inventorynumber0,
  .horizontal #inventorynumber1,
  .horizontal #inventorynumber2,
  .horizontal #inventorynumber3,
  .horizontal #inventorynumber4,
  .horizontal #inventorynumber5 {
    font-family: 'GraphicPixel';
    position: absolute;
    width: 48px;
    height: 12px;
    left: 1px;
    top: 42px;
    border: 0px;
    color: #ffffff;
    font-size: 13.5px;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .horizontal #inventory0Cooltime,
  .horizontal #inventory1Cooltime,
  .horizontal #inventory2Cooltime,
  .horizontal #inventory3Cooltime,
  .horizontal #inventory4Cooltime,
  .horizontal #inventory5Cooltime {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 45px;
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    font-size: 21px;
    padding-top: 12px;
    color: white;
    cursor: default;
    display: none;
  }
  #moreinventorybutton {
    position: absolute;
    display: none;
    width: 43px;
    height: 51px;
    top: 0px;
    left: 559px;
    margin: 0px;
    border: 0px;
    background: url('../img/3/main.png') no-repeat -587px -942px;
  }
  #allinventorywindow {
    display: none;
    position: absolute;
    width: 288px;
    height: 288px;
    top: 384px;
    left: 50%;
    margin-left: 129px;
    border: 1px solid #9C9898;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
  }
  #inventory6,
  #inventory7,
  #inventory8,
  #inventory9,
  #inventory10,
  #inventory11,
  #inventory12,
  #inventory13,
  #inventory14,
  #inventory15,
  #inventory16,
  #inventory17,
  #inventory18,
  #inventory19,
  #inventory20,
  #inventory21,
  #inventory22,
  #inventory23,
  #inventory24,
  #inventory25,
  #inventory26,
  #inventory27,
  #inventory28,
  #inventory29 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0);
  }
  #inventorybackground6,
  #inventorybackground7,
  #inventorybackground8,
  #inventorybackground9,
  #inventorybackground10,
  #inventorybackground11,
  #inventorybackground12,
  #inventorybackground13,
  #inventorybackground14,
  #inventorybackground15,
  #inventorybackground16,
  #inventorybackground17,
  #inventorybackground18,
  #inventorybackground19,
  #inventorybackground20,
  #inventorybackground21,
  #inventorybackground22,
  #inventorybackground23,
  #inventorybackground24,
  #inventorybackground25,
  #inventorybackground26,
  #inventorybackground27,
  #inventorybackground28,
  #inventorybackground29 {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #9C9898;
    background-image: url('../img/3/main.png');
    background-position: -549px -834px;
    display: none;
  }
  #inventorybackground6,
  #inventorybackground7,
  #inventorybackground8,
  #inventorybackground9,
  #inventorybackground10,
  #inventorybackground11 {
    top: 0px;
  }
  #inventorybackground12,
  #inventorybackground13,
  #inventorybackground14,
  #inventorybackground15,
  #inventorybackground16,
  #inventorybackground17 {
    top: 72px;
  }
  #inventorybackground18,
  #inventorybackground19,
  #inventorybackground20,
  #inventorybackground21,
  #inventorybackground22,
  #inventorybackground23 {
    top: 144px;
  }
  #inventorybackground24,
  #inventorybackground25,
  #inventorybackground26,
  #inventorybackground27,
  #inventorybackground28,
  #inventorybackground29 {
    top: 216px;
  }
  #inventorybackground6,
  #inventorybackground12,
  #inventorybackground18,
  #inventorybackground24 {
    left: 0px;
  }
  #inventorybackground7,
  #inventorybackground13,
  #inventorybackground19,
  #inventorybackground25 {
    left: 48px;
  }
  #inventorybackground8,
  #inventorybackground14,
  #inventorybackground20,
  #inventorybackground26 {
    left: 96px;
  }
  #inventorybackground9,
  #inventorybackground15,
  #inventorybackground21,
  #inventorybackground27 {
    left: 144px;
  }
  #inventorybackground10,
  #inventorybackground16,
  #inventorybackground22,
  #inventorybackground28 {
    left: 192px;
  }
  #inventorybackground11,
  #inventorybackground17,
  #inventorybackground23,
  #inventorybackground29 {
    left: 240px;
  }
  #inventorynumber6,
  #inventorynumber7,
  #inventorynumber8,
  #inventorynumber9,
  #inventorynumber10,
  #inventorynumber11,
  #inventorynumber12,
  #inventorynumber13,
  #inventorynumber14,
  #inventorynumber15,
  #inventorynumber16,
  #inventorynumber17,
  #inventorynumber18,
  #inventorynumber19,
  #inventorynumber20,
  #inventorynumber21,
  #inventorynumber22,
  #inventorynumber23,
  #inventorynumber24,
  #inventorynumber25,
  #inventorynumber26,
  #inventorynumber27,
  #inventorynumber28,
  #inventorynumber29 {
    font-family: 'GraphicPixel';
    position: absolute;
    left: 0px;
    width: 48px;
    height: 21px;
    border: 1px solid #9C9898;
    color: #ffffff;
    font-size: 13.5px;
    text-align: center;
    padding-top: 2px;
  }
  #inventorynumber6,
  #inventorynumber7,
  #inventorynumber8,
  #inventorynumber9,
  #inventorynumber10,
  #inventorynumber11 {
    top: 48px;
  }
  #inventorynumber12,
  #inventorynumber13,
  #inventorynumber14,
  #inventorynumber15,
  #inventorynumber16,
  #inventorynumber17 {
    top: 120px;
  }
  #inventorynumber18,
  #inventorynumber19,
  #inventorynumber20,
  #inventorynumber21,
  #inventorynumber22,
  #inventorynumber23 {
    top: 192px;
  }
  #inventorynumber24,
  #inventorynumber25,
  #inventorynumber26,
  #inventorynumber27,
  #inventorynumber28,
  #inventorynumber29 {
    top: 264px;
  }
  #inventorynumber6,
  #inventorynumber12,
  #inventorynumber18,
  #inventorynumber24 {
    left: 0px;
  }
  #inventorynumber7,
  #inventorynumber13,
  #inventorynumber19,
  #inventorynumber25 {
    left: 48px;
  }
  #inventorynumber8,
  #inventorynumber14,
  #inventorynumber20,
  #inventorynumber26 {
    left: 96px;
  }
  #inventorynumber9,
  #inventorynumber15,
  #inventorynumber21,
  #inventorynumber27 {
    left: 144px;
  }
  #inventorynumber10,
  #inventorynumber16,
  #inventorynumber22,
  #inventorynumber28 {
    left: 192px;
  }
  #inventorynumber11,
  #inventorynumber17,
  #inventorynumber23,
  #inventorynumber29 {
    left: 240px;
  }
}
@media screen and (max-width: 1500px), screen and (max-height: 870px) {
  #inventorycontainer.vertical {
    position: absolute;
    width: 40px;
    height: 293px;
    top: 125px;
    left: 8px;
    margin: 0px;
    border: 0px;
    background-image: url('../img/2/main.png');
    background-position: 0px -659px;
    z-index: 5;
  }
  .vertical #inventorycontainermove {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 12px;
    left: 22px;
    background-color: #0f0;
  }
  .vertical #inventorycontainerswitch {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 12px;
    left: 6px;
    background-color: #f00;
  }
  .vertical #inventorybackground0,
  .vertical #inventorybackground1,
  .vertical #inventorybackground2,
  .vertical #inventorybackground3,
  .vertical #inventorybackground4,
  .vertical #inventorybackground5 {
    position: absolute;
    width: 32px;
    height: 40px;
    top: 35px;
    left: 5px;
    margin: 0px;
    border: 0px;
  }
  .vertical #inventorybackground0 {
    margin-top: 0px;
  }
  .vertical #inventorybackground1 {
    margin-top: 42px;
  }
  .vertical #inventorybackground2 {
    margin-top: 84px;
  }
  .vertical #inventorybackground3 {
    margin-top: 128px;
  }
  .vertical #inventorybackground4 {
    margin-top: 170px;
  }
  .vertical #inventorybackground5 {
    margin-top: 212px;
  }
  .vertical #inventory0,
  .vertical #inventory1,
  .vertical #inventory2,
  .vertical #inventory3,
  .vertical #inventory4,
  .vertical #inventory5 {
    position: absolute;
    top: -5px;
    left: 0px;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
  }
  .vertical #inventorynumber0,
  .vertical #inventorynumber1,
  .vertical #inventorynumber2,
  .vertical #inventorynumber3,
  .vertical #inventorynumber4,
  .vertical #inventorynumber5 {
    font-family: 'GraphicPixel';
    position: absolute;
    width: 32px;
    height: 8px;
    left: 0px;
    top: 28px;
    border: 0px;
    color: #ffffff;
    font-size: 9px;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .vertical #inventory0Cooltime,
  .vertical #inventory1Cooltime,
  .vertical #inventory2Cooltime,
  .vertical #inventory3Cooltime,
  .vertical #inventory4Cooltime,
  .vertical #inventory5Cooltime {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    font-size: 14px;
    padding-top: 8px;
    color: white;
    cursor: default;
    display: none;
  }
  #inventorycontainer.horizontal {
    position: absolute;
    width: 243px;
    height: 56px;
    top: 246px;
    left: 14px;
    margin: 0px;
    border: 0px;
    background-image: url('../img/2/main.png');
    background-position: -82px -714px;
    z-index: 5;
  }
  .horizontal #inventorycontainermove {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 32px;
    left: 12px;
    background-color: #0f0;
  }
  .horizontal #inventorycontainerswitch {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 8px;
    left: 12px;
    background-color: #f00;
  }
  .horizontal #inventorybackground0,
  .horizontal #inventorybackground1,
  .horizontal #inventorybackground2,
  .horizontal #inventorybackground3,
  .horizontal #inventorybackground4,
  .horizontal #inventorybackground5 {
    position: absolute;
    width: 32px;
    height: 40px;
    top: 10px;
    left: 37px;
    margin: 0px;
    border: 0px;
  }
  .horizontal #inventorybackground0 {
    margin-left: 0px;
  }
  .horizontal #inventorybackground1 {
    margin-left: 34px;
  }
  .horizontal #inventorybackground2 {
    margin-left: 68px;
  }
  .horizontal #inventorybackground3 {
    margin-left: 102px;
  }
  .horizontal #inventorybackground4 {
    margin-left: 136px;
  }
  .horizontal #inventorybackground5 {
    margin-left: 170px;
  }
  .horizontal #inventory0,
  .horizontal #inventory1,
  .horizontal #inventory2,
  .horizontal #inventory3,
  .horizontal #inventory4,
  .horizontal #inventory5 {
    position: absolute;
    top: -5px;
    left: 00px;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
  }
  .horizontal #inventorynumber0,
  .horizontal #inventorynumber1,
  .horizontal #inventorynumber2,
  .horizontal #inventorynumber3,
  .horizontal #inventorynumber4,
  .horizontal #inventorynumber5 {
    font-family: 'GraphicPixel';
    position: absolute;
    width: 32px;
    height: 8px;
    left: 0px;
    top: 28px;
    border: 0px;
    color: #ffffff;
    font-size: 9px;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .horizontal #inventory0Cooltime,
  .horizontal #inventory1Cooltime,
  .horizontal #inventory2Cooltime,
  .horizontal #inventory3Cooltime,
  .horizontal #inventory4Cooltime,
  .horizontal #inventory5Cooltime {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    font-size: 14px;
    padding-top: 8px;
    color: white;
    cursor: default;
    display: none;
  }
  #moreinventorybutton {
    position: absolute;
    display: none;
    width: 28px;
    height: 34px;
    top: 0px;
    left: 376px;
    margin: 0px;
    border: 0px;
    background: url('../img/2/main.png') no-repeat -590px -557px;
  }
  #allinventorywindow {
    display: none;
    position: absolute;
    width: 192px;
    height: 192px;
    top: 256px;
    left: 50%;
    margin-left: 86px;
    border: 1px solid #9C9898;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
  }
  #inventory6,
  #inventory7,
  #inventory8,
  #inventory9,
  #inventory10,
  #inventory11,
  #inventory12,
  #inventory13,
  #inventory14,
  #inventory15,
  #inventory16,
  #inventory17,
  #inventory18,
  #inventory19,
  #inventory20,
  #inventory21,
  #inventory22,
  #inventory23,
  #inventory24,
  #inventory25,
  #inventory26,
  #inventory27,
  #inventory28,
  #inventory29 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
  }
  #inventorybackground6,
  #inventorybackground7,
  #inventorybackground8,
  #inventorybackground9,
  #inventorybackground10,
  #inventorybackground11,
  #inventorybackground12,
  #inventorybackground13,
  #inventorybackground14,
  #inventorybackground15,
  #inventorybackground16,
  #inventorybackground17,
  #inventorybackground18,
  #inventorybackground19,
  #inventorybackground20,
  #inventorybackground21,
  #inventorybackground22,
  #inventorybackground23,
  #inventorybackground24,
  #inventorybackground25,
  #inventorybackground26,
  #inventorybackground27,
  #inventorybackground28,
  #inventorybackground29 {
    position: absolute;
    width: 32px;
    height: 32px;
    border: 1px solid #9C9898;
    background-image: url('../img/2/main.png');
    background-position: -366px -556px;
    display: none;
  }
  #inventorybackground6,
  #inventorybackground7,
  #inventorybackground8,
  #inventorybackground9,
  #inventorybackground10,
  #inventorybackground11 {
    top: 0px;
  }
  #inventorybackground12,
  #inventorybackground13,
  #inventorybackground14,
  #inventorybackground15,
  #inventorybackground16,
  #inventorybackground17 {
    top: 48px;
  }
  #inventorybackground18,
  #inventorybackground19,
  #inventorybackground20,
  #inventorybackground21,
  #inventorybackground22,
  #inventorybackground23 {
    top: 96px;
  }
  #inventorybackground24,
  #inventorybackground25,
  #inventorybackground26,
  #inventorybackground27,
  #inventorybackground28,
  #inventorybackground29 {
    top: 144px;
  }
  #inventorybackground6,
  #inventorybackground12,
  #inventorybackground18,
  #inventorybackground24 {
    left: 0px;
  }
  #inventorybackground7,
  #inventorybackground13,
  #inventorybackground19,
  #inventorybackground25 {
    left: 32px;
  }
  #inventorybackground8,
  #inventorybackground14,
  #inventorybackground20,
  #inventorybackground26 {
    left: 64px;
  }
  #inventorybackground9,
  #inventorybackground15,
  #inventorybackground21,
  #inventorybackground27 {
    left: 96px;
  }
  #inventorybackground10,
  #inventorybackground16,
  #inventorybackground22,
  #inventorybackground28 {
    left: 128px;
  }
  #inventorybackground11,
  #inventorybackground17,
  #inventorybackground23,
  #inventorybackground29 {
    left: 160px;
  }
  #inventorynumber6,
  #inventorynumber7,
  #inventorynumber8,
  #inventorynumber9,
  #inventorynumber10,
  #inventorynumber11,
  #inventorynumber12,
  #inventorynumber13,
  #inventorynumber14,
  #inventorynumber15,
  #inventorynumber16,
  #inventorynumber17,
  #inventorynumber18,
  #inventorynumber19,
  #inventorynumber20,
  #inventorynumber21,
  #inventorynumber22,
  #inventorynumber23,
  #inventorynumber24,
  #inventorynumber25,
  #inventorynumber26,
  #inventorynumber27,
  #inventorynumber28,
  #inventorynumber29 {
    font-family: 'GraphicPixel';
    position: absolute;
    left: 0px;
    width: 32px;
    height: 14px;
    border: 1px solid #9C9898;
    color: #ffffff;
    font-size: 9px;
    text-align: center;
    padding-top: 2px;
  }
  #inventorynumber6,
  #inventorynumber7,
  #inventorynumber8,
  #inventorynumber9,
  #inventorynumber10,
  #inventorynumber11 {
    top: 32px;
  }
  #inventorynumber12,
  #inventorynumber13,
  #inventorynumber14,
  #inventorynumber15,
  #inventorynumber16,
  #inventorynumber17 {
    top: 80px;
  }
  #inventorynumber18,
  #inventorynumber19,
  #inventorynumber20,
  #inventorynumber21,
  #inventorynumber22,
  #inventorynumber23 {
    top: 128px;
  }
  #inventorynumber24,
  #inventorynumber25,
  #inventorynumber26,
  #inventorynumber27,
  #inventorynumber28,
  #inventorynumber29 {
    top: 176px;
  }
  #inventorynumber6,
  #inventorynumber12,
  #inventorynumber18,
  #inventorynumber24 {
    left: 0px;
  }
  #inventorynumber7,
  #inventorynumber13,
  #inventorynumber19,
  #inventorynumber25 {
    left: 32px;
  }
  #inventorynumber8,
  #inventorynumber14,
  #inventorynumber20,
  #inventorynumber26 {
    left: 64px;
  }
  #inventorynumber9,
  #inventorynumber15,
  #inventorynumber21,
  #inventorynumber27 {
    left: 96px;
  }
  #inventorynumber10,
  #inventorynumber16,
  #inventorynumber22,
  #inventorynumber28 {
    left: 128px;
  }
  #inventorynumber11,
  #inventorynumber17,
  #inventorynumber23,
  #inventorynumber29 {
    left: 160px;
  }
}
@media screen and (max-width: 1000px) {
  #inventorycontainer.vertical {
    position: absolute;
    width: 20px;
    height: 146px;
    top: 50px;
    left: 5px;
    margin: 0px;
    border: 0px;
    background-image: url('../img/1/main.png');
    background-position: 0px -330px;
    z-index: 5;
  }
  .vertical #inventorycontainermove {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 6px;
    left: 11px;
    background-color: #0f0;
  }
  .vertical #inventorycontainerswitch {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 6px;
    left: 3px;
    background-color: #f00;
  }
  .vertical #inventorybackground0,
  .vertical #inventorybackground1,
  .vertical #inventorybackground2,
  .vertical #inventorybackground3,
  .vertical #inventorybackground4,
  .vertical #inventorybackground5 {
    position: absolute;
    width: 16px;
    height: 20px;
    top: 17.5px;
    left: 2.5px;
    margin: 0px;
    border: 0px;
  }
  .vertical #inventorybackground0 {
    margin-top: 0px;
  }
  .vertical #inventorybackground1 {
    margin-top: 21px;
  }
  .vertical #inventorybackground2 {
    margin-top: 42px;
  }
  .vertical #inventorybackground3 {
    margin-top: 64px;
  }
  .vertical #inventorybackground4 {
    margin-top: 85px;
  }
  .vertical #inventorybackground5 {
    margin-top: 106px;
  }
  .vertical #inventory0,
  .vertical #inventory1,
  .vertical #inventory2,
  .vertical #inventory3,
  .vertical #inventory4,
  .vertical #inventory5 {
    position: absolute;
    top: -2.5px;
    left: 0px;
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0);
  }
  .vertical #inventorynumber0,
  .vertical #inventorynumber1,
  .vertical #inventorynumber2,
  .vertical #inventorynumber3,
  .vertical #inventorynumber4,
  .vertical #inventorynumber5 {
    font-family: 'GraphicPixel';
    position: absolute;
    width: 16px;
    height: 4px;
    left: 0px;
    top: 14px;
    border: 0px;
    color: #ffffff;
    font-size: 5px;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .vertical #inventory0Cooltime,
  .vertical #inventory1Cooltime,
  .vertical #inventory2Cooltime,
  .vertical #inventory3Cooltime,
  .vertical #inventory4Cooltime,
  .vertical #inventory5Cooltime {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 15px;
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    font-size: 7px;
    padding-top: 4px;
    color: white;
    cursor: default;
    display: none;
  }
  #inventorycontainer.horizontal {
    position: absolute;
    width: 121px;
    height: 28px;
    top: 123px;
    left: 7px;
    margin: 0px;
    border: 0px;
    background-image: url('../img/1/main.png');
    background-position: -41px -357px;
    z-index: 5;
  }
  .horizontal #inventorycontainermove {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 16px;
    left: 6px;
    background-color: #0f0;
  }
  .horizontal #inventorycontainerswitch {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 4px;
    left: 6px;
    background-color: #f00;
  }
  .horizontal #inventorybackground0,
  .horizontal #inventorybackground1,
  .horizontal #inventorybackground2,
  .horizontal #inventorybackground3,
  .horizontal #inventorybackground4,
  .horizontal #inventorybackground5 {
    position: absolute;
    width: 16px;
    height: 20px;
    top: 5px;
    left: 18px;
    margin: 0px;
    border: 0px;
  }
  .horizontal #inventorybackground0 {
    margin-left: 0px;
  }
  .horizontal #inventorybackground1 {
    margin-left: 17px;
  }
  .horizontal #inventorybackground2 {
    margin-left: 34px;
  }
  .horizontal #inventorybackground3 {
    margin-left: 51px;
  }
  .horizontal #inventorybackground4 {
    margin-left: 68px;
  }
  .horizontal #inventorybackground5 {
    margin-left: 85px;
  }
  .horizontal #inventory0,
  .horizontal #inventory1,
  .horizontal #inventory2,
  .horizontal #inventory3,
  .horizontal #inventory4,
  .horizontal #inventory5 {
    position: absolute;
    top: -2px;
    left: 00px;
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0);
  }
  .horizontal #inventorynumber0,
  .horizontal #inventorynumber1,
  .horizontal #inventorynumber2,
  .horizontal #inventorynumber3,
  .horizontal #inventorynumber4,
  .horizontal #inventorynumber5 {
    font-family: 'GraphicPixel';
    position: absolute;
    width: 16px;
    height: 4px;
    left: 0px;
    top: 14px;
    border: 0px;
    color: #ffffff;
    font-size: 5px;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .horizontal #inventory0Cooltime,
  .horizontal #inventory1Cooltime,
  .horizontal #inventory2Cooltime,
  .horizontal #inventory3Cooltime,
  .horizontal #inventory4Cooltime,
  .horizontal #inventory5Cooltime {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 15px;
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    font-size: 7px;
    padding-top: 4px;
    color: white;
    cursor: default;
    display: none;
  }
  #moreinventorybutton {
    position: absolute;
    display: none;
    width: 14px;
    height: 17px;
    top: 0px;
    left: 188px;
    margin: 0px;
    border: 0px;
    background: url('../img/1/main.png') no-repeat -295px -278px;
  }
  #allinventorywindow {
    display: none;
    position: absolute;
    width: 96px;
    height: 96px;
    top: 128px;
    left: 50%;
    margin-left: 43px;
    border: 1px solid #9C9898;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
  }
  #inventory6,
  #inventory7,
  #inventory8,
  #inventory9,
  #inventory10,
  #inventory11,
  #inventory12,
  #inventory13,
  #inventory14,
  #inventory15,
  #inventory16,
  #inventory17,
  #inventory18,
  #inventory19,
  #inventory20,
  #inventory21,
  #inventory22,
  #inventory23,
  #inventory24,
  #inventory25,
  #inventory26,
  #inventory27,
  #inventory28,
  #inventory29 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0);
  }
  #inventorybackground6,
  #inventorybackground7,
  #inventorybackground8,
  #inventorybackground9,
  #inventorybackground10,
  #inventorybackground11,
  #inventorybackground12,
  #inventorybackground13,
  #inventorybackground14,
  #inventorybackground15,
  #inventorybackground16,
  #inventorybackground17,
  #inventorybackground18,
  #inventorybackground19,
  #inventorybackground20,
  #inventorybackground21,
  #inventorybackground22,
  #inventorybackground23,
  #inventorybackground24,
  #inventorybackground25,
  #inventorybackground26,
  #inventorybackground27,
  #inventorybackground28,
  #inventorybackground29 {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #9C9898;
    background-image: url('../img/1/main.png');
    background-position: -183px -278px;
    display: none;
  }
  #inventorybackground6,
  #inventorybackground7,
  #inventorybackground8,
  #inventorybackground9,
  #inventorybackground10,
  #inventorybackground11 {
    top: 0px;
  }
  #inventorybackground12,
  #inventorybackground13,
  #inventorybackground14,
  #inventorybackground15,
  #inventorybackground16,
  #inventorybackground17 {
    top: 24px;
  }
  #inventorybackground18,
  #inventorybackground19,
  #inventorybackground20,
  #inventorybackground21,
  #inventorybackground22,
  #inventorybackground23 {
    top: 48px;
  }
  #inventorybackground24,
  #inventorybackground25,
  #inventorybackground26,
  #inventorybackground27,
  #inventorybackground28,
  #inventorybackground29 {
    top: 72px;
  }
  #inventorybackground6,
  #inventorybackground12,
  #inventorybackground18,
  #inventorybackground24 {
    left: 0px;
  }
  #inventorybackground7,
  #inventorybackground13,
  #inventorybackground19,
  #inventorybackground25 {
    left: 16px;
  }
  #inventorybackground8,
  #inventorybackground14,
  #inventorybackground20,
  #inventorybackground26 {
    left: 32px;
  }
  #inventorybackground9,
  #inventorybackground15,
  #inventorybackground21,
  #inventorybackground27 {
    left: 48px;
  }
  #inventorybackground10,
  #inventorybackground16,
  #inventorybackground22,
  #inventorybackground28 {
    left: 64px;
  }
  #inventorybackground11,
  #inventorybackground17,
  #inventorybackground23,
  #inventorybackground29 {
    left: 80px;
  }
  #inventorynumber6,
  #inventorynumber7,
  #inventorynumber8,
  #inventorynumber9,
  #inventorynumber10,
  #inventorynumber11,
  #inventorynumber12,
  #inventorynumber13,
  #inventorynumber14,
  #inventorynumber15,
  #inventorynumber16,
  #inventorynumber17,
  #inventorynumber18,
  #inventorynumber19,
  #inventorynumber20,
  #inventorynumber21,
  #inventorynumber22,
  #inventorynumber23,
  #inventorynumber24,
  #inventorynumber25,
  #inventorynumber26,
  #inventorynumber27,
  #inventorynumber28,
  #inventorynumber29 {
    font-family: 'GraphicPixel';
    position: absolute;
    left: 0px;
    width: 16px;
    height: 7px;
    border: 1px solid #9C9898;
    color: #ffffff;
    font-size: 4.5px;
    text-align: center;
    padding-top: 2px;
  }
  #inventorynumber6,
  #inventorynumber7,
  #inventorynumber8,
  #inventorynumber9,
  #inventorynumber10,
  #inventorynumber11 {
    top: 16px;
  }
  #inventorynumber12,
  #inventorynumber13,
  #inventorynumber14,
  #inventorynumber15,
  #inventorynumber16,
  #inventorynumber17 {
    top: 40px;
  }
  #inventorynumber18,
  #inventorynumber19,
  #inventorynumber20,
  #inventorynumber21,
  #inventorynumber22,
  #inventorynumber23 {
    top: 64px;
  }
  #inventorynumber24,
  #inventorynumber25,
  #inventorynumber26,
  #inventorynumber27,
  #inventorynumber28,
  #inventorynumber29 {
    top: 88px;
  }
  #inventorynumber6,
  #inventorynumber12,
  #inventorynumber18,
  #inventorynumber24 {
    left: 0px;
  }
  #inventorynumber7,
  #inventorynumber13,
  #inventorynumber19,
  #inventorynumber25 {
    left: 16px;
  }
  #inventorynumber8,
  #inventorynumber14,
  #inventorynumber20,
  #inventorynumber26 {
    left: 32px;
  }
  #inventorynumber9,
  #inventorynumber15,
  #inventorynumber21,
  #inventorynumber27 {
    left: 48px;
  }
  #inventorynumber10,
  #inventorynumber16,
  #inventorynumber22,
  #inventorynumber28 {
    left: 64px;
  }
  #inventorynumber11,
  #inventorynumber17,
  #inventorynumber23,
  #inventorynumber29 {
    left: 80px;
  }
}
