html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

canvas {
  position: absolute;
  image-rendering: optimizeSpeed;
}

#background,
#textCanvas,
#foreground,
#cursor {
  margin: 0;
  padding: 0;
}

#wrapper,
#createCharacter,
#loadCharacter,
#error {
  width: 90%;
  height: 40%;
}

#container {
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
}

footer {
  font-family: sans-serif;
  position: absolute;
  bottom: 5%;
  left: 0;
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
}

.sub-forum-link {
  color: #ffffff;
}

.link:hover {
  cursor: pointer;
  color: #d83939;
}

#about-link span:hover,
#credits-link span:hover,
#git-link span:hover,
#forums-link span:hover,
.sub-forum-link:hover {
  color: #ffffff;
  cursor: pointer;
}

.game footer {
  color: #fcda5c;
}

.game footer {
  opacity: 0;
}

footer div {
  display: inline-block;
}

#canvas,
#foreground,
#background,
#textCanvas,
#container,
#border,
#footer,
#cursor {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#foreground,
#background,
#entities,
#cursor {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

#death p {
  margin-top: 10%;
}

#respawn {
  margin-top: 5%;
}

#wrapper,
#wrapper input,
#wrapper select {
  font-family: sans-serif;
}

#wrapper input {
  width: 50%;
  background: rgba(54, 42, 59, 0.9);
  text-align: center;
  color: #000;
}

#wrapper input:focus {
  border-color: #000;
  background: rgba(54, 42, 59, 0.7);
  color: #fff;
}

#wrapper input.field-error {
  background: rgba(255, 0, 0, 0.1);
  border-color: #f84444;
}

#wrapper select {
  width: 25%;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  color: black;
}

#alert {
  height: 50px;
  width: 100%;
  background: #d83939;
  color: #eee;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #000;
}

#wrapper p {
  font-family: sans-serif;
  line-height: 1.2em;
}

#credits,
#git,
#about,
#loadCharacter,
#createCharacter,
#death,
#welcome,
#error {
  opacity: 0;
  pointer-events: none;
}

#credits,
#about,
#git,
#death,
#welcome,
#error,
#loadCharacter,
#createCharacter {
  position: absolute;
  left: 50%;
  text-align: center;
  font-family: sans-serif;
  z-index: 1000;
}

.credits #credits,
.about #about,
.git #git,
.death #death,
.welcomeMessage #welcome,
.error #error,
.createCharacter #createCharacter,
.loadCharacter #loadCharacter {
  opacity: 1;
  pointer-events: auto;
}

#credits,
#about,
#death,
#welcome,
#git {
  top: 50%;
}

#wtf {
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  margin-top: -12%;
  z-index: 100;
  position: relative;
  display: block;
}

#adventure {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  margin-top: -1%;
  z-index: 1;
  position: relative;
}

#createCharacter form {
  position: relative;
}

.loader {
  position: relative;
  margin-top: 25%;
}

#container {
  top: 48%;
  left: 50%;
}

#wrapper,
#respawn {
  background-image: url("../img/common/hud-modal.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper-footer {
  height: 160px;
  width: 100%;
  color: #fff;
  background-image: url("../img/common/hud-modal.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  top: 100%;
  position: relative;
}

@media only screen and (min-width: 1501px) {
  #credits,
  #about,
  #death,
  #welcome,
  #git {
    width: 1266px;
    height: 546px;
    margin-left: -633px;
    margin-top: -273px;
    font-size: 30px;
  }

  #border {
    position: absolute;
    width: 1470px;
    height: 780px;
    left: 50%;
    top: 0;
    margin-left: -735px;
    border: 0;
    padding: 15px;
    background: url("../img/3/border.png") no-repeat 0 0;
  }

  #container {
    width: 1470px;
    height: 798px;
    margin: -378px auto auto -735px;
    position: absolute;
  }

  #loginButton,
  #createCharacter,
  #loadCharacter,
  #error {
    position: absolute;
    top: 48%;
    left: 50%;
    margin-left: -633px;
    margin-top: -273px;
    font-size: 20px;
    text-align: center;
    z-index: 1000;
  }

  #wrapper input,
  #wrapper select {
    padding: 0 15px;
    border: 3px solid #000;
    font-size: 30px;
    border-radius: 9px;
  }

  #wrapper input {
    margin-top: 10px;
    height: 60px;
  }

  #wrapper select {
    margin-top: 24px;
    height: 48px;
    width: 23%;
  }

  #wrapper.createCharacter input {
    margin-top: 24px;
    height: 45px;
  }

  #respawn {
    background-size: 1266px auto;
  }

  .game.death {
    width: 1038px;
    margin-left: -519px;
    background-position: -114px -882px;
  }

  #respawn {
    width: 375px;
    height: 153px;
    margin: 63px auto 0 auto;
    background-position: 0 -1428px;
  }

  #respawn:active {
    background-position: -375px -1428px;
  }

  .loader {
    margin-top: 27%;
    font-size: 26px;
  }
}

@media only screen and (max-width: 1500px),
  only screen and (max-height: 870px) {
  #wrapper-footer {
    height: 100px;
  }

  #credits,
  #about,
  #death,
  #git {
    width: 844px;
    height: 364px;
    margin-left: -422px;
    margin-top: -182px;
    font-size: 20px;
  }

  #welcome {
    width: 644px;
    height: 364px;
    margin-left: -322px;
    margin-top: -152px;
    font-size: 18px;
  }

  #border {
    position: absolute;
    width: 980px;
    height: 520px;
    left: 50%;
    top: 0;
    margin-left: -490px;
    border: 0;
    padding: 10px;
    background: url("../img/2/border.png") no-repeat 0 0;
  }

  #container {
    width: 980px;
    height: 532px;
    margin: -252px auto auto -490px;
    position: absolute;
  }

  #wrapper,
  #createCharacter,
  #loadCharacter,
  #error {
    position: absolute;
    top: 48%;
    left: 50%;
    margin-left: -422px;
    margin-top: -182px;
    font-size: 20px;
    text-align: center;
    z-index: 2;
  }

  #wrapper input,
  #wrapper select {
    padding: 0 10px;
    border: 2px solid #000;
    font-size: 20px;
    border-radius: 6px;
  }

  #wrapper input {
    margin-top: 20px;
    height: 41px;
  }

  #wrapper select {
    margin-top: 16px;
    height: 32px;
    width: 23%;
  }

  #wrapper.createCharacter input {
    margin-top: 15px;
    height: 30px;
  }

  #respawn {
    background-size: 844px auto;
  }

  #respawn {
    width: 250px;
    height: 102px;
    margin: 42px auto 0 auto;
    background-position: 0 -952px;
  }

  #respawn:active {
    background-position: -250px -952px;
  }
}

@media only screen and (max-width: 1000px) {
  #wrapper-footer {
    height: 60px;
  }

  #credits,
  #about,
  #death,
  #git {
    width: 422px;
    height: 182px;
    margin-left: -211px;
    margin-top: -91px;
    font-size: 10px;
  }

  #welcome {
    width: 322px;
    height: 182px;
    margin-left: -161px;
    margin-top: -76px;
    font-size: 10px;
  }

  #border {
    position: absolute;
    width: 490px;
    height: 260px;
    left: 50%;
    top: 0;
    margin-left: -245px;
    border: 0;
    padding: 5px;
    background: url("../img/1/border.png") no-repeat 0 0;
  }

  #container {
    width: 490px;
    height: 266px;
    margin: -126px auto auto -245px;
    position: absolute;
  }

  #wrapper,
  #createCharacter,
  #loadCharacter,
  #error {
    position: absolute;
    top: 48%;
    left: 50%;
    margin-left: -211px;
    margin-top: -91px;
    font-size: 10px;
    text-align: center;
    z-index: 2;
  }

  #wrapper input,
  #wrapper select {
    padding: 0 5px;
    border: 1px solid #000;
    font-size: 10px;
    border-radius: 3px;
  }

  #wrapper input {
    margin-top: 10px;
    height: 20px;
  }

  #wrapper select {
    margin-top: 8px;
    height: 16px;
    width: 23%;
  }

  #wrapper.createCharacter input {
    margin-top: 8px;
    height: 15px;
  }

  #respawn {
    background-size: 422px auto;
  }

  #respawn {
    width: 125px;
    height: 51px;
    margin: 21px auto 0 auto;
    background-position: 0 -476px;
  }

  #respawn:active {
    background-position: -125px -476px;
  }
}

.align-center {
  margin: auto;
}
