#questlog {
  background: rgba(0, 0, 0, 0.3);
  text-align: left;
  position: absolute;
  left: 8%;
  top: 65%;
  pointer-events: none;
}
#questalarm {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  position: absolute;
  left: calc(90% - 55px);
  top: calc(50% - 160px);
  width: 320px;
  height: 55px;
  display: none;
  pointer-events: none;
  text-align: center;
}
@media only screen and (min-width: 1501px) {
  #questalarm h2 {
    font-size: 20px;
    /*no font multiplication until ... idk*/
    text-shadow: 0 1px 0px #000000;
  }
  #questLogInfo {
    font-size: 12px;
  }
  #questLogInfo td {
    max-width: 120px;
  }
  #questLogInfo:nth-child(3),
  #questLogInfo:nth-child(1) {
    width: 60px;
  }
  #questLogInfo:nth-child(2) {
    width: 120px;
  }
  #quest {
    position: absolute;
    left: 50%;
    top: 777px;
    bottom: 15px;
    border: 1px solid #9c9898;
    width: 1440px;
    margin-left: -720px;
    padding: 7.5px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #000000;
    display: none;
  }
  #quest td {
    font-size: 1.2em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
  }
  #quest th {
    font-size: 1.4em;
    padding: 3px 5px 2px 5px;
    text-align: left;
    color: #fff;
    background: #a7c942;
  }
  #quest tr.alt td {
    color: #000000;
    background-color: #eaf2d3;
  }
}
@media only screen and (max-width: 1500px), only screen and (max-height: 870px) {
  #questalarm h2 {
    font-size: 20px;
    /*no font multiplication until ... idk*/
    text-shadow: 0 1px 0px #000000;
  }
  #questLogInfo {
    font-size: 9px;
  }
  #questLogInfo td {
    max-width: 90px;
  }
  #questLogInfo:nth-child(3),
  #questLogInfo:nth-child(1) {
    width: 40px;
  }
  #questLogInfo:nth-child(2) {
    width: 90px;
  }
  #quest {
    position: absolute;
    left: 50%;
    top: 518px;
    bottom: 10px;
    border: 1px solid #9c9898;
    width: 960px;
    margin-left: -480px;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #000000;
    display: none;
  }
  #quest td {
    font-size: 1.2em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
  }
  #quest th {
    font-size: 1.4em;
    padding: 3px 5px 2px 5px;
    text-align: left;
    color: #fff;
    background: #a7c942;
  }
  #quest tr.alt td {
    color: #000000;
    background-color: #eaf2d3;
  }
}
@media only screen and (max-width: 1000px) {
  #questalarm h2 {
    font-size: 20px;
    /*no font multiplication until ... idk*/
    text-shadow: 0 1px 0px #000000;
  }
  #questLogInfo {
    font-size: 6px;
  }
  #questLogInfo td {
    max-width: 60px;
  }
  #questLogInfo:nth-child(3),
  #questLogInfo:nth-child(1) {
    width: 30px;
  }
  #questLogInfo:nth-child(2) {
    width: 60px;
  }
  #quest {
    position: absolute;
    left: 50%;
    top: 259px;
    bottom: 5px;
    border: 1px solid #9c9898;
    width: 480px;
    margin-left: -240px;
    padding: 2.5px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #000000;
    display: none;
  }
  #quest td {
    font-size: 1.2em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
  }
  #quest th {
    font-size: 1.4em;
    padding: 3px 5px 2px 5px;
    text-align: left;
    color: #fff;
    background: #a7c942;
  }
  #quest tr.alt td {
    color: #000000;
    background-color: #eaf2d3;
  }
}
