@media only screen and (min-width: 1501px) {
  /*Maybe 4px ?*/
  #skill0,
  #skill1,
  #skill2,
  #skill3,
  #skill4 {
    position: absolute;
    left: initial;
    top: 6px;
    width: 51px;
    height: 60px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #skill0Body,
  #skill1Body,
  #skill2Body,
  #skill3Body,
  #skill4Body {
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 45px;
  }
  #skill0Cooltime,
  #skill1Cooltime,
  #skill2Cooltime,
  #skill3Cooltime,
  #skill4Cooltime {
    color: white;
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 21px;
    padding-top: 12px;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 45px;
    text-align: center;
    display: none;
    cursor: default;
  }
  #skill4 {
    left: 1107px;
  }
  #skill3 {
    left: 1056px;
  }
  #skill2 {
    left: 1005px;
  }
  #skill1 {
    left: 954px;
  }
  #skill0 {
    left: 903px;
  }
  #skill00,
  #skill01,
  #skill02,
  #skill03,
  #skill10,
  #skill11,
  #skill12,
  #skill13,
  #skill20,
  #skill21,
  #skill22,
  #skill23,
  #skill30,
  #skill31,
  #skill32,
  #skill33,
  #skill40,
  #skill41,
  #skill42,
  #skill43 {
    border: none;
    display: none;
    background-image: url("../img/3/main.png");
    background-position: -990px -837px;
    position: absolute;
    left: initial;
    top: 45px;
    width: 9px;
    height: 24px;
  }
  #skill03,
  #skill13,
  #skill23,
  #skill33,
  #skill43 {
    left: 39px;
  }
  #skill02,
  #skill12,
  #skill22,
  #skill32,
  #skill42 {
    left: 27px;
  }
  #skill01,
  #skill11,
  #skill21,
  #skill31,
  #skill41 {
    left: 15px;
  }
  #skill00,
  #skill10,
  #skill20,
  #skill30,
  #skill40 {
    left: 3px;
  }
}
@media only screen and (max-width: 1500px), only screen and (max-height: 870px) {
  /*Maybe 4px ?*/
  #skill0,
  #skill1,
  #skill2,
  #skill3,
  #skill4 {
    position: absolute;
    left: initial;
    top: 4px;
    width: 34px;
    height: 40px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #skill0Body,
  #skill1Body,
  #skill2Body,
  #skill3Body,
  #skill4Body {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 30px;
  }
  #skill0Cooltime,
  #skill1Cooltime,
  #skill2Cooltime,
  #skill3Cooltime,
  #skill4Cooltime {
    color: white;
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 14px;
    padding-top: 8px;
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 30px;
    text-align: center;
    display: none;
    cursor: default;
  }
  #skill4 {
    left: 738px;
  }
  #skill3 {
    left: 704px;
  }
  #skill2 {
    left: 670px;
  }
  #skill1 {
    left: 636px;
  }
  #skill0 {
    left: 602px;
  }
  #skill00,
  #skill01,
  #skill02,
  #skill03,
  #skill10,
  #skill11,
  #skill12,
  #skill13,
  #skill20,
  #skill21,
  #skill22,
  #skill23,
  #skill30,
  #skill31,
  #skill32,
  #skill33,
  #skill40,
  #skill41,
  #skill42,
  #skill43 {
    border: none;
    display: none;
    background-image: url("../img/2/main.png");
    background-position: -660px -558px;
    position: absolute;
    left: initial;
    top: 30px;
    width: 6px;
    height: 16px;
  }
  #skill03,
  #skill13,
  #skill23,
  #skill33,
  #skill43 {
    left: 26px;
  }
  #skill02,
  #skill12,
  #skill22,
  #skill32,
  #skill42 {
    left: 18px;
  }
  #skill01,
  #skill11,
  #skill21,
  #skill31,
  #skill41 {
    left: 10px;
  }
  #skill00,
  #skill10,
  #skill20,
  #skill30,
  #skill40 {
    left: 2px;
  }
}
@media only screen and (max-width: 1000px) {
  /*Maybe 4px ?*/
  #skill0,
  #skill1,
  #skill2,
  #skill3,
  #skill4 {
    position: absolute;
    left: initial;
    top: 2px;
    width: 17px;
    height: 20px;
    padding: 0;
    border: 0;
    margin: 0;
  }
  #skill0Body,
  #skill1Body,
  #skill2Body,
  #skill3Body,
  #skill4Body {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 15px;
  }
  #skill0Cooltime,
  #skill1Cooltime,
  #skill2Cooltime,
  #skill3Cooltime,
  #skill4Cooltime {
    color: white;
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 7px;
    padding-top: 4px;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 15px;
    text-align: center;
    display: none;
    cursor: default;
  }
  #skill4 {
    left: 369px;
  }
  #skill3 {
    left: 352px;
  }
  #skill2 {
    left: 335px;
  }
  #skill1 {
    left: 318px;
  }
  #skill0 {
    left: 301px;
  }
  #skill00,
  #skill01,
  #skill02,
  #skill03,
  #skill10,
  #skill11,
  #skill12,
  #skill13,
  #skill20,
  #skill21,
  #skill22,
  #skill23,
  #skill30,
  #skill31,
  #skill32,
  #skill33,
  #skill40,
  #skill41,
  #skill42,
  #skill43 {
    border: none;
    display: none;
    background-image: url("../img/1/main.png");
    background-position: -330px -279px;
    position: absolute;
    left: initial;
    top: 15px;
    width: 3px;
    height: 8px;
  }
  #skill03,
  #skill13,
  #skill23,
  #skill33,
  #skill43 {
    left: 13px;
  }
  #skill02,
  #skill12,
  #skill22,
  #skill32,
  #skill42 {
    left: 9px;
  }
  #skill01,
  #skill11,
  #skill21,
  #skill31,
  #skill41 {
    left: 5px;
  }
  #skill00,
  #skill10,
  #skill20,
  #skill30,
  #skill40 {
    left: 1px;
  }
}
