
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

@font-face {
    font-family: 'GraphicPixel';
    src: url('../fonts/graphicpixel-webfont.eot');
    src: url('../fonts/graphicpixel-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/graphicpixel-webfont.woff') format('woff'),
    url('../fonts/graphicpixel-webfont.ttf') format('truetype'),
    url('../fonts/graphicpixel-webfont.svg#GraphicPixelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdvoCut';
    src: url('../fonts/advocut-webfont.eot');
    src: url('../fonts/advocut-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/advocut-webfont.woff') format('woff'),
    url('../fonts/advocut-webfont.ttf') format('truetype'),
    url('../fonts/advocut-webfont.svg#AndinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 1501px) {

    #basebarcontainer {
        font-family:'GraphicPixel';
        position: absolute;
        width: 1440px;
        height: 66px;
        top: 669px;
        left: 15px;
        margin-left: 0;
        border: 0;
        text-align: center;
        font-size: 21px;
        background-image: url('../img/3/maintwo.png' );
        background-position: 0 -768px;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    #hpcontainer, #mpcontainer{
        font-family:'GraphicPixel';
        position: absolute;
        top: 9px;
        width: 264px;
        height: -18px;
        border: 0;
        margin-left: 0;
        text-align: center;
        cursor: default;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    #hpcontainer {
        left: 3px;
    }
    #mpcontainer {
        left: 279px;
    }
    #expcontainer {
        position: absolute;
        left: 0;
        top: 51px;
        width: 564px;
        height: 15px;
        border: 0;
        margin-left: 0;
        font-size: 0;
        text-align: center;
        cursor: default;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    #health, #mana {
        position: absolute;
        top: 3px;
        left: 30px;
        width: 230px;
        height: 30px;
        border: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        -moz-transition:.5s width ease;
        -webkit-transition:.5s width ease;
        -o-transition:.5s width ease;
        -ms-transition:.5s width ease;
        transition:.5s width ease;
    }
    #health {
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, #FF8888, #FF0000);
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, #FF8888, #FF0000);
    }
    #health.white {
        -moz-animation:flash 0.5s linear 1;
        -webkit-animation:flash 0.5s linear 1;
        -o-animation:flash 0.5s linear 1;
        -ms-animation:flash 0.5s linear 1;
        animation:flash 0.5s linear 1;
    }

    #health.invincible {
        -moz-animation: invincible 0.3s steps(3, end) alternate infinite;
        -webkit-animation: invincible 0.3s steps(3, end) alternate infinite;
        -o-animation:invincible 0.3s steps(3, end) alternate infinite;
        -ms-animation:invincible 0.3s steps(3, end) alternate infinite;
    }
    #mana {
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
    }
    #exp {
        position: absolute;
        top: 0;
        left: 0;
        width: 564px;
        height: 15px;
        border: 0;
        margin: 0;
        padding: 0;
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, #44FF44, #008800);
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, #44FF44, #008800);
        -moz-transition:.5s width ease;
        -webkit-transition:.5s width ease;
        -o-transition:.5s width ease;
        -ms-transition:.5s width ease;
        transition:.5s width ease;
    }
    #healthbar, #manabar {
        position: absolute;
        top: 0;
        left: 0;
        width: 264px;
        height: 39px;
        border: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        color: white;
    }
    #healthbar, #manabar p{
        font-size: 6px;
        line-height: 0%;
    }
    #healthbar {
        background-image: url('../img/3/maintwo.png' );
        background-position: 0 -834px;
    }
    #manabar {
        background-image: url('../img/3/maintwo.png' );
        background-position: -264px -834px;
    }

    #expbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 564px;
        height: 15px;
        border: 0;
        margin: 0;
        padding: 0;
        background-image: url('../img/3/maintwo.png' );
        background-position: 0 -873px;
    }
    #healthtext, #manatext {
        position: absolute;
        top: 6px;
        left: 0;
        width: 264px;
        height: 39px;
        border: 0;
        margin: 0;
        padding: 0;
        line-height: 39px;
        text-align: center;
        color: white;
        font-family: 'GraphicPixel', sans-serif;
    }
    #hpguide{
        background: rgb(128,64,64);
        position: absolute;
        display: none;
        height: 33px;
        width: 3px;
        top: 3px;
        left: 0;
    }
    #inventorybackground0, #inventorybackground1, #inventorybackground2, #inventorybackground3, #inventorybackground4, #inventorybackground5 {
        position: absolute;
        width: 48px;
        height: 60px;
        top: 6px;
        left: 549px;
        margin: 0;
        border: 0;
        background-image: url('../img/3/maintwo.png' );
    }
    #inventorybackground0 {
        margin-left: 0;
        background-position: -597px -834px;
    }
    #inventorybackground0.empty {
        background-position: -549px -834px;
    }
    #inventorybackground1 {
        margin-left: 34px;
        background-position: -645px -834px;
    }
    #inventorybackground1.empty {
        background-position: -549px -834px;
    }
    #inventorybackground2 {
        margin-left: 68px;
        background-position: -693px -834px;
    }
    #inventorybackground2.empty {
        background-position: -549px -834px;
    }
    #inventorybackground3 {
        margin-left: 102px;
        background-position: -741px -834px;
    }
    #inventorybackground3.empty {
        background-position: -549px -834px;
    }
    #inventorybackground4 {
        margin-left: 136px;
        background-position: -789px -834px;
    }
    #inventorybackground4.empty {
        background-position: -549px -834px;
    }
    #inventorybackground5 {
        margin-left: 170px;
        background-position: -837px -834px;
        display: none;
    }
    #inventorybackground5.empty {
        background-position: -549px -834px;
    }
    #inventorybackground0 { margin-left: 0; }
    #inventorybackground1 { margin-left: 51px; }
    #inventorybackground2 { margin-left: 99px; }
    #inventorybackground3 { margin-left: 153px; display: none; }
    #inventorybackground4 { margin-left: 204px; display: none; }
    #inventorybackground5 { margin-left: 255px; display: none; }
    #inventory0, #inventory1, #inventory2, #inventory3, #inventory4, #inventory5 {
        position: absolute;
        top: -7.5px;
        left: 00px;
        width: 48px;
        height: 48px;
        background-color: rgba(0, 0, 0, 0);
    }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5{
        position: absolute;
        width: 48px;
        height: 12px;
        left: 1px;
        top: 42px;
        border: 0;
        color: rgba(255, 255, 255, 1);
        font-size: 13.5px;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #moreinventorybutton{
        position: absolute;
        display: none;
        width: 48px;
        height: 51px;
        top: 0;
        left: 852px;
        margin: 0;
        border: 0;
        background: url('../img/3/maintwo.png') no-repeat -591px -556px;
    }
    #inventoryButton {
        position: absolute;
        width: 42px;
        height: 45px;
        top: 3px;
        left: 856.5px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/3/main.png') no-repeat -588px -942px;
    }

    #inventoryButton:hover {
        background: url('../img/3/main.png') no-repeat -630px -942px;
    }

    #inventoryButton.active {
        background: url('../img/3/main.png') no-repeat -672px -942px;
    }

    #characterButton {
        position: absolute;
        width: 42px;
        height: 45px;
        top: 3px;
        left: 1305px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/3/main.png') no-repeat -714px -942px;
    }

    #characterButton:hover {
        background: url('../img/3/main.png') no-repeat -756px -942px;
    }

    #characterButton.active {
        background: url('../img/3/main.png') no-repeat -798px -942px;
    }


    #helpbutton {
        position: absolute;
        width: 42px;
        height: 45px;
        top: 3px;
        left: 1350px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/3/main.png' ) no-repeat -840px -942px;
    }

    #helpbutton:hover {
        background: url('../img/3/main.png' ) no-repeat -882px -942px;
    }

    #helpbutton.active {
        background: url('../img/3/main.png' ) no-repeat -924px -942px;
    }

    #soundbutton {
        position: absolute;
        width: 42px;
        height: 45px;
        top: 3px;
        left: 1395px;
        margin: 0px;
        border: 0px;
        background: url('../img/3/main.png' ) no-repeat -378px -942px;
    }

    #soundbutton:hover {
        background: url('../img/3/main.png' ) no-repeat -336px -942px;
    }

    #soundbutton.active {
        background: url('../img/3/main.png' ) no-repeat -294px -942px;
    }

    #warpbutton {
        position: absolute;
        width: 42px;
        height: 45px;
        top: 3px;
        left: 699px;
        margin: 0px;
        border: 0px;
        background: url('../img/3/main.png' ) no-repeat -966px -942px;
    }

    #warpbutton:hover {
        background: url('../img/3/main.png' ) no-repeat -1008px -942px;
    }

    #warpbutton.active {
        background: url('../img/3/main.png' ) no-repeat -1050px -942px;
    }

    #users {
        font-family:'GraphicPixel';
        position: absolute;
        width: 96px;
        height: 60px;
        top: 18px;
        left: 1203px;
        margin: 0;
        border: 0;
        color: white;

    }
    #fps {
        font-family:'GraphicPixel';
        position: absolute;
        width: 132px;
        height: 12px;
        left: 1305px;
        top: 49.5px;
        border: 0;
        color: rgba(255, 255, 255, 1);
        font-size: 13.5px;
        text-align: center;
        padding: 0;
        margin: 0;
    }

}

@media screen and (max-width: 1500px), screen and (max-height: 870px) {
    #basebarcontainer {
        position: absolute;
        width: 960px;
        height: 44px;
        top: 446px;
        left: 10px;
        margin-left: 0;
        border: 0;
        text-align: center;
        font-size: 14px;
        background-image: url('../img/2/maintwo.png' );
        background-position: 0 -512px;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    #hpcontainer, #mpcontainer{
        font-family:'GraphicPixel';
        position: absolute;
        top: 6px;
        width: 176px;
        height: 26px;
        border: 0;
        margin-left: 0;
        text-align: center;
        cursor: default;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    #hpcontainer {
        left: 2px;
    }
    #mpcontainer {
        left: 186px;
    }
    #expcontainer {
        position: absolute;
        left: 0;
        top: 34px;
        width: 376px;
        height: 10px;
        border: 0;
        margin-left: 0;
        text-align: center;
        cursor: default;
        font-size: 0;
        -moz-user-select: none;
        -webkit-user-select: none;
        -moz-transition:.5s width ease;
        -webkit-transition:.5s width ease;
        -o-transition:.5s width ease;
        -ms-transition:.5s width ease;
        transition:.5s width ease;
    }
    #health, #mana {
        position: absolute;
        top: 2px;
        left: 20px;
        width: 154px;
        height: 22px;
        border: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        -moz-transition:.5s width ease;
        -webkit-transition:.5s width ease;
        -o-transition:.5s width ease;
        -ms-transition:.5s width ease;
        transition:.5s width ease;
    }
    #health {
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, #FF8888, #FF0000);
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, #FF8888, #FF0000);
    }
    #health.white {
        -moz-animation:flash 0.5s linear 1;
        -webkit-animation:flash 0.5s linear 1;
        -o-animation:flash 0.5s linear 1;
        -ms-animation:flash 0.5s linear 1;
        animation:flash 0.5s linear 1;
    }

    #health.invincible {
        -moz-animation: invincible 0.3s steps(3, end) alternate infinite;
        -webkit-animation: invincible 0.3s steps(3, end) alternate infinite;
        -o-animation:invincible 0.3s steps(3, end) alternate infinite;
        -ms-animation:invincible 0.3s steps(3, end) alternate infinite;
    }
    #mana {
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
    }
    #exp {
        position: absolute;
        top: 0;
        left: 0;
        width: 376px;
        height: 10px;
        border: 0;
        margin: 0;
        padding: 0;
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, #44FF44, #008800);
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, #44FF44, #008800);
        -moz-transition:.5s width ease;
        -webkit-transition:.5s width ease;
        -o-transition:.5s width ease;
        -ms-transition:.5s width ease;
        transition:.5s width ease;
    }
    #healthbar, #manabar {
        position: absolute;
        top: 0;
        left: 0;
        width: 176px;
        height: 26px;
        border: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        color: white;
    }
    #healthbar, #manabar p{
        font-size: 12px;
        line-height: 0%;
    }
    #healthbar {
        background-image: url('../img/2/maintwo.png' );
        background-position: 0 -556px;
    }
    #manabar {
        background-image: url('../img/2/maintwo.png' );
        background-position: -176px -556px;
    }

    #expbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 376px;
        height: 10px;
        border: 0;
        margin: 0;
        padding: 0;
        background-image: url('../img/2/maintwo.png' );
        background-position: 0 -582px;
    }
    #healthtext, #manatext {
        position: absolute;
        top: 4px;
        left: 0;
        width: 176px;
        height: 26px;
        border: 0;
        margin: 0;
        padding: 0;
        line-height: 26px;
        text-align: center;
        color: white;
    }
    #hpguide{
        background: rgb(128,64,64);
        position: absolute;
        display: none;
        height: 22px;
        width: 2px;
        top: 2px;
        left: 0;
    }
    #inventorybackground0, #inventorybackground1, #inventorybackground2, #inventorybackground3, #inventorybackground4, #inventorybackground5 {
        position: absolute;
        width: 32px;
        height: 40px;
        top: 4px;
        left: 366px;
        margin: 0;
        border: 0;
        background-image: url('../img/2/maintwo.png' );
    }
    #inventorybackground0 {
        margin-left: 0;
        background-position: -398px -556px;
    }
    #inventorybackground0.empty {
        background-position: -366px -556px;
    }
    #inventorybackground1 {
        margin-left: 34px;
        background-position: -430px -556px;
    }
    #inventorybackground1.empty {
        background-position: -366px -556px;
    }
    #inventorybackground2 {
        margin-left: 68px;
        background-position: -462px -556px;
    }
    #inventorybackground2.empty {
        background-position: -366px -556px;
    }
    #inventorybackground3 {
        margin-left: 102px;
        background-position: -494px -556px;
    }
    #inventorybackground3.empty {
        background-position: -366px -556px;
    }
    #inventorybackground4 {
        margin-left: 136px;
        background-position: -526px -556px;
    }
    #inventorybackground4.empty {
        background-position: -366px -556px;
    }
    #inventorybackground5 {
        margin-left: 170px;
        background-position: -558px -556px;
        display: none;
    }
    #inventorybackground5.empty {
        background-position: -366px -556px;
    }
    #inventorybackground0 { margin-left: 0; }
    #inventorybackground1 { margin-left: 34px; }
    #inventorybackground2 { margin-left: 68px; }
    #inventorybackground3 { margin-left: 102px; display: none; }
    #inventorybackground4 { margin-left: 136px; display: none; }
    #inventorybackground5 { margin-left: 170px; display: none; }
    #inventory0, #inventory1, #inventory2, #inventory3, #inventory4, #inventory5 {
        position: absolute;
        top: -5px;
        left: 0;
        width: 32px;
        height: 32px;
        background-color: rgba(0, 0, 0, 0);
    }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5{
        position: absolute;
        width: 32px;
        height: 8px;
        left: 0;
        top: 29px;
        border: 0;
        color: rgba(255, 255, 255, 1);
        font-size: 9px;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #moreinventorybutton{
        position: absolute;
        display: none;
        width: 32px;
        height: 34px;
        top: 0;
        left: 568px;
        margin: 0;
        border: 0;
        background: url('../img/2/maintwo.png') no-repeat -591px -556px;
    }



    #inventoryButton {
        position: absolute;
        width: 28px;
        height: 30px;
        top: 2px;
        left: 571px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/2/main.png') no-repeat -392px -628px;
    }

    #inventoryButton:hover {
        background: url('../img/2/main.png') no-repeat -420px -628px;
    }

    #inventoryButton.active {
        background: url('../img/2/main.png') no-repeat -448px -628px;
    }

    #characterButton {
        position: absolute;
        width: 28px;
        height: 30px;
        top: 2px;
        left: 870px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/2/main.png') no-repeat -476px -628px;
    }

    #characterButton:hover {
        background: url('../img/2/main.png') no-repeat -504px -628px;
    }

    #characterButton.active {
        background: url('../img/2/main.png') no-repeat -532px -628px;
    }


    #helpbutton {
        position: absolute;
        width: 28px;
        height: 30px;
        top: 2px;
        left: 900px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/2/main.png' ) no-repeat -560px -628px;
    }

    #helpbutton:hover {
        background: url('../img/2/main.png' ) no-repeat -588px -628px;
    }

    #helpbutton.active {
        background: url('../img/2/main.png' ) no-repeat -616px -628px;
    }

    #soundbutton {
        position: absolute;
        width: 28px;
        height: 30px;
        top: 2px;
        left: 930px;
        margin: 0px;
        border: 0px;
        background: url('../img/2/main.png' ) no-repeat -252px -628px;
    }

    #soundbutton:hover {
        background: url('../img/2/main.png' ) no-repeat -224px -628px;
    }

    #soundbutton.active {
        background: url('../img/2/main.png' ) no-repeat -196px -628px;
    }

    #warpbutton {
        position: absolute;
        width: 28px;
        height: 30px;
        top: 0px;
        left: 466px;
        margin: 0px;
        border: 0px;
        background: url('../img/2/main.png' ) no-repeat -644px -628px;
    }

    #warpbutton:hover {
        background: url('../img/2/main.png' ) no-repeat -672px -628px;
    }

    #warpbutton.active {
        background: url('../img/2/main.png' ) no-repeat -700px -628px;
    }

    #chatbutton {
        position: absolute;
        width: 28px;
        height: 30px;
        top: 0px;
        left: 526px;
        margin: 0px;
        border: 0px;
        background: url('../img/2/main.png' ) no-repeat -756px -628px;
    }

    #chatbutton:hover {
        background: url('../img/2/main.png' ) no-repeat -728px -628px;
    }

    #chatbutton.active {
        background: url('../img/2/main.png' ) no-repeat -784px -628px;
    }
    #users {
        font-family:'GraphicPixel';
        position: absolute;
        width: 64px;
        height: 40px;
        top: 12px;
        left: 802px;
        margin: 0;
        border: 0;
        color: white;
    }
    #fps {
        font-family:'GraphicPixel';
        position: absolute;
        width: 88px;
        height: 8px;
        left: 870px;
        top: 33px;
        border: 0;
        color: rgba(255, 255, 255, 1);
        font-size: 9px;
        text-align: center;
        padding: 0;
        margin: 0;
    }


}

@media screen and (max-width: 1000px) {

    #basebarcontainer {
        position: absolute;
        width: 480px;
        height: 22px;
        top: 223px;
        left: 5px;
        margin-left: 0;
        border: 0;
        text-align: center;
        font-size: 7px;
        background-image: url('../img/1/maintwo.png' );
        background-position: 0 -256px;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    #hpcontainer, #mpcontainer{
        font-family:'GraphicPixel';
        position: absolute;
        top: 3px;
        width: 88px;
        height: -6px;
        border: 0;
        margin-left: 0;
        text-align: center;
        cursor: default;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    #hpcontainer {
        left: 1px;
    }
    #mpcontainer {
        left: 93px;
    }
    #expcontainer {
        position: absolute;
        left: 0;
        top: 17px;
        width: 188px;
        height: 5px;
        border: 0;
        margin-left: 0;
        text-align: center;
        cursor: default;
        font-size: 0;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    #health, #mana {
        position: absolute;
        top: 1px;
        left: 10px;
        width: 77px;
        height: 11px;
        border: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        -moz-transition:.5s width ease;
        -webkit-transition:.5s width ease;
        -o-transition:.5s width ease;
        -ms-transition:.5s width ease;
        transition:.5s width ease;
    }
    #health {
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, #FF8888, #FF0000);
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, #FF8888, #FF0000);
    }
    #health.white {
        -moz-animation:flash 0.5s linear 1;
        -webkit-animation:flash 0.5s linear 1;
        -o-animation:flash 0.5s linear 1;
        -ms-animation:flash 0.5s linear 1;
        animation:flash 0.5s linear 1;
    }

    #health.invincible {
        -moz-animation: invincible 0.3s steps(3, end) alternate infinite;
        -webkit-animation: invincible 0.3s steps(3, end) alternate infinite;
        -o-animation:invincible 0.3s steps(3, end) alternate infinite;
        -ms-animation:invincible 0.3s steps(3, end) alternate infinite;
    }
    #mana {
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, rgb(94, 145, 221), rgb(55, 84, 128));
    }
    #exp {
        position: absolute;
        top: 0;
        left: 0;
        width: 188px;
        height: 5px;
        border: 0;
        margin: 0;
        padding: 0;
        font-size: 0;
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, #44FF44, #008800);
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, #44FF44, #008800);
        -moz-transition:.5s width ease;
        -webkit-transition:.5s width ease;
        -o-transition:.5s width ease;
        -ms-transition:.5s width ease;
        transition:.5s width ease;
    }
    #healthbar, #manabar {
        position: absolute;
        top: 0;
        left: 0;
        width: 88px;
        height: 13px;
        border: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        color: white;
    }
    #healthbar, #manabar p{
        font-size: 6px;
        line-height: 0%;
    }
    #healthbar {
        background-image: url('../img/1/maintwo.png' );
        background-position: 0 -278px;
    }
    #manabar {
        background-image: url('../img/1/maintwo.png' );
        background-position: -88px -278px;
    }
    #expbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 188px;
        height: 5px;
        border: 0;
        margin: 0;
        padding: 0;
        font-size: 0;
        background-image: url('../img/1/maintwo.png' );
        background-position: 0 -291px;
    }
    #healthtext, #manatext {
        position: absolute;
        top: 2px;
        left: 0;
        width: 88px;
        height: 13px;
        border: 0;
        margin: 0;
        padding: 0;
        line-height: 13px;
        text-align: center;
        color: white;

    }
    #healthtext p {
        font-size: 9;
    }
    #manatext p {
        font-size: 9;
    }
    #hpguide{
        background: rgb(128,64,64);
        position: absolute;
        display: none;
        height: 11px;
        width: 1px;
        top: 1px;
        left: 0;
    }
    #inventorybackground0, #inventorybackground1, #inventorybackground2, #inventorybackground3, #inventorybackground4, #inventorybackground5 {
        position: absolute;
        width: 16px;
        height: 20px;
        top: 2px;
        left: 183px;
        margin: 0;
        border: 0;
        background-image: url('../img/1/maintwo.png' );
    }
    #inventorybackground0 {
        margin-left: 0;
        background-position: -199px -278px;
    }
    #inventorybackground0.empty {
        background-position: -183px -278px;
    }
    #inventorybackground1 {
        margin-left: 34px;
        background-position: -215px -278px;
    }
    #inventorybackground1.empty {
        background-position: -183px -278px;
    }
    #inventorybackground2 {
        margin-left: 68px;
        background-position: -231px -278px;
    }
    #inventorybackground2.empty {
        background-position: -183px -278px;
    }
    #inventorybackground3 {
        margin-left: 102px;
        background-position: -247px -278px;
    }
    #inventorybackground3.empty {
        background-position: -183px -278px;
    }
    #inventorybackground4 {
        margin-left: 136px;
        background-position: -263px -278px;
    }
    #inventorybackground4.empty {
        background-position: -183px -278px;
    }
    #inventorybackground5 {
        margin-left: 170px;
        background-position: -279px -278px;
        display: none;
    }
    #inventorybackground5.empty {
        background-position: -183px -278px;
    }
    #inventorybackground0 { margin-left: 0; }
    #inventorybackground1 { margin-left: 17px; }
    #inventorybackground2 { margin-left: 33px; }
    #inventorybackground3 { margin-left: 51px; display: none; }
    #inventorybackground4 { margin-left: 68px; display: none; }
    #inventorybackground5 { margin-left: 85px; display: none; }
    #inventory0, #inventory1, #inventory2, #inventory3, #inventory4, #inventory5 {
        position: absolute;
        top: -2.5px;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: rgba(0, 0, 0, 0);
    }
    #inventorynumber0, #inventorynumber1, #inventorynumber2, #inventorynumber3, #inventorynumber4, #inventorynumber5{
        position: absolute;
        width: 16px;
        height: 4px;
        left: 0;
        top: 15.5px;
        border: 0;
        color: rgba(255, 255, 255, 1);
        font-size: 4.5px;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #moreinventorybutton{
        position: absolute;
        display: none;
        width: 16px;
        height: 17px;
        top: 0;
        left: 285.5px;
        margin: 0;
        border: 0;
        background: url('../img/1/maintwo.png') no-repeat -591px -556px;
    }

    #inventoryButton {
        position: absolute;
        width: 14px;
        height: 15px;
        top: 1px;
        left: 285.5px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/1/main.png') no-repeat -196px -314px;
    }

    #inventoryButton:hover {
        background: url('../img/1/main.png') no-repeat -210px -314px;
    }

    #inventoryButton.active {
        background: url('../img/1/main.png') no-repeat -224px -314px;
    }

    #characterButton {
        position: absolute;
        width: 14px;
        height: 15px;
        top: 1px;
        left: 435px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/1/main.png') no-repeat -238px -314px;
    }

    #characterButton:hover {
        background: url('../img/1/main.png') no-repeat -252px -314px;
    }

    #characterButton.active {
        background: url('../img/1/main.png') no-repeat -266px -314px;
    }


    #helpbutton {
        position: absolute;
        width: 14px;
        height: 15px;
        top: 1px;
        left: 450px;
        margin: 0px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        background: url('../img/1/main.png' ) no-repeat -280px -314px;
    }

    #helpbutton:hover {
        background: url('../img/1/main.png' ) no-repeat -294px -314px;
    }

    #helpbutton.active {
        background: url('../img/1/main.png' ) no-repeat -308px -314px;
    }

    #soundbutton {
        position: absolute;
        width: 14px;
        height: 15px;
        top: 1px;
        left: 465px;
        margin: 0px;
        border: 0px;
        background: url('../img/1/main.png' ) no-repeat -126px -314px;
    }

    #soundbutton:hover {
        background: url('../img/1/main.png' ) no-repeat -112px -314px;
    }

    #soundbutton.active {
        background: url('../img/1/main.png' ) no-repeat -98px -314px;
    }

    #warpbutton {
        position: absolute;
        width: 14px;
        height: 15px;
        top: 0px;
        left: 233px;
        margin: 0px;
        border: 0px;
        background: url('../img/1/main.png' ) no-repeat -322px -314px;
    }

    #warpbutton:hover {
        background: url('../img/1/main.png' ) no-repeat -336px -314px;
    }

    #warpbutton.active {
        background: url('../img/1/main.png' ) no-repeat -350px -314px;
    }

    #chatbutton {
        position: absolute;
        width: 14px;
        height: 15px;
        top: 0px;
        left: 263px;
        margin: 0px;
        border: 0px;
        background: url('../img/1/main.png' ) no-repeat -378px -314px;
    }

    #chatbutton:hover {
        background: url('../img/1/main.png' ) no-repeat -364px -314px;
    }

    #chatbutton.active {
        background: url('../img/1/main.png' ) no-repeat -392px -314px;
    }

    #users {
        font-family:'GraphicPixel';
        position: absolute;
        width: 32px;
        height: 20px;
        top: 6px;
        left: 401px;
        margin: 0;
        border: 0;
        color: white;
    }
    #fps {
        font-family:'GraphicPixel';
        position: absolute;
        width: 44px;
        height: 4px;
        left: 435px;
        top: 16.5px;
        border: 0;
        color: rgba(255, 255, 255, 1);
        font-size: 4.5px;
        text-align: center;
        padding: 0;
        margin: 0;
    }
}


.clickable {

}