/**
 * Created by Flavius on 15-07-19.
 */

@media screen and (min-width: 1501px) {

    #skillcontainer.vertical {
        position: absolute;
        top: 25%;
        right: 42px;
        width:64px;
        height:380px;
        background-image: url('../img/3/main.png');
        background-position: -60px -987px;
    }

    .vertical #skillcontainermove {
    	position:absolute;
    	width:18px;
    	height:18px;
    	top:18px;
    	left:33px;
    	background-color:#0f0;
    }

    .vertical #skillcontainerswitch {
    	position:absolute;
    	width:18px;
    	height:18px;
    	top:18px;
    	left:9px;
    	background-color:#f00;
    }
    
    
    .vertical #skill0, .vertical #skill1, .vertical #skill2, .vertical #skill3, .vertical #skill4 {
    	position: absolute;    
        left: 5px;
        width: 48px;
        height: 60px;
        padding: 0px;
        margin: 0px;
    }

    .vertical #skill0 { top: 52px; }
    .vertical #skill1 { top: 115px; }
    .vertical #skill2 { top: 178px; }
    .vertical #skill3 { top: 241px; }
    .vertical #skill4 { top: 304px; }    
    	    
    .vertical #skill0Body, .vertical #skill1Body, .vertical #skill2Body, .vertical #skill3Body, .vertical #skill4Body {
        position: absolute;
    	left: 0px;
        top: 0px;
        width: 48px;
        height: 45px !important;
    }
    .vertical #skill0Cooltime, .vertical #skill1Cooltime, .vertical #skill2Cooltime, .vertical #skill3Cooltime, .vertical #skill4Cooltime {
        
    	position:absolute;
        top: 0px;
    	width: 48px;
        height: 45px;
        background-color: rgba(255, 0, 0, 0.5);
        text-align: center;
        font-size: 21px;
        padding-top: 0px;
        color: white;
        cursor: default;
        display: none;
    }

    .vertical #skill00, .vertical #skill01, .vertical #skill02, .vertical #skill03,
    .vertical #skill10, .vertical #skill11, .vertical #skill12, .vertical #skill13,
    .vertical #skill20, .vertical #skill21, .vertical #skill22, .vertical #skill23,
    .vertical #skill30, .vertical #skill31, .vertical #skill32, .vertical #skill33,
    .vertical #skill40, .vertical #skill41, .vertical #skill42, .vertical #skill43{
    	position:absolute;
    	display: none;
    	left:2px;
        top: 42px;
        width: 12px;
        height: 16px;
        border: 0px;
        background-image: url('../img/3/main.png');
        background-position: -988px -835px;
    }


    #skillcontainer.horizontal {
        position: absolute;
        top: 507px;
        left:1130px;
        width:328px;
        height:80px;
        background-image: url('../img/3/main.png');
        background-position: -123px -990px;
    }


    .horizontal #skillcontainermove {
    	position:absolute;
    	width:24px;
    	height:24px;
    	top:48px;
    	left:18px;
    	background-color:#0f0;
    }

    .horizontal #skillcontainerswitch {
    	position:absolute;
    	width:24px;
    	height:24px;
    	top:12px;
    	left:18px;
    	background-color:#f00;
    }
    
    .horizontal #skill0, .horizontal #skill1, .horizontal #skill2, .horizontal #skill3, .horizontal #skill4 {
    	position: absolute;    
        top: 10px;
        width: 48px;
        height: 60px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        
    }

    .horizontal #skill0 { left: 55px; }
    .horizontal #skill1 { left: 108px; }
    .horizontal #skill2 { left: 161px; }
    .horizontal #skill3 { left: 214px; }
    .horizontal #skill4 { left: 267px; }
    	    
    	    
    .horizontal #skill0Body, .horizontal #skill1Body, .horizontal #skill2Body, .horizontal #skill3Body, .horizontal #skill4Body {
        position: absolute;
    	left: 0px;
        top: 0px;
        width: 48px;
        height: 45px !important;
    }

    .horizontal #skill0Cooltime, .horizontal #skill1Cooltime, .horizontal #skill2Cooltime, .horizontal #skill3Cooltime, .horizontal #skill4Cooltime {
        
    	position:absolute;
        top: 0px;
    	width: 48px;
        height: 45px;
        background-color: rgba(255, 0, 0, 0.5);
        text-align: center;
        font-size: 21px;
        padding-top: 12px;
        color: white;
        cursor: default;
        display: none;
        z-index:10;
    }


    .horizontal #skill00, .horizontal #skill01, .horizontal #skill02, .horizontal #skill03,
    .horizontal #skill10, .horizontal #skill11, .horizontal #skill12, .horizontal #skill13,
    .horizontal #skill20, .horizontal #skill21, .horizontal #skill22, .horizontal #skill23,
    .horizontal #skill30, .horizontal #skill31, .horizontal #skill32, .horizontal #skill33,
    .horizontal #skill40, .horizontal #skill41, .horizontal #skill42, .horizontal #skill43{
    	position:absolute;
    	display: none;
    	left:2px;
        top: 42px;
        width: 12px;
        height: 16px;
        border: 0px;
        background-image: url('../img/3/main.png');
        background-position: -988px -835px;
    }
    
}


@media screen and (max-width: 1500px), screen and (max-height: 870px) {

    #skillcontainer.vertical {
        position: absolute;
        top: 125px;
        left:929px;
        width:43px;
        height:254px;
        background-image: url('../img/2/main.png');
        background-position: -40px -658px;
    }

    .vertical #skillcontainermove {
    	position:absolute;
    	width:12px;
    	height:12px;
    	top:12px;
    	left:22px;
    	background-color:#0f0;
    }

    .vertical #skillcontainerswitch {
    	position:absolute;
    	width:12px;
    	height:12px;
    	top:12px;
    	left:6px;
    	background-color:#f00;
    }
    
    
    .vertical #skill0, .vertical #skill1, .vertical #skill2, .vertical #skill3, .vertical #skill4 {
    	position: absolute;    
        left: 3.3px;
        width: 32px;
        height: 40px;
        border: 0px;
        padding: 0px;
        margin: 0px;
    }

    .vertical #skill0 { top: 35px; }
    .vertical #skill1 { top: 77px; }
    .vertical #skill2 { top: 119px; }
    .vertical #skill3 { top: 161px; }
    .vertical #skill4 { top: 203px; }    
    	    
    .vertical #skill0Body, .vertical #skill1Body, .vertical #skill2Body, .vertical #skill3Body, .vertical #skill4Body {
        position: absolute;
    	left: 0px;
        top: 0px;
        width: 32px;
        height: 30px !important;
    }
    .vertical #skill0Cooltime, .vertical #skill1Cooltime, .vertical #skill2Cooltime, .vertical #skill3Cooltime, .vertical #skill4Cooltime {
        
    	position:absolute;
        top: 0px;
    	width: 32px;
        height: 30px;
        background-color: rgba(255, 0, 0, 0.5);
        text-align: center;
        font-size: 14px;
        padding-top: 8px;
        color: white;
        cursor: default;
        display: none;
        z-index:10;
    }


    .vertical #skill00, .vertical #skill01, .vertical #skill02, .vertical #skill03,
    .vertical #skill10, .vertical #skill11, .vertical #skill12, .vertical #skill13,
    .vertical #skill20, .vertical #skill21, .vertical #skill22, .vertical #skill23,
    .vertical #skill30, .vertical #skill31, .vertical #skill32, .vertical #skill33,
    .vertical #skill40, .vertical #skill41, .vertical #skill42, .vertical #skill43{
    	position:absolute;
    	display: none;
    	left:1px;
        top: 28px;
        width: 8px;
        height: 11px;
        border: 0px;
        background-image: url('../img/2/main.png');
        background-position: -659px -557px;
    }


    #skillcontainer.horizontal {
        position: absolute;
        top: 338px;
        left:753px;
        width:219px;
        height:53px;
        background-image: url('../img/2/main.png');
        background-position: -82px -660px;
    }


    .horizontal #skillcontainermove {
    	position:absolute;
    	width:18px;
    	height:18px;
    	top:32px;
    	left:12px;
    	background-color:#0f0;
    }

    .horizontal #skillcontainerswitch {
    	position:absolute;
    	width:18px;
    	height:18px;
    	top:8px;
    	left:12px;
    	background-color:#f00;
    }
    
    .horizontal #skill0, .horizontal #skill1, .horizontal #skill2, .horizontal #skill3, .horizontal #skill4 {
    	position: absolute;    
        top: 6px;
        width: 32px;
        height: 40px;
        padding: 0px;
        margin: 0px;
    }

    .horizontal #skill0 { left: 37px; }
    .horizontal #skill1 { left: 72px; }
    .horizontal #skill2 { left: 107px; }
    .horizontal #skill3 { left: 143px; }
    .horizontal #skill4 { left: 178px; }
    	    
    	    
    .horizontal #skill0Body, .horizontal #skill1Body, .horizontal #skill2Body, .horizontal #skill3Body, .horizontal #skill4Body {
        position: absolute;
    	left: 0px;
        top: 0px;
        width: 32px;
        height: 30px !important;
    }
    .horizontal #skill0Cooltime, .horizontal #skill1Cooltime, .horizontal #skill2Cooltime, .horizontal #skill3Cooltime, .horizontal #skill4Cooltime {
        
    	position:absolute;
        top: 0px;
    	width: 32px;
        height: 30px;
        background-color: rgba(255, 0, 0, 0.5);
        text-align: center;
        font-size: 9px;
        padding-top: 0px;
        color: white;
        cursor: default;
        display: none;
    }

    .horizontal #skill00, .horizontal #skill01, .horizontal #skill02, .horizontal #skill03,
    .horizontal #skill10, .horizontal #skill11, .horizontal #skill12, .horizontal #skill13,
    .horizontal #skill20, .horizontal #skill21, .horizontal #skill22, .horizontal #skill23,
    .horizontal #skill30, .horizontal #skill31, .horizontal #skill32, .horizontal #skill33,
    .horizontal #skill40, .horizontal #skill41, .horizontal #skill42, .horizontal #skill43{
    	position:absolute;
    	display: none;
    	left:1px;
        top: 28px;
        width: 8px;
        height: 11.3px;
        border: 0px;
        background-image: url('../img/2/main.png');
        background-position: -658px -556px;
    }
}


@media screen and (max-width: 1000px) {

    #skillcontainer.vertical {
        position: absolute;
        top: 50px;
        left:465px;
        width:21px;
        height:127px;
        background-image: url('../img/1/main.png');
        background-position: -20px -329px;
    }

    .vertical #skillcontainermove {
    	position:absolute;
    	width:6px;
    	height:6px;
    	top:6px;
    	left:11px;
    	background-color:#0f0;
    }

    .vertical #skillcontainerswitch {
    	position:absolute;
    	width:6px;
    	height:6px;
    	top:6px;
    	left:3px;
    	background-color:#f00;
    }
    
    
    .vertical #skill0, .vertical #skill1, .vertical #skill2, .vertical #skill3, .vertical #skill4 {
    	position: absolute;    
        left: 1px;
        width: 16px;
        height: 20px;
        padding: 0px;
        margin: 0px;
    }

    .vertical #skill0 { top: 17px; }
    .vertical #skill1 { top: 40px; }
    .vertical #skill2 { top: 60px; }
    .vertical #skill3 { top: 80px; }
    .vertical #skill4 { top: 100px; }    
    	    
    .vertical #skill0Body, .vertical #skill1Body, .vertical #skill2Body, .vertical #skill3Body, .vertical #skill4Body {
        position: absolute;
    	left: 0px;
        top: 0px;
        width: 16px;
        height: 15px !important;
    }
    .vertical #skill0Cooltime, .vertical #skill1Cooltime, .vertical #skill2Cooltime, .vertical #skill3Cooltime, .vertical #skill4Cooltime {
        
    	position:absolute;
        top: 0px;
    	width: 16px;
        height: 15px;
        background-color: rgba(255, 0, 0, 0.5);
        text-align: center;
        font-size: 7px;
        padding-top: 0px;
        color: white;
        cursor: default;
        display: none;
    }

    .vertical #skill00, .vertical #skill01, .vertical #skill02, .vertical #skill03,
    .vertical #skill10, .vertical #skill11, .vertical #skill12, .vertical #skill13,
    .vertical #skill20, .vertical #skill21, .vertical #skill22, .vertical #skill23,
    .vertical #skill30, .vertical #skill31, .vertical #skill32, .vertical #skill33,
    .vertical #skill40, .vertical #skill41, .vertical #skill42, .vertical #skill43{
    	position:absolute;
    	display: none;
    	left:1px;
        top: 14px;
        width: 4px;
        height: 6px;
        border: 0px;
        background-image: url('../img/1/main.png');
        background-position: -330px -279px;
    }


    #skillcontainer.horizontal {
        position: absolute;
        top: 169px;
        left:377px;
        width:110px;
        height:27px;
        background-image: url('../img/1/main.png');
        background-position: -41px -330px;
    }


    .horizontal #skillcontainermove {
    	position:absolute;
    	width:9px;
    	height:9px;
    	top:16px;
    	left:6px;
    	background-color:#0f0;
    }

    .horizontal #skillcontainerswitch {
    	position:absolute;
    	width:9px;
    	height:9px;
    	top:4px;
    	left:6px;
    	background-color:#f00;
    }
    
    .horizontal #skill0, .horizontal #skill1, .horizontal #skill2, .horizontal #skill3, .horizontal #skill4 {
    	position: absolute;    
        top: 3px;
        width: 16px;
        height: 20px;
        border: 0px;
        padding: 0px;
        margin: 0px;
    }


    .horizontal #skill0 { left: 17px; }
    .horizontal #skill1 { left: 36px; }
    .horizontal #skill2 { left: 54px; }
    .horizontal #skill3 { left: 72px; }
    .horizontal #skill4 { left: 89px; }
    	    
    	    
    .horizontal #skill0Body, .horizontal #skill1Body, .horizontal #skill2Body, .horizontal #skill3Body, .horizontal #skill4Body {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 16px;
        height: 15px !important;
    }
    .horizontal #skill0Cooltime, .horizontal #skill1Cooltime, .horizontal #skill2Cooltime, .horizontal #skill3Cooltime, .horizontal #skill4Cooltime {
        
    	position:relative;
    	top:-15px;
    	width: 16px;
        height: 15px;
        background-color: rgba(255, 0, 0, 0.5);
        text-align: center;
        font-size: 7px;
        padding-top: 4px;
        color: white;
        cursor: default;
        display: none;
        z-index:10;
    }

    .horizontal #skill00, .horizontal #skill01, .horizontal #skill02, .horizontal #skill03,
    .horizontal #skill10, .horizontal #skill11, .horizontal #skill12, .horizontal #skill13,
    .horizontal #skill20, .horizontal #skill21, .horizontal #skill22, .horizontal #skill23,
    .horizontal #skill30, .horizontal #skill31, .horizontal #skill32, .horizontal #skill33,
    .horizontal #skill40, .horizontal #skill41, .horizontal #skill42, .horizontal #skill43 {
    	position:absolute;
    	display: none;
    	left:0px;
        top: 14px;
        width: 4px;
        height: 5px;
    }
}